<dom-module id="list-of-exporter-in-confirm">
    <template>
        <style include="gl-styles">
            table.gl-table-default {
                width: 100%;
                border: 1px solid #ddd;
                margin: 20px 0px 10px 0px;
            }
            
            table.gl-table-default>tbody.table-body>tr>td {
                cursor: pointer;
            }
        </style>
        <table class="gl-table-default">
            <thead class="table-head">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: 'list-of-exporter-in-confirm',
            behaviors: [
                nylonBehavior,
                nylonLocalizeBehavior
            ],
            created: function () {
                this.nylonLocalizeImport('/i18n-page1.json');
            },
            bookingDetail: function (e) {
                console.log(e.currentTarget.data);
                //สั่งเปลีย่นหน่า
                // this.fire('_change-component-bl',{detail:'list-of-booking-shm-det'})
                //ส่งดาต้า
                this.fire('_get-booking-detail', { detail: e.currentTarget.data })
            }
        });
    </script>
</dom-module>