<link rel="import" href="list-of-shm.html">
<link rel="import" href="booking-detail.html">
<link rel="import" href="list-of-booking-shm-det.html">
<dom-module id="list-of-booking-detail">

  <template>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="list-of-booking">
        <list-of-booking-shm-det data="{{data}}" data-for-select="[[dataForSelect]]"></list-of-booking-shm-det>
      </div>
      <div name="list-of-booking-add">
        <booking-detail data-book-no={{data}} data="[[dataDefault]]" data-for-select="[[dataForSelect]]" is-input-disabled="[[!isInputDisabled]]"
          is-view-seleted="[[!isViewSeleted]]"></booking-detail>
      </div>
      <div name="list-of-booking-edit">
        <booking-detail data-book-no={{data}} data="{{bookDataEdit}}" data-for-select="[[dataForSelect]]" is-input-disabled="[[isInputDisabled]]"
          is-view-seleted="[[isViewSeleted]]"></booking-detail>
      </div>
      <div name="list-of-booking-shm-det">
        <list-of-shm page-selected="{{subPageSelected}}" data-selected="{{dataSelected}}" data-for-select="[[dataForSelect]]"></list-of-shm>
      </div>
    </iron-pages>

  </template>
  <script>
    Polymer({
      is: "list-of-booking-detail",
      behaviors: [
        g2gModelBehavior,
        g2gCongtroller,
      ],
      properties: {
        pageSelected: {
          type: String,
          value: 'list-of-booking',
          notify: true,
          observer: 'setPageseleted'
        },
        dataForSelect: {
          type: Object,
          // observer: 'setDefaultDate'
        },
      },
      listeners: {
        '_change-component-book': '_changeComponentBook',
        '_get-shm-detail': '_getShmDetail',
        '_get-fire-shm-detail': '_getFireShmDetail',
        '_edit-booking-detail': '_editBooking'
      },
      setPageseleted: function () {
        this.set('subPageSelected', 'list-of-shm-det')
      },
      _changeComponentBook: function (data) {
        // console.log(data.detail.detail);
        this.set('pageSelected', data.detail.detail)
      },
      _editBooking: function (e) {
        // console.log(e.detail.detail);
        this.set('bookDataEdit', e.detail.detail)
        this.set('pageSelected', 'list-of-booking-edit')
      },
      _getShmDetail: function (e) {
        // console.log(e.detail.detail.book_id);
        this.fire('toast', { status: 'load' });
        this.read('./g2g/shipment_detail/book/id/' + e.detail.detail.book_id, (data) => {

          this.dataSelected = data;
          // console.log(this.dataSelected);
          this.set('dataForSelect.book_id', e.detail.detail.book_id)
          // console.log(this.dataForSelect);
          this.set('pageSelected', 'list-of-booking-shm-det')
          this.fire('toast', { status: 'load' });
        });
      },
      _getFireShmDetail: function (e) {
        // console.log(e.detail.detail.book_id);
        this.read('./g2g/shipment_detail/book/id/' + e.detail.book_id, (data) => {
          // ตั่งค่าลิมิตข้าวใหม่ทุกรอบที่มีการ เพิ่ม หรือ ลบผู้ส่งออก
          if(data.length > 0) {
            // console.log(data[0].cl_type_rice);
            this.set('dataForSelect.cl_type_rice',data[0].cl_type_rice)
          }
          // console.log(this.dataForSelect.cl_type_rice);
          // console.log(data);
          // console.log('zzzzzzzzzzzzzzzzzz');
          this.dataSelected = data;
        });
      },
      

    });
  </script>
</dom-module>