<dom-module id="list-of-shm-det">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    table.gl-table-default {
      width: 100%;
      border: 1px solid #ddd;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > tbody.table-body > tr > td {
      cursor: pointer;
    }
  </style>
  <template>
    <gl-form-panel>
      <gl-form-panel-head label="{{localize('text_list_exporter_name')}}" set-padding="10px" set-border="1px">
          <paper-button class="gl-btn-primary" raised on-tap="createShmDet">{{localize('btn_add_exporter')}}</paper-button>
      </gl-form-panel-head>
      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>{{localize('label_order')}}</th>
            <th>{{localize('text_list_exporter_name')}}</th>
            <th>{{localize('label_rice_type')}}</th>
            <th>{{localize('label_quantity')}}</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <template is="dom-repeat" items="[[data]]">
            <tr on-tap="shmDetail" data="[[item]]">
              <td>[[_ObcountIndex(index)]]</td>
              <td>[[item.seller_name_en]]</td>
              <td>[[item.type_rice_name_en]]</td>
              <td>[[item.shm_det_quantity]]</td>
            </tr>
          </template>
          <template is="dom-if" if="[[_isHave(data)]]">
                  <tr >
                    <td colspan="4" style="text-align: center">  {{localize('text_no_data')}}</td>
                  </tr>
              </template>
        </tbody>
      </table>
      <gl-form-panel-footer set-padding="10px 20px 0px 20px">
        <paper-button class="gl-btn-default" raised on-tap="backWard2Booking">
              {{localize('btn_back_ward')}}</paper-button>
        
        <paper-button class="gl-btn-success" raised dias on-tap="approveBook" hidden="[[_isHave(data)]]" disabled="[[_confirmBook(data)]]">
                    {{localize('btn_confirm')}}</paper-button>
    </gl-form-panel-footer>
    </gl-form-panel>


  </template>
  <script>
    Polymer({
      is: "list-of-shm-det",
      behaviors: [
        g2gCongtroller,
          nylonBehavior,
          nylonLocalizeBehavior
      ],
      created:function(){
          this.nylonLocalizeImport('/i18n-page1.json');
      },
      createShmDet:function () {
        this.fire('_change-component-shm',{detail:'list-of-shm-det-add'})
      },
      shmDetail:function (e) {
        // this.fire('_change-component-shm',{detail:'shm-detail'})
        this.fire('_get-fire-in-book-shm-detail',{detail:e.currentTarget.data})
      },
      _confirmBook:function (data) {
          if ( (data.every(status => status.book_status == false))) {
            return false;
          } else {
              return true;
          }
      },
      approveBook:function (e) {
        // console.log(this.data[0].book_id);
        this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
              status:'dialog',
              text:'ต้องการยืนยันข้อมูลใช่หรือไม่ ?',
              confirmed:this._approveData.bind(this), //function ที่ใช้รับค่า ปุ่ม
              el: this, // compontents
          });
        

      },
      _approveData:function (result,detail) {
        if (result == true) {
           this.fire('_post-approve-book',{id:this.data[0].book_id,book_status:'approve'});
           this.fire('_get-fire-shm-detail',{book_id:this.data[0].book_id});
         }
      },
      backWard2Booking:function () {
        this.fire('_change-component-book',{detail:'list-of-booking'})
      }

    });
  </script>
</dom-module>
