<dom-module id="list-of-shm-det">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    table.gl-table-default {
      width: 100%;
      border: 1px solid #ddd;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > tbody.table-body > tr > td {
      cursor: pointer;
    }
  </style>
  <template>

    <gl-form-panel>
      <gl-form-panel-head label="{{localize('text_list_exporter_name')}}" set-padding="10px" set-border="1px">
          <paper-button class="gl-btn-primary" raised on-tap="createShmDet">{{localize('btn_add_exporter')}}</paper-button>
      </gl-form-panel-head>
      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>{{localize('label_order')}}</th>
            <th>{{localize('text_list_exporter_name')}}</th>
            <th>{{localize('label_rice_type')}}</th>
            <th>{{localize('label_quantity')}}</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <template is="dom-repeat" items="[[data]]">
            <tr on-tap="shmDetail" data="[[item]]">
              <td>1</td>
              <td>[[item.seller_name_en]]</td>
              <td>[[item.type_rice_name_en]]</td>
              <td>[[item.shm_det_quantity]]</td>
            </tr>
          </template>

        </tbody>
      </table>
      <gl-form-panel-footer set-padding="10px 20px 0px 20px">
        <paper-button class="gl-btn-default" raised on-tap="backWard2Booking">
              {{localize('btn_back_ward')}}</paper-button>
    </gl-form-panel-footer>
    </gl-form-panel>


  </template>
  <script>
    Polymer({
      is: "list-of-shm-det",
      behaviors: [
          nylonBehavior,
          nylonLocalizeBehavior
      ],
      created:function(){
          this.nylonLocalizeImport('/i18n-page1.json');
      },
      createShmDet:function () {
        this.fire('_change-component-shm',{detail:'list-of-shm-det-add'})
      },
      shmDetail:function (e) {
        // this.fire('_change-component-shm',{detail:'shm-detail'})
        this.fire('_get-fire-shm-detail',{detail:e.currentTarget.data})
      },
      backWard2Booking:function () {
        this.fire('_change-component-book',{detail:'list-of-booking'})
      }

    });
  </script>
</dom-module>
