<link rel="import" href="../../../../../bower_components/gl-styles/gl-size.html">
<dom-module id="list-of-booking-shm-det">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles gl-size">
    :host {
      display: block;
    }
    .textinPut {
      margin-bottom: 30px;
    }
    table {
      border: 0.16px solid #F1F1F1;
      margin-bottom: 16px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td {
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td {
      cursor: pointer;
    }
    .gl-btn-info{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size:14px;
    }
    /*table.gl-table-default > thead.table-head > tr > th:nth-child(3),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(3){
      width: 33%;
      text-align: right;
    }*/
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <gl-form-panel-head label="{{localize('text_list_booking')}}" set-padding="10px" set-border="1px">
          <div class="addconfirm horizontal end-justified layout">
            <paper-button raised class="gl-btn-primary" on-tap="createBooking">{{localize('btn_add_booking')}}</paper-button>
          </div>
      </gl-form-panel-head>
            <br>
            <gl-grid-row width="{{getWidth}}">
              <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                  {{localize('text_list_booking')}}
              </gl-grid-col> -->
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                <div class="textinPut">
                  {{localize('label_confirmation_letter')}}{{localize('text_order_no')}} : [[dataForSelect.cl_no]]
                </div>

                  <!-- <gl-form-input disabled label="{{localize('label_confirmation_letter')}}{{localize('text_order_no')}}" value="[[dataForSelect.cl_no]]"></gl-form-input> -->
              </gl-grid-col>
            </gl-grid-row>

          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th>{{localize('label_lot_no')}}</th>
                <th>{{localize('label_port_of_destination')}}</th>
                <th>{{localize('label_place_of_delivery')}}</th>
                <th>{{localize('label_action')}}</th>
              </tr>
            </thead>
            <tbody class="table-body">
                <template is="dom-repeat" items="[[data]]">
                  <tr >
                    <td on-tap="getShmDetail" data="[[item]]"> [[item.ship_lot_no]] </td>
                    <td on-tap="getShmDetail" data="[[item]]"> [[item.dest_port_name]] </td>
                    <td on-tap="getShmDetail" data="[[item]]"> [[item.deli_port_name]] </td>
                    <td><paper-button class="gl-btn-info gl-small" raised on-tap="btnEditBooking" data="[[item]]">
                          {{localize('btn_detail')}}</paper-button></td>
                  </tr>
                </template>
              <template is="dom-if" if="[[_isHave(data)]]">
                  <tr >
                    <td colspan="4">  {{localize('text_no_data')}}</td>
                  </tr>
              </template>
            </tbody>
          </table>
          <!-- </gl-form-panel-body> -->
          <gl-form-panel-footer set-padding="10px 20px 0px 20px">
            <paper-button class="gl-btn-default" raised on-tap="backWard2BookingInConfirm">
                  {{localize('btn_back_ward')}}</paper-button>

        </gl-form-panel-footer>
      </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "list-of-booking-shm-det",
      behaviors: [
          g2gCongtroller,
          FormatNumberBehavior,
          nylonBehavior,
          nylonLocalizeBehavior
      ],
      properties: {
        data: {
          type: Object,
        }
      },
      created:function(){
          this.nylonLocalizeImport('/i18n-page1.json');
      },
      createBooking:function () {
        this.fire('_change-component-book',{detail:'list-of-booking-add'})
      },
      getShmDetail:function (e) {
        // this.fire('_change-component-book',{detail:'list-of-booking-shm-det'});
        this.fire('_get-shm-detail',{detail:e.currentTarget.data});
      },
      backWard2BookingInConfirm:function () {
        this.fire('_change-component-bl',{detail:'list-of-booking-in-confirm'})
      },
      btnEditBooking:function (e) {
       this.fire('_edit-booking-detail',{detail:e.currentTarget.data});
      }
    });
  </script>
</dom-module>
