<link rel="import" href="shm-det-exporter.html">
<link rel="import" href="list-of-shm-det.html">
<dom-module id="list-of-shm">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    table.gl-table-default {
      width: 100%;
      border: 1px solid #ddd;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > tbody.table-body > tr > td {
      cursor: pointer;
    }
  </style>
  <template>
      <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
        <div name="list-of-shm-det">
          <list-of-shm-det data="{{dataSelected}}"></list-of-shm-det>
        </div>
        <div name="list-of-shm-det-add">
          <shm-det-exporter is-input-disabled="[[!isInputDisabled]]" data-for-select="[[dataForSelect]]" is-view-seleted="[[!isViewSeleted]]"></shm-det-exporter>
        </div>
        <div name="shm-detail">
          <shm-det-exporter  data="[[dataEdit]]" is-input-disabled="[[isInputDisabled]]" data-for-select="[[dataForSelect]]" is-view-seleted="[[isViewSeleted]]"></shm-det-exporter>
        </div>
      </iron-pages>

  </template>
  <script>
    Polymer({
      is: "list-of-shm",
      behaviors: [
        g2gCongtroller,
        g2gModelBehavior,
          nylonBehavior,
          nylonLocalizeBehavior
      ],
      properties: {
        pageSelected: {
          type: String,
          value:'list-of-shm-det',
          notify:true
        },
        dataEdit:{
          type:Object,
          value:{}
        }
      },
      created:function(){
          this.nylonLocalizeImport('/i18n-page1.json');
      },
      listeners:{
        '_change-component-shm':'_changeComponentShm',
        '_get-fire-in-book-shm-detail':'_getFireInBookShmDetail',
        '_post-approve-book':'_postApproveBook'
      },
      _changeComponentShm:function (data) {
        // console.log(data.detail.detail);
        // console.log(this.dataSelected);
        this.set('pageSelected',data.detail.detail)
      },
      _getFireInBookShmDetail:function (e) {
        // console.log(e.detail.detail);
        // console.log(this.dataSelected);
        this.dataEdit=e.detail.detail;
        this.set('dataEdit',e.detail.detail)
        // console.log(this.dataEdit);
        this.set('pageSelected','shm-detail')
      },
      _postApproveBook:function (e) {
        // console.log(e.detail);
        this.fire('toast',{status:'load'});
        this.update('./g2g/book/update/',e.detail ,()=>{
          this.fire('toast',{status:'load'});
          // console.log(11);
        });
      }

    });
  </script>
</dom-module>
