<link rel="import" href="list-of-booking-in-confirm.html">
<link rel="import" href="list-of-booking-in-confirm-add.html">
<link rel="import" href="list-of-booking-shm-det.html">
<link rel="import" href="list-of-booking-detail.html">
<dom-module id="list-of-booking">

  <template>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="list-of-booking-in-confirm">
        <list-of-booking-in-confirm  data="{{data}}"></list-of-booking-in-confirm>
      </div>
      <!-- <div name="list-of-booking-in-confirm-add">
        <list-of-booking-in-confirm-add></list-of-booking-in-confirm-add>
      </div> -->
      <div name="list-of-booking-shm-det">
        <list-of-booking-detail data="{{dataSelected}}" data-for-select="[[dataForSelect]]"></list-of-booking-detail>
      </div>
    </iron-pages>

  </template>
  <script>
    Polymer({
      is: "list-of-booking",
      properties: {
        pageSelected: {
          type: String,
          value:'list-of-booking-in-confirm'
        },
        dataSelected:{
          type:Array
        },
        dataForSelected:{
          type:Object,
        }
      },
      behaviors: [
          g2gModelBehavior,
          g2gCongtroller,
      ],
      listeners:{
        '_change-component-bl':'_changeComponentBl',
        '_get-booking-detail':'_getBookingDetail'
      },
      _changeComponentBl:function (data) {
        // console.log(data.detail.detail);
        this.set('pageSelected',data.detail.detail)
      },
      _getBookingDetail:function (e,fn) {
        // console.log(e.detail.detail);
        // console.log(this.dataForSelect);
        this.read('./g2g/book/confirm/id/'+e.detail.detail.cl_id,(data)=>{
          this.dataSelected=data;
          this.set('dataForSelect.cl_id',e.detail.detail.cl_id);
          console.log(this.dataForSelect);
          this.set('pageSelected','list-of-booking-shm-det')
        });

      }

    });
  </script>
</dom-module>
