<dom-module id="list-of-booking-in-confirm">
  <style include="gl-styles">
    table.gl-table-default {
      width: 100%;
      border: 1px solid #ddd;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > tbody.table-body > tr > td {
      cursor: pointer;
    }
  </style>
  <template>

    <gl-form-panel>
      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>{{localize('label_order')}}</th>
            <th>{{localize('label_quantity')}}</th>
            <th>Book Quantity</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <template is="dom-repeat" items="[[data.book]]">
            <tr on-tap="bookingDetail" data="[[item]]">
              <td>[[item.cl_no]]</td>
              <td>[[item.cl_quantity_total]]</td>
              <td>[[item.book_quantity]]</td>
            </tr>
          </template>

        </tbody>
      </table>
    </gl-form-panel>

  </template>
  <script>
    Polymer({
      is: "list-of-booking-in-confirm",
      behaviors: [
          nylonBehavior,
          nylonLocalizeBehavior
      ],
      created:function(){
          this.nylonLocalizeImport('/i18n-page1.json');
      },
      bookingDetail:function (e) {
        //สั่งเปลีย่นหน่า
        this.fire('_change-component-bl',{detail:'list-of-booking-shm-det'})
        //ส่งดาต้า
        this.fire('_get-booking-detail',{detail:e.currentTarget.data})
      }

    });
  </script>
</dom-module>
