<dom-module id="detail-member">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .title {
        text-align: center;
        font-size: var(--font-size-h4);
        margin: 20px 0px 20px 0px;
    }
    vaadin-date-picker{
      width: 70%;
    }
    paper-icon-button{
      margin-top: 20px;
    }
    .padding{
      padding: 20px;
    }
    .text{
      margin-top: 25px;
      font-size: var(--font-size-h4);
    }
  </style>
  <template>
      <!-- <form is="iron-form" id="insertMember"> -->
      <div class="title">{{localize('data_seller')}}</div>
        <gl-form-panel set-border="0">
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input style="width:70%" label="{{localize('no_exporter_fullname')}} :" value="{{data.exporter_no}}"></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="{{localize('tax_no')}} :" value="{{data.company_taxno}}" disabled></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-textarea label="{{localize('name_company')}} :" value="{{data.company_name_th}}" disabled></gl-form-textarea>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-textarea  label="{{localize('name_company')}} ({{localize('eng')}}) :" value="{{data.company_name_en}}" disabled></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
              <gl-form-textarea label="{{localize('address')}} :" value="{{data.company_address_th}}" disabled></gl-form-textarea>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
              <gl-form-textarea label="{{localize('address')}} ({{localize('eng')}}) :" value="{{data.company_address_en}}" disabled></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
          <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input  label="รหัสไปรษณีย์ :" value=""></gl-form-label-input>
          </gl-grid-col> -->
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-textarea label="{{localize('tel')}} :" value="{{data.company_phone}}" disabled></gl-form-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="{{localize('fax')}} :" value="{{data.company_fax}}" disabled></gl-form-input>
          </gl-grid-col>

          <!--<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="{{localize('e-mail')}} :" value="{{data.company_email}}" disabled></gl-form-input>
          </gl-grid-col>-->
          <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="เลขที่หนังสืออนุญาต ปกข. :" value="{{data.trader_no}}" disabled></gl-form-input>
          </gl-grid-col> -->
          <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input  label="สถานะเป็นสมาชิกผู้ส่งออกข้าว :" value="{{data.exporter_status_name}}"></gl-form-label-input>
          </gl-grid-col> -->
          <!--<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="{{localize('type_license')}} :" value="{{data.type_lic_name}}" disabled></gl-form-input>
          </gl-grid-col>-->
        </gl-grid-row>
        <div class="horizontal layout">
          <div class="text">{{localize('list_board')}}</div>
          <!-- <paper-icon-button icon="icons:add-circle" on-tap="_addAgent"></paper-icon-button> -->
        </div>
        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <template is="dom-repeat" items="{{data.company_agent}}">
              <gl-form-input label="{{localize('name_committee')}}" value="{{item.agent_name}}" disabled></gl-form-input>
            </template>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input always-float-label label="{{localize('note')}} : "value="{{data.company_remark}}" disabled></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel>
<!--
      <gl-form-panel-body set-border="1px">
        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="เลขประจำตัวผู้ส่งออกข้าว :" placeholder="ใส่เลขประจำตัวผู้ส่งออก" value="{{data.exporter_no}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="วันที่อนุมัติ :" value="{{data.exporter_date_approve}}"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body> -->
    <!-- </form> -->

  </template>
  <script>
    Polymer({
      is: "detail-member",
      properties:{
        data:{
          type:Object,
          notify:true
        }
      },
      behaviors: [nylonLocalizeBehavior, nylonBehavior],
      created:function(){
          this.nylonLocalizeImport('/i18n-page-admin-exporter.json');
      },
      // _addAgent:function() {
      //   // console.log(this.data.company_agent=[{agent_name:'สวัสดี'}]);
      //   // this.data.company_agent = this.datatest;
      //   // console.log(this.data);
      //   this.push('data.company_agent', {
      //     agent_name: ''
      //   });
      // }
    });
  </script>
</dom-module>
