<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" rel="stylesheet" type="text/css">
<script src="./../../../../bower_components/d3/d3.min.js" charset="utf-8"></script>
<script src="./../../../../bower_components/c3/c3.min.js"></script>

<link rel="import" href="./../../components/page-style.html">

<dom-module id="test-bar-c3">
    <template>
        <style include="page-style">
             :host {
                display: block;
            }
            
        </style>
        12121212
        <div id="chart"></div>
    </template>
    <script>
        Polymer({
            is: 'test-bar-c3',
            attached() {
                // console.log(this.$$('#chart'))
                var chart = c3.generate({
                    bindto: this.$$('#chart'),
                    data: {
                        x: 'x',
                        columns: [
                            ['x', 1, 2, 3, 4, 5, 6],
                            ['data1', 30, 20, 50, 40, 60, 50],
                            ['data2', 200, 130, 90, 240, 130, 220],
                        ],
                        type: 'bar',
                        groups: [
                            ['data1', 'data2']
                        ]
                    },
                    size: {
                        height: 240,
                        width: 480
                    },
                });
            }
        });
    </script>
</dom-module>