<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="./flexbox-grid.html">
<link rel="import" href="./page-style.html">
<link rel="import" href="../../bower_components/gl-styles/gl-color.html">

<link rel="import" href="../../bower_components/gl-styles/gl-styles.html">

<dom-module id="shared-styles">
    <template>
        <style include="flexbox-grid gl-styles page-style gl-color">
            @font-face {
                font-family: CSChatThaiUI;
                src: url('../../fonts/CSChatThaiUI.eot');
                src: url('../../fonts/CSChatThaiUI.eot?#iefix') format('eot'), url('../../fonts/CSChatThaiUI.woff') format('woff'), url('../../fonts/CSChatThaiUI.ttf') format('truetype'), url('../../fonts/CSChatThaiUI.svg') format('svg');
            }

            paper-material.white {
                padding: 5px;
                background-color: var(--gl-white-color);
                border-radius: 3px;
            }
        </style>
    </template>
</dom-module>