<!--<link rel="import" href="cheque-detail-invoice.html">-->
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">
<dom-module id="cheque-detail">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
     :host {
      display: block;
    }

     :host {
      display: block;
    }

    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }

    table.gl-table-default>thead.table-head>tr>th,
    table.gl-table-default>tbody.table-body>tr>td,
    table.gl-table-default>thead.table-head>tr>th {
      text-align: center;
    }

    table.gl-table-default>tbody.table-body>tr>td:nth-child(2),
    table.gl-table-default>tbody.table-body>tr>td:nth-child(3) {
      text-align: left;
    }



    vaadin-date-picker {
      margin-top: -27px;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <!--<template is="dom-repeat" items="[[data]]">-->
      <!--<div class="gl-panel-default">-->
      <div class="horizontal center-justified layout" style="overflow-x:auto;">
        <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th style="width: 50px;">
                <paper-checkbox on-tap="_selectDataAll" checked="{{selectDataAll}}"></paper-checkbox>{{localize.select}}</th>
              </th>
              <th style="width: 70px">งวดที่</th>
              <th style="width: 70px;">ครั้งที่</th>
              <th style="width: 70px;">รอบ</th>
              <th style="width: 240px;">บริษัท</th>
              <th style="width: 170px; text-align: right;">จำนวนเงิน</th>
              <th style="width: 140px;">เลขที่ใบแจ้งหนี้</th>
              <th style="width: 140px;">วันที่ใบแจ้งหนี้</th>
              <th style="width: 180px">เลขที่เช็ค</th>
            </tr>
            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-repeat" items="{{data}}">
              <tr style="{{checkStatus(item.cheque_status)}}">
                <td>
                  <paper-checkbox data="{{item}}" checked="{{item.check}}" disabled="{{item.cheque_status}}" on-tap="setNoCheque"></paper-checkbox>
                </td>
                <td>[[item.cl_no]]</td>
                <td>[[item.fee_no]]</td>
                <td>[[item.fee_round]]</td>
                <td>[[item.company.company_name_th]] </td>
                <td style="text-align: right;">[[formatNumber(item.value_final_b)]] </td>
                <td>
                  <gl-form-input placeholder="เลขที่ใบแจ้งหนี้" disabled="{{item.cheque_status}}" no-label-float value="{{item.payment_no}}"
                    data="[[item]]" on-blur="updateCheque"></gl-form-input>
                </td>
                <td>
                  <gl-form-input type="date" class="required" required="{{item.check}}"  placeholder="วันที่" disabled="{{item.cheque_status}}" no-label-float
                    value="{{item.invoice_company_date}}" data="[[item]]"></gl-form-input>
                </td>
                <td>[[changeString2Num(item.*,'invoice_company_no')]]
                  <gl-form-input placeholder="เลขที่เช็ค" class="required" required="{{item.check}}" disabled="{{item.cheque_status}}" no-label-float value="{{item.invoice_company_no}}"
                    data="[[item]]"></gl-form-input>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <div class="btnMoney horizontal end-justified layout">
        <paper-button class="gl-btn-success" raised on-tap="getChequeDetail">ขึ้นเช็ค</paper-button>
      </div>
      <!--</template>-->
    </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "cheque-detail",
      behaviors: [ReduxBehavior, g2gLogicBehavior, FormatNumberBehavior, ValidateFormBehavior],
      properties: {
        localize: {
          statePath: 'i18n.g2g'
        },
        no: {
          type: Number,
          value: 1120
        },
        data: {
          statePath: 'cheque.cheque_detail_list',
        },
        dataUrl: {
          statePath: 'cheque.dataUrl',
        },
      },
      _selectDataAll: function (val) {
        try {
          this.data.map((item, index) => {
            this.set('data.' + index + '.check', this.selectDataAll);
          });
        } catch (error) {

        }
      },
      checkStatus: function (cheque_status) {
        if (cheque_status) return 'background-color: #F1F1F1;'
        return ''
        // console.log(cheque_status)
      },
      _selectDataAll: function (val) {
        try {
          if (this.selectDataAll) {
            this.data.map((item, index) => {
              // if (item.cheque_status === false) {
              if (item.cheque_status === false && item.check === false) {
                this.set('data.' + index + '.check', true)
                let newCh = this.data.filter((items) => items.check === true && items.cheque_status === false)
                let result = this.maxNumberInArrayObject(newCh, 'invoice_company_no')
                if (result === 0) {
                  this.set('data.' + index + '.invoice_company_no', this.no + 1)
                } else {
                  this.set('data.' + index + '.invoice_company_no', result + 1)
                }
              }
            })
          } else {
            this.data.map((item, index) => {
              // console.log(item.cheque_status === true);

              if (item.cheque_status === false) {
                this.set('data.' + index + '.check', true);
                this.set('data.' + index + '.check', false)
                this.set('data.' + index + '.invoice_company_no', '');
              }
            })
          }
          // this.data.map((item, index) => {
          //   if (item.cheque_status === false && item.check === false) {
          //     this.set('data.' + index + '.check', this.selectDataAll);
          //     // console.log(this.data.filter((items)=> items.check === true && items.cheque_status === false && items.invoice_company_no === ''))
          //     let newCh = this.data.filter((items) => items.check === true && items.cheque_status === false)
          //     let result = this.maxNumberInArrayObject(newCh, 'invoice_company_no')
          //     if (result === 0) {
          //       this.set('data.' + index + '.invoice_company_no', this.no + 1)
          //     } else {
          //       this.set('data.' + index + '.invoice_company_no', result + 1)
          //     }

          //   } else {
          //     if (this.selectDataAll === false) {
          //       this.set('data.' + index + '.check', this.selectDataAll);
          //       this.set('data.' + index + '.invoice_company_no', '');
          //     }
          //   }

        } catch (error) {

        }
      },
      setNoCheque: function (para) {
        // console.log(para.model.__data__)
        //เพิ่ม index ลงไปเพื่อไว้ ใส่ค่ากลับได้ถูกตำแหน่ง
        this.data.map((item, index) => item.indexItem = index)
        let item = para.model.__data__
        // หา item ที่ check แล่วและ cheque_status ยังเป็น false
        let newCh = this.data.filter((item) => item.check === true && item.cheque_status === false)
        newCh.sort((a, b) => Number(a.invoice_company_no) - Number(b.invoice_company_no))
        if (item.item.check === false) {
          this.set('data.' + item.index + '.invoice_company_no', '')
          let resultMin = this.minNumberInArrayObject(newCh, 'invoice_company_no')

          if (this.no === resultMin - 1) {
            newCh.map((item, index) => {
              if (item.invoice_company_no !== resultMin) {
                this.set('data.' + item.indexItem + '.invoice_company_no', resultMin)
              }
              ++resultMin
            })
          } else {
            let no = this.no
            // เรียงจากนค่า invoice_company_no น้อยไปหามาก
            // newCh.sort(function (a, b) { return a.invoice_company_no + b.invoice_company_no })
            newCh.map((item, index) => {
              this.set('data.' + item.indexItem + '.invoice_company_no', ++no)
            })
          }
        } else {

          //อยู่ใน g2gLogicBehavior 
          let result = this.maxNumberInArrayObject(newCh, 'invoice_company_no')
          if (result === 0)
            return this.set('data.' + item.index + '.invoice_company_no', this.no + 1)
          return this.set('data.' + item.index + '.invoice_company_no', result + 1)
        }

      },
      _resiveDataContract(){
        return new Promise((res, rej) => {
          let dataResive = this.data.filter((item)=> item.check === true )
          dataResive.map((date)=>{
            delete date.check
            delete date.indexItem
            return date.invoice_company_date = date.invoice_company_date + 'T00:00:00+07:00'
          })
          // dataResive.invoice_exporter_date = dataResive.invoice_exporter_date + 'T00:00:00+07:00'
          // delete dataResive.date_updated
          // delete dataResive.date_created
          res(dataResive)
        })
      },
      _resiveChequeForm: function () {
        return new Promise((res, rej) => {
          if (this.validateForm('.required')) {
            this._resiveDataContract().then((data) => {
              res(data)
            })
          } else {
            this.fire('toast', {
              status: 'connectError', text: 'กรุณากรอกข้อมูลให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
              callback: function () {
                rej('error')
              }
            })
          }
        })
      },
      getChequeDetail: function () {
         this._resiveChequeForm()
          .then((res) => {
            // this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
            console.log(res)
            // this.dispatchAction('PUT_CHEQUE_DETAIL_LIST',res)
            // .then((res)=>{
            //   console.log(res);
            // })
            this.dispatchAction('GET_CHEQUE_DETAIL_LIST',{id:this.dataUrl})
          })
      }
    });
  </script>
</dom-module>