<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-head.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-body.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-footer.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-textarea.html">
<link rel="import" href="./../../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">

<dom-module id="commercial-invoice">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles page-style">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    
    .text {
      text-align: center;
      font-size: var(--font-size-large);
    }
    
    .table-head>tr>th:nth-child(1) {
      width: 10%;
      text-align: center;
    }
    
    .table-head>tr>th:nth-child(2) {
      width: 10%;
      text-align: center;
    }
    
    .table-head>tr>th:nth-child(3) {
      width: 60%;
      text-align: center;
    }
    
    .table-head>tr>th:nth-child(4) {
      width: 20%;
      text-align: center;
    }
    
    .desWeigth:nth-child(4) {
      text-align: right;
      /*color: red;*/
    }
    
    .table-foor>tr>td {
      padding: 15px;
    }
    
    .report>.icon_print {
      padding-top: 24px;
    }
  </style>
  <template>

    <gl-form-panel set-padding="10px 20px 10px 20px">
      <template is="dom-if" if="[[!isViewSeleted]]">
        <gl-form-panel-head set-border="1px" set-padding="0px 20px 10px 20px">
          <div class="horizontal end-justified layout report">
            <template is="dom-if" if="[[_checkUndefined(data.invoice_id)]]">
              <gl-combo-box class="required" required always-float-label label="รูปแบบ" placeholder="รูปแบบ" value="{{printReport.typeFile}}"
                item-label-path="report_type" item-value-path="report_type_id" items="{{report.report_type}}">
                 <template>
                  [[item.report_type]]
                </template>
                </gl-combo-box>
              <div class="icon_print">
                <paper-icon-button id="printInvoice" class="crud" icon="print" raised on-tap="printInvoice"></paper-icon-button>
                <paper-tooltip for="printInvoice" offset="0">Print Invoice</paper-tooltip>
              </div>
            </template>
            <div class="icon_print">
              <icon-button-management is-input-disabled="[[!isInputDisabled]]"></icon-button-management>
            </div>
          </div>
        </gl-form-panel-head>

      </template>
      <gl-form-panel-body>

        <div class="text">{{localize.label_cm_invoice}}</div>
        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <gl-form-input class="required" required disabled="[[isInputDisabled]]" label="{{localize.label_invoice_no}} :" placeholder="{{localize.text_your_detail}}"
              error-message="{{localize.text_enter_your_detail}}" value="{{data.invoice_no}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,0],[500,8]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <gl-form-input type="date" class="required" required disabled="[[isInputDisabled]]" label="{{localize.label_invoice_date}}" value="{{data.invoice_date}}"></gl-form-input>
            <!--<vaadin-date-picker class="required" required disabled="[[isInputDisabled]]" label="{{localize.label_invoice_date}}" value="{{data.invoice_date}}"></vaadin-date-picker>-->
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
            <template is="dom-repeat" items="{{data.detail}}">
              <gl-form-textarea disabled value="[[item.package_amount]] BAGS OF [[_obSetUpper(item.hamonize.hamonize_en)]] BROKENS, [[item.project_en]] CURRENT NEW CROP, DOUBLE POLISHED AND SORTEXED QUALITY." placeholder="{{localize.text_your_detail}}"
                label="{{localize.label_invoice_of}} :" error-message="{{localize.text_enter_your_detail}}" auto-validate
                required></gl-form-textarea>
            </template>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-input disabled value="{{data.ship}}" label="{{localize.label_shippped_per_invoice}} : [[_ObcountIndex(index)]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input disabled value="[[_obSetUpper(data.load_port.port_name)]],[[_obSetUpper(data.load_port.country_name_en)]]" label="{{localize.label_port_of_loading_invoice}} :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-textarea disabled value="[[_obSetUpper(data.deli_port.port_name)]],[[_obSetUpper(data.deli_port.country_fullname_en)]]" label="{{localize.label_port_of_discharge_invoice}}:"></gl-form-label-textarea>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-textarea disabled value="[[_obSetUpper(data.dest_port.port_name)]],[[_obSetUpper(data.dest_port.country_fullname_en)]]" label="{{localize.label_place_of_delivery_invoice}} :"></gl-form-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input disabled value="[[data.bl_no]]" label="{{localize.label_bill_of_lading}}:"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea disabled value="[[data.buyer.buyer_address]]" label="{{localize.label_buyer_address_invoice}} :"></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>


        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
            <gl-form-textarea class="required" required disabled="[[isInputDisabled]]" rows="2" value="{{data.made_out_to}}" placeholder="{{localize.text_your_detail}}"
              label="{{localize.label_made_out_to}} :"></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>
        <br>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th>{{localize.text_marks_no}}</th>
                <th>{{localize.label_quantity_invoice}}</th>
                <th>{{localize.label_descriptions_invoice}}</th>
                <th>{{localize.label_amount_invoice}}</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <template is="dom-repeat" items="[[data.detail]]">
                <tr style="font-size:14px">
                  <td>[[data.buyer.buyer_masks]]</td>
                  <td>[[formatNumberNoZero(item.package_amount)]] {{localize.text_bags}}</td>
                  <td>
                    [[_obSetUpper(item.hamonize.hamonize_en)]] BROKENS, [[item.project_en]] CURRENT NEW CROP,DOUBLE POLISHED AND SORTEXED QUALITY.<br> PACKING: INSTRONG
                    EXPORT SEA WORTHY NEWSINGLE PP BAGS OF [[item.package.package_kg_per_bag]] KILOGRAMS NET WITH MINIMUM TARE WEIGHT
                    TO BE AT [[item.package.package_weight_bag]] GRAM/BAG. TWO PERCENT (2%) MARKED SPARE EMPTY BAGS TO BE SUPPLIED
                    FREE OF CHARGE BY THE SELLER ALONG WITH THE SHIPMENT. <br> PRICE : USD [[item.price_d]] PER METRIC
                    TON, [[_getIncoterms(data.incoterms)]] BANGKOK OR LAEM CHABANG AT BUYER'S OPTION.<br>
                    <gl-grid-row>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_gross_weight}}</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">:</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">[[formatNumber(item.gross_weight)]]</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_metric_ton}}</gl-grid-col>
                    </gl-grid-row>
                    <gl-grid-row>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_tare_weight}}</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">:</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">[[formatNumber(item.tare_weight)]]</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_metric_ton}}</gl-grid-col>
                    </gl-grid-row>

                    <gl-grid-row>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_net_weight}}</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">:</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">[[formatNumber(item.net_weight)]]</gl-grid-col>
                      <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_metric_ton}}</gl-grid-col>
                    </gl-grid-row>
                    <br> (US.DOLLARS [[_toWords(item.value_d)]] ONLY)
                  </td>
                  <td>USD [[formatNumber(item.value_d)]]</td>
                </tr>
              </template>
            </tbody>
            <tfoot class="table-foor">
              <tr style="font-size:14px">
                <td></td>
                <td>[[formatNumberNoZero(data.package_amount)]] BAGS</td>
                <td>
                  TOTAL <br>
                  <gl-grid-row>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_gross_weight}}</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">:</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">[[formatNumber(data.gross_weight)]]</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_metric_ton}}</gl-grid-col>
                  </gl-grid-row>
                  <gl-grid-row>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_tare_weight}}</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">:</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">[[formatNumber(data.tare_weight)]]</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_metric_ton}}</gl-grid-col>
                  </gl-grid-row>

                  <gl-grid-row>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_net_weight}}</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">:</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">[[formatNumber(data.net_weight)]]</gl-grid-col>
                    <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">{{localize.label_metric_ton}}</gl-grid-col>
                  </gl-grid-row>

                  <br> (US.DOLLARS [[_toWords(data.value_d)]] ONLY)
                  <br> UNDER THE SELLS AND PURCHASE CONTRACT NO.[[data.contract_name]] BETWEEN [[data.buyer.buyer_name]] AND DEPARTMENT
                  OF FOREIGN TRADE, MINISTRY OF COMMERCE OF THAILAND DATED [[checkDate(data)]]. <br> PAYMENT BY T/T TO :
                  KRUNG THAI BANK PUBLIC COMPANY LIMITED, BANGKOK, THAILAND <br> SWIFT CODE : KRTHTHBK <br> NAME ACCOUNT:
                  DEPARTMENT OF FOREIGN TRADE <br> BANK ACCOUNT NUMBER 385-0-12421-5<br> ADDRESS : 44/100 NONTHABURI 1 ROAD,
                  NONTHABURI 11000, THAILAND
                </td>
                <td>USD [[formatNumber(data.value_d)]]</td>
              </tr>
            </tfoot>
          </table>
        </gl-grid-col>
        </gl-grid-row>


        <gl-form-panel-footer set-padding="20px 0px 0px 20px">

          <paper-button class="gl-btn-primary" raised on-tap="createInvoice" hidden="[[!isViewSeleted]]">{{localize.btn_add_invoice}}</paper-button>
          <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
            <paper-button class="gl-btn" on-tap="calcelContract" raised hidden="[[isViewSeleted]]">{{localize.btn_cancel}}</paper-button>
            <paper-button class="gl-btn-success" raised on-tap="saveInvoice" hidden="[[isViewSeleted]]">{{localize.btn_save_invoice}}</paper-button>
          </template>
        </gl-form-panel-footer>

      </gl-form-panel-body>
    </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "commercial-invoice",
      behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior, ValidateFormBehavior],
      properties: {
        localize:{
          statePath : 'i18n.g2g'
        },
        data:{
          statePath : 'book.data'
        },
        // nameRice: {
        //   type: String,
        //   value: ''
        // },
        printReport: {
          type: Object,
          value: { typeFile: 'pdf' }
        },
        report: {
          type: Object,
          value:
          {
            report_type:
            [
              { report_type: 'PDF', report_type_id: 'pdf' },
              // {report_type:'WORD',report_type_id:'word'},
              // {report_type:'EXCEL',report_type_id:'excel'}
            ]
          }
        }
      },
      // observers: [
      //   '_obCheckDataForWrite(data)',
      //   '_changeDataCommercial(data.invoice_date)'
      // ],
      // listeners: {
      //   'edit-input': 'editInput',
      //   'delete-input': 'deteleInvoice'
      // },
      _getVessel: function (data) {
        if (typeof data !== 'undefined' && data !== 'undefined') {
          return data.map((e) => e.ship_name).join(", ");
        }
      },
      _getIncoterms: function (data){
        if (typeof data !== 'undefined' && data !== 'undefined') {
          return data.map((e) => e.inct_name).join(", ");
        }
      },
      // _changeDataCommercial: function (dateUn) {
      //   this.getDateg2g(dateUn, (date) => {
      //     this.set('data.invoice_date', date);
      //     this.notifyPath('data.invoice_date');
      //   });
      // },
      _obSetUpper: function (data) {
        if(typeof data !== 'undefined'){
          return data.toUpperCase()
        }
        // // if (data.cl_quality != null) {
        // //   this.cl_quality = data.cl_quality.toUpperCase();
        // // }
        // try {
        //   let rice = data.bl_detail;
        //   if (this.nameRice.length == 0) {
        //     rice.map((el) => {
        //       this.nameRice += el.type_rice_name_en.toUpperCase() + ', ';
        //     })
        //   }
        // } catch (e) {
        //   // console.log(e);
        // }
      },

      // printInvoice: function () {
      //   // report.report_type
      //   window.open(window._config.reportServer+'/api/payment/report1?invoice_id=' + this.data.invoice_id + '&export=' + this.printReport.typeFile, '1');
      // },
      createInvoice: function () {
        // console.log(this.data);
        var data = {
          id : this.data.id,
          contract_id : this.data.contract_id,
          invoice_no : this.data.invoice_no,
          invoice_date : this.data.invoice_date,
          made_out_to : this.data.made_out_to
        }
        // console.log(data);
        var check = this.validateForm('.required');
        if(check === true){
          this.fire('toast', {
            status: 'openDialog', 
            text: 'ต้องการเพิ่มใบแจ้งหนี้ใช่หรือไม่',
            confirmed: (result) =>{
              if(result === true){
                this.dispatchAction('BOOK_INSERT', data);
              }
            }
          });
        }else{
          this.fire('toast', {
            status: 'connectError', text: 'กรุณากรอกข้อมูลให้ครบถ้วน',callback: () => {}
          });
        }
      //   let book_id = this.data.book_id;
      //   let contract_id = this._getUrl();
      //   // this._cleanDataBl(this.data,(data)=>{
      //   //   data.book_status=true;
      //   //   data.id=book_id;
      //   //   // console.log(data);
      //   //   this.update('./g2g/book/update',data,() => {
      //   //     this.fire('get-bl-list',{detail:contract_id});
      //   //   });
      //   // });
      //   this.set('data.tags', []);
      //   this.push('data.tags', this.data.cl_id, this.data.contract_id);
      //   // console.log(this.data);
      //   this.data.invoice_status = false;
      //   this._cleanDataInvoice(this.data, (data) => {
      //     // console.log(data);
      //     this.fire('toast', { status: 'load' });
      //     this.insert('./g2g/invoice/insert', data, () => {


      //       this.fire('toast', {
      //         status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //         callback: () => {
      //           this.fire('close-drawer', { detail: 'close-drawer' })
      //           this.fire('get-bl-list', { detail: contract_id });
      //           this.fire('get-invoice-list', { detail: contract_id });
      //         }
      //       });
      //     });
      //   });
      },
      // saveInvoice: function () {
      //   let book_id = this.data.book_id;
      //   let contract_id = this._getUrl();
      //   this.set('data.tags', []);
      //   this.push('data.tags', this.data.cl_id, this.data.contract_id);
      //   this._cleanDataInvoice(this.data, (data) => {
      //     data.id = this.data.invoice_id;
      //     data.contract_id = this.data.contract_id;
      //     // console.log(11);
      //     this.fire('toast', {  //คำสั่งสำหรับเปิด toast dialog
      //       status: 'dialog',
      //       text: 'ต้องการแก้ไขข้อมูลใช่หรือไม่ ?',
      //       confirmed: this._saveInvoice.bind(this), //function ที่ใช้รับค่า ปุ่ม
      //       el: this, // compontents
      //       data: data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      //     })
      //   });
      // },
      // _saveInvoice: function (result, detail) {
      //   if (result == true) {
      //     // console.log(this.data);
      //     // console.log(detail.data);
      //     this.update('./g2g/invoice/update', detail.data, () => {
      //       // console.log('=>',detail.data);
      //       this.fire('get-invoice-list', { detail: detail.data.contract_id });
      //       this.fire('toast', {
      //         status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //         callback: () => {
      //           this.editInput();
      //           //  detail.el.fire('get-contract-detail',{contractId:detail.data.id});
      //         }
      //       });
      //     });
      //   }
      // },
      // deteleInvoice: function () {
      //   this.fire('toast', {  //คำสั่งสำหรับเปิด toast dialog
      //     status: 'dialog',
      //     text: 'ต้องการลบข้อมูลใช่หรือไม่ ?',
      //     confirmed: this._deleteInvoice.bind(this), //function ที่ใช้รับค่า ปุ่ม
      //     el: this, // compontents
      //     data: this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      //   });
      // },
      // _deleteInvoice: function (result, detail) {
      //   if (result == true) {
      //     let book_id = detail.data.book_id;
      //     this.delete('./g2g/invoice/delete/id/', detail.data.invoice_id, () => {
      //       this.fire('get-bl-list', { detail: detail.data.contract_id });
      //       this.fire('get-invoice-list', { detail: detail.data.contract_id });
      //       this.fire('close-drawer', { detail: 'close-drawer' });
      //       this.fire('toast', {
      //         status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //         callback: () => {

      //           //  detail.el.fire('get-contract-detail',{contractId:detail.data.id});
      //         }
      //       });
      //     });
      //   }
      // },
      checkDate: function (data) {
        // console.log(data);
        // this._toWords(data.base.amount_usd);
        // console.log(this._toWords(data.base.amount_usd));
        if (typeof data.contract_date !== 'undefined' && data.contract_date !== 'undefined') {
          var monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
          ];
          // console.log(Number(this.data.contract_date.substring(5, 7))-1);
          var monthNum = Number(data.contract_date.substring(5, 7)) - 1;
          let contractDate = data.contract_date.substring(8, 10) + " " + monthNames[monthNum] + " " + data.contract_date.substring(0, 4);
          return contractDate.toUpperCase();
        }
      },
      _toWords: function (amount_usd) {
        if (typeof amount_usd !== 'undefined' && amount_usd !== 'undefined') {
          // num = num.base.amount_usd || 0;
          // Convert numbers to words
          // copyright 25th July 2006, by Stephen Chapman https://javascript.about.com
          // permission to use this Javascript on your web page is granted
          // provided that all of the code (including this copyright notice) is
          // used exactly as shown (you can change the numbering system if you wish)
          // American Numbering System
          var th = ['', 'thousand', 'million', 'billion', 'trillion'];
          // uncomment this line for English Number System
          // var th = ['','thousand','million', 'milliard','billion'];
          var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
          var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
          var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
          // console.log(amount_usd);
          var s = amount_usd.toString();
          s = s.replace(/[\, ]/g, '');
          if (s != parseFloat(s)) return 'not a number';
          var x = s.indexOf('.');
          if (x == -1) x = s.length;
          if (x > 15) return 'too big';
          var n = s.split('');
          var str = '';
          var sk = 0;
          for (var i = 0; i < x; i++) {
            if ((x - i) % 3 == 2) {
              if (n[i] == '1') {
                str += tn[Number(n[i + 1])] + ' ';
                i++;
                sk = 1;
              } else if (n[i] != 0) {
                str += tw[n[i] - 2] + ' ';
                sk = 1;
              }
            } else if (n[i] != 0) {
              str +=
                dg[n[i]] + ' ';
              if ((x - i) % 3 == 0) str += 'hundred ';
              sk = 1;
            }
            if ((x - i) % 3 == 1) {
              if (sk)
                str += th[(x - i - 1) / 3] + ' ';
              sk = 0;
            }
          }
          if (x != s.length) {
            var y = s.length;
            str +=
              'point ';
            for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
          }
          let priceWords = str.replace(/\s+/g, ' ').toUpperCase();
          return priceWords;
        } else {
          return 0;
        }
      },
      // _cleanDataInvoice: function (data, callback) {
      //   let el = Polymer.dom(this.root).querySelectorAll('.required');
      //   let stat = el.map((el) => el.validate());
      //   if (stat.every(elem => elem == true)) {
      //     let {bl_no, invoice_no, invoice_date, invoice_status, made_out_to, book_id} = data;
      //     let newData = { bl_no, invoice_no, invoice_date, invoice_status, made_out_to, book_id };
      //     newData.tags = new Array();
      //     newData.invoice_date = new Date(newData.invoice_date).toISOString();
      //     if (typeof data.tags !== 'undefined') {
      //       newData.tags = new Array();
      //       data.tags.map((tag) => {
      //         newData.tags.push(tag);
      //       });
      //     }
      //     el.map((el) => { el.reset(); });
      //     callback(newData);
      //   }
      // }
    });
  </script>
</dom-module>