<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<dom-module id="cheque-detail-invoice">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      display: block;
    }
    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td,
    table.gl-table-default > thead.table-head > tr > th {
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(2),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(3) {
      text-align: left;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1) {
      width: 5%;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(2),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(3) {
      width: 20%;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(4) {
      width: 15%;
    }
    vaadin-date-picker{
      margin-top:-27px;
    }
  </style>
  <template>
    <div class="horizontal center-justified layout">
    <table class="gl-table-default">
      <thead class="table-head">
        <tr>
          <th>{{localize.label_order}}</th>
          <th>{{localize.label_vessel}}</th>
          <th>{{localize.label_componey}}</th>
          <th>{{localize.label_rice_type}}</th>
          <th>{{localize.label_package}}</th>
          <th>{{localize.text_invoice_no}}</th>
          <th>{{localize.label_date}}</th>
        </tr>
        </tr>
      </thead>
      <tbody class="table-body">
        <template is="dom-repeat" items="[[data]]">
          <tr>
           <td>[[_ObcountIndex(index)]]</td>
           <td>[[item.ship]]</td>
           <td>[[item.exporter_name]]</td>
           <td>[[item.type_rice_name_th]]</td>
           <td>[[item.package_kg_per_bag]]  กก.</td>
           <td><gl-form-input placeholder="{{localize.text_invoice_no}}" no-label-float  value="{{item.invoice_exporter_no}}" data="[[item]]"on-blur="updateCheque"></gl-form-input></td>
           <td><vaadin-date-picker no-label-float value="{{item.invoice_exporter_date}}" data="[[item]]"on-blur="updateCheque"></vaadin-date-picker></td>
          </tr>
        </template>
     </tbody>
  </table>
</div>
  </template>
  <script>
    Polymer({
      is: "cheque-detail-invoice",
      behaviors: [
        ReduxBehavior,
        nylonBehavior
          // g2gModelBehavior,
          // g2gCongtroller,
          // nylonLocalizeBehavior
      ],
      properties:{
        localize:{
          statePath : 'i18n.g2g'
        }
      }
      // created:function(){
      //     this.nylonLocalizeImport('/i18n-page1.json');
      // },
      // updateCheque:function (e) {
      //   // console.log(1111);
      //   let dataOld = e.currentTarget.data;
      //   this._clearChequeDetailData(dataOld,(data)=>{
      //     data.id = dataOld.pay_det_id;
      //     // console.log(data);
      //    this.fire('toast',{status:'load'});
      //     this.update('./g2g/payment_detail/update',data, () => {
      //       // console.log(data);
      //       this.fire('toast',{status:'load'});
      //       // this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //       //   callback:()=>{}
      //       // });
      //       let contract_id= this._getUrl();
      //       // this.fire('close-drawer',{detail:'close-drawer'});
      //       this.fire('get-payment-list',{detail:contract_id});
      //      });

      //   })
      // },
      // _clearChequeDetailData(data,callback){
      //   let {invoice_exporter_date,invoice_exporter_no}=data;
      //   let newData={invoice_exporter_date,invoice_exporter_no};
      //   if (newData.invoice_exporter_date.length < 1) {

      //   }else {
      //     newData.invoice_exporter_date = new Date (newData.invoice_exporter_date).toISOString();
      //   }
      //   // newData.invoice_exporter_date = new Date (newData.invoice_exporter_date).toISOString();
      //   // console.log(newData.invoice_exporter_date);
      //   callback(newData)
      // }
    });
  </script>
</dom-module>
