<link rel="import" href="fee-exports-sum.html">
<link rel="import" href="fee-exports-invoice.html">
<link rel="import" href="fee-management.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">

<dom-module id="fee-exports">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles page-style">
     :host {
      display: block;
    }    
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    main {
      padding: 5px;
      margin: 0 auto;
    }    
    section {
      display: none;
      border-top: 1px solid #ddd;
    }    
    input {
      display: none;
    }    
    label {
      display: inline-block;
      margin: 0 0 -1px;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
      color: #bbb;
      border: 1px solid transparent;
      background: #D5D8DC;
    }    
    label:before {
      font-family: fontawesome;
      font-weight: normal;
      margin-right: 10px;
    }
    label:hover {
      color: #888;
      cursor: pointer;
    }    
    input:checked+label {
      color: #555;
      border: 1px solid #ddd;
      border-top: 3px solid orange;
      border-bottom: 1px solid #fff;
      background: #fff;
    }    
    #tab1:checked~#content1,
    #tab2:checked~#content2 {
      display: block;
    }    
    #content1,
    fee-management,
    gl-form-panel {
      width: 98%;
    }    
    .content-fee {
      margin: 15px;
    }
  </style>
  <template>
    <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
      <paper-button raised on-tap="cancelFeeReturn" class="gl-btn-default">{{localize.btn_back_ward}}</paper-button>
    </template>
    <div class="content-fee">
      <input id="tab1" type="radio" name="tabs" checked>
      <label for="tab1">1.{{localize.label_average_money}}</label>
      <template is="dom-if" if={{!isInputDisabled}}>
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">2.{{localize.label_payout}}</label>
      </template>

      <section id="content1">
        <paper-material elevation="1" class="paper-meterial">
          <div class="horizontal center-justified layout wrap">
            <gl-form-panel set-padding="0px 0px 0px 0px" set-border="0px">
              <template is="dom-if" if="[[!isViewSeleted]]">
                <template is="dom-if" if={{data.fee_det_status}}>
                  <div class="horizontal end-justified layout">
                    <paper-icon-button id="edit" class="crud" icon="create" raised on-tap="editInput" disabled="[[!isInputDisabled]]"></paper-icon-button>
                    <paper-tooltip for="edit" offset="0">แก้ไข</paper-tooltip>
                  </div>
                </template>
              </template>
              <div name="averagePage">
                <div class="header flex-center-justified">
                  <gl-form-input label="" class="inputHeader" value="{{localize.label_rice_detail_and_payout}}" disabled></gl-form-input>
                </div>
                <div class="container">
                  <gl-grid-row width="{{getWidth}}">
                    <gl-grid-col width="[[getWidth]]" grid="[[300,6],[500,3]]">
                      <gl-combo-box class="required test" required disabled="[[isInputDisabled]]" placeholder="{{localize.label_fee_no}}" label="{{localize.label_fee_no}}"
                        item-label-path="fee_no" item-value-path="fee_id" value="{{data.fee_id}}" items="[[_filterFee(dataForSelect.feeListinShmCombobox)]]">
                        <template>
                          [[item.fee_no]]
                        </template>
                      </gl-combo-box> [[addFeeno(data.fee_id)]]
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,6],[500,3]]">
                      <vaadin-date-picker class="required test" required disabled="[[isInputDisabled]]" label="{{localize.label_money_received_date}}"
                        value="{{data.fee_date_receipt}}" always-float-label></vaadin-date-picker>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                      [[changeString2Num(data.*,'rate_tt')]]
                      <gl-form-input class="required" required label="{{localize.label_exchange_rate}} [[data.payterm]]" disabled="[[isInputDisabled]]"
                        allowed-pattern="[0-9||,||.]" format-number="on" value="{{data.rate_tt}}" always-float-label></gl-form-input>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                      [[changeString2Num(data.*,'rate_bank')]]
                      <gl-form-input class="required" required label="{{localize.label_exchange_rate_bank}}" disabled="[[isInputDisabled]]"
                        allowed-pattern="[0-9||,||.]" format-number="on" value="{{data.rate_bank}}" always-float-label></gl-form-input>
                    </gl-grid-col>
                  </gl-grid-row>
                </div>
                <div class="container">
                  <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                      [[changeString2Num(data.*,'fee_internal')]]
                      <gl-form-input class="required" required label="{{localize.label_fee_usd}}" disabled="[[isInputDisabled]]" allowed-pattern="[0-9||,||.]"
                        format-number="on" value="{{data.fee_internal}}" always-float-label></gl-form-input>

                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                      [[changeString2Num(data.*,'fee_foreign')]]
                      <gl-form-input class="required" required disabled="[[isInputDisabled]]" allowed-pattern="[0-9||,||.]" format-number="on"
                        label="{{localize.label_fee_bath}}" value="{{data.fee_foreign}}" always-float-label></gl-form-input>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                      [[changeString2Num(data.*,'fee_other')]]
                      <gl-form-input class="required" required disabled="[[isInputDisabled]]" allowed-pattern="[0-9||,||.]" format-number="on"
                        label="{{localize.label_other_expenses}}" value="{{data.fee_other}}" always-float-label></gl-form-input>
                    </gl-grid-col>
                  </gl-grid-row>
                </div>
                <div class="container">
                  <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                      <gl-form-input disabled format-number="on" label="{{localize.label_money_received_usd}}" value="{{data.amount_usd}}" always-float-label></gl-form-input>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                      <gl-form-input disabled format-number="on" label="{{localize.label_money_received_thb}}" value="{{calBath(data.rate_bank,data.amount_usd)}}"
                        always-float-label></gl-form-input>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                      <gl-form-input disabled format-number="on" label="{{localize.label_fee_total}}" value="{{calRep(data.rate_bank,data.fee_internal,data.fee_foreign,data.fee_other)}}"
                        always-float-label></gl-form-input>
                    </gl-grid-col>
                  </gl-grid-row>
                </div>
                [[changeString2Num(data.*,'balanceLessFees')]] {{_balanceLessFees(data.amount_usd,data.fee_internal)}} [[changeString2Num(data.*,'balanceChangeBath')]]
                {{_balanceChangeBath(data.rate_bank,data.balanceLessFees)}} {{_feTotal(data.fee_internal,data.fee_foreign,data.fee_other,data.rate_bank)}}
                [[changeString2Num(data.*,'feeTotalWithOutUsd')]] [[changeString2Num(data.*,'totalbath')]] [[_balanceBath(data.balanceChangeBath,data.feeTotalWithOutUsd)]]

                <template is="dom-repeat" items="{{data.invoice}}" as="invoice">
                  <fee-exports-invoice fee-total="[[_countFee(data.feeTotal)]] " data="{{invoice}}" rate-bank="{{data.rate_bank}}" invoice-index="[[_ObcountIndex(index)]]"
                    invoice-page="[[data.invoicePage]]" is-input-disabled="[[isInputDisabled]]"></fee-exports-invoice>
                </template>

                <gl-form-panel>
                  <fee-exports-sum total-invoice="[[data.invoice]]"></fee-exports-sum>
                </gl-form-panel>
                <div class="horizontal end-justified layout">

                  <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
                    <template is="dom-if" if="[[data.fee_det_status]]">
                      <paper-button raised on-tap="approvePayment" class="gl-btn-default" hidden="[[data.fee_det_status]]">{{localize.btn_cancel}}{{localize.btn_confirm}}</paper-button>
                    </template>
                  </template>
                  <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
                    <paper-button raised class="gl-btn-default" on-tap="cancelFee" hidden="[[!isViewSeleted]]">{{localize.btn_cancel}}</paper-button>
                    <paper-button raised on-tap="addPayment" class="gl-btn-success" hidden="[[!isViewSeleted]]">{{localize.btn_add}}</paper-button>
                  </template>
                  <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
                    <paper-button raised class="gl-btn-default" on-tap="calcelContract" hidden="[[isViewSeleted]]">{{localize.btn_cancel}}</paper-button>
                    <paper-button raised class="gl-btn-success" on-tap="savePayment" hidden="[[isViewSeleted]]">{{localize.btn_save}}</paper-button>
                  </template>

                  <template is="dom-if" if="[[data.fee_det_status]]">
                    <template is="dom-if" if="[[isInputDisabled]]">
                      <paper-button raised class="gl-btn-danger" on-tap="editFee" hidden="[[isViewSeleted]]">{{localize.btn_cancer_confirm}}</paper-button>
                    </template>
                  </template>
                </div>
              </div>
            </gl-form-panel>
          </div>
        </paper-material>
      </section>
      <section id="content2">
        <paper-material elevation="1" class="paper-meterial">
          <div class="horizontal center-justified layout wrap">
            <fee-management id="fee-management" data-for-select="[[dataForSelect]]" data-cl-id="[[data.invoice.0.cl_id]]"></fee-management>
          </div>
        </paper-material>
      </section>

    </div>
  </template>
  <script>
    Polymer({
      is: "fee-exports",
      behaviors: [
        ReduxBehavior,
        nylonBehavior,
        FormatNumberBehavior
        // g2gModelBehavior,
        // g2gCongtroller,
        // nylonLocalizeBehavior,
      ],
      properties: {
        localize:{
          statePath : 'i18n.g2g'
        },
        data: {
          type: Object,
          value: {}
        },
        pages: {
          type: String,
          value: "averagePage"
        }
      },
      // observers: [
      //   '_invoicePage(data.invoice)',
      //   '_changeDataFee(data.fee_date_receipt)',
      //   '_getFeeNo(data.*)'
      // ],
      // listeners: {
      //   'edit-input': 'editInput',
      //   'delete-input': 'deleteFee'
      // },
      // created: function () {
      //   this.nylonLocalizeImport('/i18n-page1.json');
      // },
      // _getFeeNo: function (data) {
      //   try {
      //     this._setFee(this.data.fee_id);
      //   } catch (e) {
      //     // console.log(e);
      //   }
      // },
      // checkStatusFee(e) {
      //   return e == false || e == undefined
      // },
      // _setFee: function (feeId) {
      //   let num = this.dataForSelect.feeListinShm.filter((data) => data.fee_id == feeId)[0];
      //   this.data.fee_no = num.fee_no;
      //   this.notifyPath('data.fee_no');
      // },
      // _filterFee: function (items) {
      //   try {
      //     // console.log(items)
      //     let checkZero = items.filter((item) => item.fee_id == 0)
      //     if (checkZero.length < 1) {
      //       items.unshift({ fee_no: 'เพิ่มครั้งที่ใหม่', fee_id: 0, fee_status: false })
      //     }

      //     // this.push('dataForSelect.feeListinShm',)
      //     // log
      //     return items.filter((item) => item.fee_status == false);
      //   } catch (e) {
      //     // console.log(e);
      //   }
      // },
      // addFeeno(id) {
      //   try {
      //     // console.log(id);
      //     // console.log(id == 0);
      //     // console.log(id != '');
      //     // console.log(typeof id !=='undefined');
      //     // console.log(id == 0 && typeof id !== 'undefined');
      //     if (id == 0 && typeof id !== 'undefined') {
      //       // console.log(id);
      //       this.$$('#tab1').checked = false
      //       this.$$('#tab2').checked = true
      //       this.$$('#fee-management')._getInsertFee()
      //     }
      //   } catch (e) {
      //     // console.log(e);
      //   }

      // },
      // _balanceLessFees(amount_usd, fee_internal) {
      //   this.data.balanceLessFees = amount_usd - fee_internal
      //   this.notifyPath('data.balanceLessFees');
      // },
      // _changeDataFee: function (dateUn) {
      //   this.getDateg2g(dateUn, (date) => {
      //     this.set('data.fee_date_receipt', date);
      //     this.notifyPath('data.fee_date_receipt');
      //   });
      // },
      // cancelFee: function () {
      //   let el = Polymer.dom(this.root).querySelectorAll('.required');
      //   el.map((el) => { el.reset(); el.value = '' });
      // },
      // calBath(rate_bank, amount_usd) {
      //   return this.formatNumber(rate_bank * amount_usd)
      // },
      // calRep(rate_bank, fee_internal, fee_foreign, fee_other) {
      //   return this.formatNumber(Number(rate_bank) * Number(fee_internal) + Number(fee_foreign) + Number(fee_other))
      // },
      // _balanceChangeBath: function (rate_bank, balanceLessFees) {
      //   this.data.balanceChangeBath = rate_bank * balanceLessFees;
      //   this.notifyPath('data.balanceChangeBath');
      // },

      // _feTotal: function (fee_internal, fee_foreign, fee_other, rate_bank) {
      //   fee_internal = numeral().unformat(fee_internal);
      //   fee_foreign = numeral().unformat(fee_foreign);
      //   fee_other = numeral().unformat(fee_other);
      //   rate_bank = numeral().unformat(rate_bank);
      //   // this.data.feeTotal = (fee_internal*rate_bank)+fee_foreign+fee_other;
      //   // this.data.feeTotalWithOutUsd = fee_foreign+fee_other;
      //   // this.notifyPath('data.feeTotal');
      //   // this.notifyPath('data.feeTotalWithOutUsd');
      //   this.set('data.feeTotal', (fee_internal * rate_bank) + fee_foreign + fee_other);
      //   this.set('data.feeTotalWithOutUsd', fee_foreign + fee_other);
      // },
      // _balanceBath(balanceChangeBath, feeTotalWithOutUsd) {
      //   try {
      //     this.data.totalbath = balanceChangeBath - feeTotalWithOutUsd;
      //     this.notifyPath('data.totalbath');
      //   } catch (e) {
      //     // console.log(e);
      //   }

      // },
      // //นับหน้า
      // _invoicePage: function (invoice = 1) {
      //   try {
      //     this.data.invoicePage = invoice.length;
      //     this.notifyPath('data.invoicePage');
      //   } catch (e) {
      //     // console.log(e);
      //   }

      // },
      // _countFee: function (fee) {
      //   try {
      //     return fee / this.data.invoice.length;
      //   } catch (e) {
      //     // console.log(e);
      //   }

      // },
      // closeDrawerFee: function () {
      //   // this.fire('close-drawer',{detail:'close-drawer'});
      // },
      // cancelFeeReturn: function () {
      //   this.fire('back-page-fee-detail', { data: '_get-list-fee' });
      // },
      // addPayment: function () {
      //   this.data.fee_det_status = false;
      //   // fee_id
      //   this.set('data.tags', [this.dataForSelect.cl_id, this.dataForSelect.contract_id]);
      //   this._clearDatafee(this.data, 'insert', (data) => {
      //     this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
      //     // console.log(11);
      //     this.insert('./g2g/fee_detail/insert', data, () => {
      //       this.fire('toast', {
      //         status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //         callback: () => {
      //           let contract_id = this._getUrl();
      //           this.fire('close-drawer', { detail: 'close-drawer' });
      //           this.fire('get-invoice-list', { detail: contract_id })
      //           this.fire('get-fee-list', { detail: contract_id });
      //           let el = Polymer.dom(this.root).querySelectorAll('.required');
      //           el.map((el) => { el.reset(); });
      //         }
      //       });
      //     });
      //   });
      // },
      // savePayment: function () {
      //   this._clearDatafee(this.data, 'update', (data) => {
      //     data.fee_det_status = this.approve(data.fee_det_status);
      //     data.id = this.data.fee_det_id;
      //     this.fire('toast', {  //คำสั่งสำหรับเปิด toast dialog
      //       status: 'dialog',
      //       text: 'การแก้ไขข้อมูลจะเป็นการยกเลิกการยืนยัน ต้องการแก้ไขข้อมูลต่อใช่หรือไม่ ?',
      //       confirmed: this._savePayment.bind(this), //function ที่ใช้รับค่า ปุ่ม
      //       el: this, // compontents
      //       data: data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      //     })
      //   });
      // },
      // _savePayment: function (result, detail) {
      //   if (result == true) {
      //     //  console.log(detail.data);
      //     //  console.log(detail.data);
      //     this.update('./g2g/fee_detail/update', detail.data, () => {

      //       let contract_id = this._getUrl();
      //       this.fire('get-fee-list', { detail: contract_id });
      //       this.fire('toast', {
      //         status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //         callback: () => {
      //           this.editInput();
      //           // ไปหน้า page-payment
      //           this.fire('get-fee-detail', { detail: { fee_id: detail.data.fee_id } })
      //           //ไปหน้า list-of-fee-detail
      //           this.fire('get-fee-list-detail', { detail: detail.data.id });
      //           let el = Polymer.dom(this.root).querySelectorAll('.required');
      //           el.map((el) => { el.reset(); });
      //         }
      //       });
      //     });
      //   }
      // },
      // editFee: function () {
      //   this._clearDatafee(this.data, 'update', (data) => {
      //     data.fee_det_status = this.approve(data.fee_det_status);
      //     data.id = this.data.fee_det_id;
      //     this.fire('toast', {  //คำสั่งสำหรับเปิด toast dialog
      //       status: 'dialog',
      //       text: 'ต้องการยกเลิกการยืนยันใช่หรือไม่ ?',
      //       confirmed: this._editFee.bind(this), //function ที่ใช้รับค่า ปุ่ม
      //       el: this, // compontents
      //       data: data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      //     })
      //   });
      // },
      // _editFee: function (result, detail) {
      //   if (result == true) {
      //     //  console.log(detail.data);
      //     //  console.log(detail.data);
      //     this.update('./g2g/fee_detail/update', detail.data, () => {

      //       let contract_id = this._getUrl();
      //       this.fire('get-fee-list', { detail: contract_id });
      //       this.fire('toast', {
      //         status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //         callback: () => {
      //           // ไปหน้า page-payment
      //           this.fire('get-fee-detail', { detail: { fee_id: detail.data.fee_id } })
      //           //ไปหน้า list-of-fee-detail
      //           this.fire('get-fee-list-detail', { detail: detail.data.id });
      //           let el = Polymer.dom(this.root).querySelectorAll('.required');
      //           el.map((el) => { el.reset(); });
      //           this.$$('#tab1').checked = true
      //         }
      //       });
      //     });
      //   }
      // },
      // approvePayment: function () {
      //   this._clearDatafee(this.data, 'update', (data) => {
      //     data.fee_det_status = this.approve(data.fee_det_status);
      //     data.id = this.data.fee_det_id;
      //     this.fire('toast', {  //คำสั่งสำหรับเปิด toast dialog
      //       status: 'dialog',
      //       text: 'ยืนยันใช่หรือไม่ ?',
      //       confirmed: this._approvePayment.bind(this), //function ที่ใช้รับค่า ปุ่ม
      //       el: this, // compontents
      //       data: data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      //     })
      //   });
      // },
      // _approvePayment: function (result, detail) {
      //   if (result == true) {
      //     //  console.log(detail.data.fee_id);

      //     this.update('./g2g/fee_detail/update', detail.data, () => {
      //       this.fire('refresh-contract', { detail: 'refresh-contract' });
      //       this.fire('toast', {
      //         status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
      //         callback: () => {
      //           // ไปหน้า page-payment
      //           this.fire('get-fee-detail', { detail: { fee_id: detail.data.fee_id } })
      //           //ไปหน้า list-of-fee-detail
      //           this.fire('get-fee-list-detail', { detail: detail.data.id });
      //         }
      //       });
      //     });
      //   }
      // },
      // deleteFee: function () {
      //   this.fire('toast', {  //คำสั่งสำหรับเปิด toast dialog
      //     status: 'dialog',
      //     text: 'ต้องการลบข้อมูลใช่หรือไม่ ?',
      //     confirmed: this._deleteDataFee.bind(this), //function ที่ใช้รับค่า ปุ่ม
      //     el: this, // compontents
      //     data: this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      //   })
      // },
      // _deleteDataFee: function (result, detail) {
      //   if (result == true) {
      //     this.delete('./g2g/fee_detail/delete/id/', detail.data.fee_det_id, () => {
      //       let contract_id = this._getUrl();
      //       this.fire('get-fee-list', { detail: contract_id });
      //       this.fire('close-drawer', { detail: 'close-drawer' })
      //       this.fire('get-invoice-list', { detail: contract_id })
      //     });
      //   }
      // },
      // _clearDatafee: function (data, action, callback) {
      //   let el = Polymer.dom(this.root).querySelectorAll('.required');
      //   let stat = el.map((el) => el.validate());
      //   // console.log(stat.every(elem => elem == true) && data.fee_id != 0)
      //   if (stat.every(elem => elem == true) && data.fee_id != 0) {
      //     let { rate_bank, rate_tt, fee_other, fee_internal, fee_foreign, fee_det_status, fee_date_receipt, fee_id } = data;
      //     let newData = { rate_bank, rate_tt, fee_other, fee_internal, fee_foreign, fee_det_status, fee_date_receipt, fee_id };
      //     newData.invoice = [];
      //     if (typeof data.tags !== 'undefined') {
      //       newData.tags = new Array();
      //       data.tags.map((tag) => {
      //         newData.tags.push(tag);
      //       });
      //     }
      //     newData.fee_date_receipt = new Date(newData.fee_date_receipt);
      //     this.data.invoice.map((el, indexShmid) => {
      //       newData.invoice.push({ invoice_id: el.invoice_id, invoice_detail: [] });
      //       el.invoice_detail.map((shmDet, indexshmdet) => {
      //         newData.invoice[indexShmid].invoice_detail.push({
      //           shm_det_id: shmDet.shm_det_id,
      //           invoice_fee: shmDet.invoice_fee,
      //         });
      //       });
      //     });
      //     // el.map((el)=> {el.reset();});

      //     callback(newData);
      //   } else {
      //     this.fire('toast', {
      //       status: 'error', text: 'กรุณาเลือก' + this.localize('text_fee_no'),
      //       callback: function () {
      //       }
      //     }
      //     )
      //   }
      // },

    });
  </script>
</dom-module>