<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-body.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">


<dom-module id="fee-exports-invoice">
  <style is="custom-style" include="iron-flex iron-flex-alignment gl-styles page-style">
    .flexchild-1 {
      @apply(--layout-flex);
    }

    .flexchild-2 {
      @apply(--layout-flex-2);
    }

    .flexchild-5 {
      @apply(--layout-flex-5);
    }

    .flex-center-justified {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }

    .header {
      text-align: center;
    }

    .text {
      margin-top: 10px;
      margin-right: 10px;
    }

    .setText {
      font-weight: bold;
      font-size: 18px;
      color: #737373;
    }

    .inputHeader {
      width: 40%;
    }

    .container {
      padding: 10px;
    }

    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 7px;
    }

    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }

    gl-form-input.number {
      --paper-input-container-input: {
        text-align: right;
      }
    }
  </style>
  <template>
    <gl-form-panel>
      <gl-form-panel-body set-padding="5px" set-border="0px">
        <template is="dom-repeat" items="{{data.book}}" index-as="indexData">
          <!--[[obDataBook(data.book.*)]]-->
          <div class="vertical layout">
            <div class="horizontal justified layout">
              {{calcValueFeeB(rateBank, feeEx, feeIn)}}
              <div>{{localize.invoice_no}} : [[item.invoice_no]]</div>
              <div>{{localize.cal_no}} : [[item.cl_no]]</div>
              <div>{{localize.ship_lot}} : [[item.ship_lot]]</div>
              <div>{{localize.vessel_name}} : [[_obArrayShip(item.ship)]]</div>
              <div style="width:20px"></div>
              <div>[[_ObcountIndex(indexData)]]/[[invoicePage]]</div>
            </div>
            <div class="horizontal layout">
              {{_calcfeeEx(feeEx, indexData)}}
              <gl-form-input label="{{localize.fee_out}}" class="number required" required format-number="on" style="width:200px;" value="{{item.fee_ex_d}}"
                disabled="[[common.btnDisabled]]"></gl-form-input>
              {{_calcfeeIn(feeIn, indexData)}}
              <gl-form-input label="{{localize.fee_in}}" class="number required" required format-number="on" style="width:200px; margin-left:50px;"
                value="{{item.fee_in_b}}" disabled="[[common.btnDisabled]]"></gl-form-input>
              <gl-form-input label="{{localize.fee_total}} ({{localize.baht}})" class="number" format-number="on" style="width:240px; margin-left:50px;"
                value="{{item.value_fee_b}}" disabled></gl-form-input>
              <!--[[_calcFee(calcFee,indexData)]]-->
              [[_calcFeeBAvg(item.fee_ex_d,item.fee_in_b, indexData)]]
            </div>
          </div>
          <div style="overflow-x:auto;">
            <table class="default">
              <tr>
                <th>{{localize.exporter}}</th>
                <th>{{localize.amount}} ({{localize.ton}})<br>(1)</th>
                <th>{{localize.value_ton}} ({{localize.usd}})<br>(2)</th>
                <th>{{localize.amount}}{{localize.money}} ({{localize.usd}})<br>(3)= (1)*2</th>
                <th>{{localize.amount}}{{localize.money}} ({{localize.baht}})<br>(4)= (3)*[[rateBank]]</th>
                <th>{{localize.expenses_fee}} ({{localize.baht}})<br>(5)</th>
                <th>{{localize.balance}}{{localize.from}}{{localize.expenses_fee}}<br>(6)= (4)-(5)</th>
                <th>{{localize.expenses_one_present}} ({{localize.baht}})<br> (7)= (6)*1%</th>
                <th>{{localize.balance}} ({{localize.baht}})<br> (8)= (6)-(7)</th>
              </tr>
              <template is="dom-repeat" items="{{item.detail}}" as="item2">
                <tr>
                  <td>
                    <div style="margin-top: 15px;">[[item2.company.company_name_th]]</div>
                  </td>
                  <td>
                    <gl-form-input class="number" format-number="on" style="width:140px;" value="[[item2.net_weight]]" disabled></gl-form-input>
                  </td>
                  <td>
                    <gl-form-input format-number="on" style="width:140px;text-align:center;" value="[[item2.price_d]]" disabled></gl-form-input>
                  </td>
                  <td>
                    <gl-form-input class="number" format-number="on" style="width:140px;" value="[[item2.value_d]]" disabled></gl-form-input>
                  </td>
                  <td>[[_calcValueB(item2.value_d, rateBank, indexData, index)]]
                    <gl-form-input class="number" format-number="on" style="width:140px;" value="{{item2.value_b}}" disabled></gl-form-input>
                  </td>
                  <td>
                    [[changeString2Num(item2.*,'value_fee_b')]]
                    <!--[[_calcValueFeeB(item.fee_ex_d, rateBank, item.fee_in_b, indexData, index)]]-->
                    [[_calcValueFeeB(item.value_fee_b, indexData, index)]]
                    <gl-form-input class="riceRequired" required style="text-align:right;" format-number="on" value="{{item2.value_fee_b}}" disabled="[[common.inputRice]]"></gl-form-input>
                  </td>
                  [[changeString2Num(item2.*,'value_bal_b')]]
                  <td>[[_calcValueBalB(item2.value_b, item2.value_fee_b, indexData, index)]]
                    <gl-form-input style="text-align:right;" format-number="on" value="{{item2.value_bal_b}}" disabled></gl-form-input>
                  </td>
                  <td>[[_calcValueTax(item2.value_bal_b, indexData, index)]]
                    <gl-form-input class="riceRequired" required style="text-align:right;" format-number="on" style="width:140px;" value="{{item2.value_tax_b}}"
                      disabled="[[common.inputRice]]"></gl-form-input>
                  </td>
                  [[changeString2Num(item2.*,'value_tax_b')]]
                  <td>[[_calcValueFinalB(item2.value_bal_b, item2.value_tax_b, indexData, index)]]
                    <gl-form-input style="text-align:right;" format-number="on" style="width:140px;" value="{{item2.value_final_b}}" disabled></gl-form-input>
                  </td>
                </tr>
              </template>

              <tr>
                <td>{{localize.total}}</td>
                <td>
                  <gl-form-input class="number" format-number="on" style="width:140px;" value="[[_totalTonInvoices(indexData,data.*)]]" disabled></gl-form-input>
                </td>
                <td>
                  <!--<gl-form-input format-number="on" style="width:140px;text-align:center;" value="[[_totalPricePerTonUsdInvoices(indexData,data.*)]]"
                    disabled></gl-form-input>-->
                </td>
                <td>
                  <gl-form-input class="number" format-number="on" style="width:140px;" value="[[_totalAmountUsdInvoices(indexData,data.*)]]"
                    disabled></gl-form-input>
                </td>
                <td>
                  <gl-form-input class="number" format-number="on" style="width:140px;" value="[[_totalBathInvoices(indexData,data.*)]]" disabled></gl-form-input>
                </td>
                <td>
                  <gl-form-input style="text-align:right;" format-number="on" style="width:140px;" value="{{item.value_fee_b}}" disabled></gl-form-input>
                  <!--{{_totalFeeInvoices(indexData,data.*)}}-->
                </td>
                <td>
                  <gl-form-input style="text-align:right;" format-number="on" style="width:140px;" value="[[_totalBalance(indexData,data.*)]]"
                    disabled></gl-form-input>
                </td>
                <td>
                  <gl-form-input style="text-align:right;" format-number="on" style="width:140px;" value="[[_totalIncomeTaxInvoices(indexData,data.*)]]"
                    disabled></gl-form-input>
                </td>
                <td>
                  <gl-form-input style="text-align:right;" format-number="on" style="width:140px;" value="[[_totalMoneyBathInvoices(indexData,data.*)]]"
                    disabled></gl-form-input>
                </td>
              </tr>
            </table>
          </div>
        </template>
      </gl-form-panel-body>
    </gl-form-panel>

    <gl-form-panel>
      <fee-exports-sum total-invoice="{{data.book}}"></fee-exports-sum>
    </gl-form-panel>

    <div class="horizontal end-justified layout">
      <template is="dom-if" if="[[!common.btnDisabled]]">
        <paper-button raised class="gl-btn-default" on-tap="cancelFee" hidden="[[!common.isInsert]]">{{localize.reset_data}}</paper-button>
        <paper-button raised on-tap="addPayment" class="gl-btn-success" hidden="[[!common.isInsert]]">{{localize.add}}</paper-button>
      </template>

      <template is="dom-if" if="[[common.btnDisabled]]">
        <template is="dom-if" if="[[!data.fin_status]]">
          <template is="dom-if" if="[[!data.rice_status]]">
            <paper-button class="gl-btn-success" raised on-tap="approvePayment">{{localize.confirm}}</paper-button>
          </template>
        </template>

        <template is="dom-if" if="[[data.fin_status]]">
          <template is="dom-if" if="[[data.rice_status]]">
            <paper-button class="gl-btn-default" raised on-tap="rejectFee">{{localize.cancel}}</paper-button>
            <paper-button class="gl-btn-success" raised on-tap="approveFee">{{localize.confirm}}</paper-button>
          </template>
        </template>
      </template>

      <template is="dom-if" if="[[!common.btnDisabled]]">
        <template is="dom-if" if="[[!data.fin_status]]">
          <template is="dom-if" if="[[!data.rice_status]]">
            <paper-button raised class="gl-btn-default" on-tap="cancelContract" hidden="[[common.isInsert]]">{{localize.reset_data}}</paper-button>
            <paper-button raised class="gl-btn-default" on-tap="cancel" hidden="[[common.isInsert]]">{{localize.cancel}}</paper-button>
            <paper-button raised class="gl-btn-success" on-tap="savePayment" hidden="[[common.isInsert]]">{{localize.save}}</paper-button>
          </template>
        </template>
      </template>

      <template is="dom-if" if="[[common.inputRice]]">
        <template is="dom-if" if="[[data.fin_status]]">
          <template is="dom-if" if="[[!data.rice_status]]">
            <paper-button class="gl-btn-success" raised on-tap="riceApprove">{{localize.confirm}}</paper-button>
          </template>
        </template>
      </template>

      <template is="dom-if" if="[[!common.inputRice]]">
        <template is="dom-if" if="[[data.fin_status]]">
          <template is="dom-if" if="[[!data.rice_status]]">
            <paper-button raised class="gl-btn-default" on-tap="cancelContract" hidden="[[!common.isInsert]]">{{localize.reset_data}}</paper-button>
            <paper-button raised class="gl-btn-default" on-tap="cancel" hidden="[[!common.isInsert]]">{{localize.cancel}}</paper-button>
            <paper-button class="gl-btn-success" raised on-tap="riceSave">{{localize.save}}</paper-button>
          </template>
        </template>
      </template>
    </div>

  </template>
  <script>
    Polymer({
      is: "fee-exports-invoice",
      properties: {
        localize: {
          statePath: 'i18n.fee'
        },
        data: {
          statePath: 'fee.list_calc'
        },
        totalInvoice: {
          type: Array,
          notify: true
        },
        common: {
          statePath: 'commonState.setState'
        },
        contractId: {
          statePath: 'commonState.contractId'
        },
        sumFee: {
          type: Object,
          value: {
            in: 0,
            ex: 0,
            fee: 0,
            detail: 0
          }
        },
        oldFee: {
          type: Object,
          value: {
            in: 0,
            ex: 0,
            fee: 0,
            detail: {}
          }
        }
      },
      behaviors: [ReduxBehavior, g2gLogicBehavior, ValidateFormBehavior, FormatNumberBehavior],
      calcValueFeeB: function (rateBank, feeEx, feeIn) {
        if (rateBank !== undefined & feeEx !== undefined & feeIn !== undefined) {
          var calc_value_fee_b = ((parseFloat(rateBank) * parseFloat(feeEx)) + parseFloat(feeIn));
          this.value_fee_b = calc_value_fee_b;
        }
      },
      _calcFeeAvg: function (type, fee, indexBook, indexDetail, len) {
        fee = Number(Number(fee).toFixed(2));
        if (type == 'detail') {
          var index = indexDetail;
          if (this.oldFee[type][indexBook] != fee) {
            this.set('sumFee.' + type + '.' + indexBook, 0);
            this.set('oldFee.' + type + '.' + indexBook, fee);
          }
          var sum = this.sumFee[type][indexBook] + fee_avg; //6.17+30.85
        } else {
          var index = indexBook;
          if (this.oldFee[type] != fee) {
            this.set('sumFee.' + type, 0);
            this.set('oldFee.' + type, fee);
          }
          var sum = this.sumFee[type] + fee_avg; //6.17+30.85
        }

        var fee_avg = Number((fee / len).toFixed(2));//6.17

        if (Number(sum.toFixed(2)) > fee) {
          var div = sum - fee; //0.02
          fee_avg = fee_avg - div; //6.17-0.02 == 6.15
        }
        if (Number(sum.toFixed(2)) < fee && (index + 1) == len) { //last round
          var div = fee - sum;
          fee_avg = fee_avg + div;
        }
        if (type == 'detail') {
          this.set('sumFee.' + type + '.' + indexBook, Number(this.sumFee[type][indexBook]) + Number((fee_avg).toFixed(2)));
        } else {
          this.set('sumFee.' + type, Number(this.sumFee[type]) + Number((fee_avg).toFixed(2)));
        }
        // console.log('func ', Number(fee_avg.toFixed(2)));
        return Number(fee_avg.toFixed(2));
      },
      _calcFeeBAvg: function (fee_ex_d, fee_in_b, index) {
        // console.log(this.rateBank, fee_ex_d, fee_in_b, index);
        var value_fee_b = (Number(this.data.book[index].fee_ex_d) * Number(this.rateBank)) + Number(this.data.book[index].fee_in_b);
        // var len = this.data.book.length;
        value_fee_b = Number(value_fee_b.toFixed(2));
        // this.calcFeeBAvg(value_fee_b);
        this.set('data.book.' + index + '.value_fee_b', value_fee_b);
        // console.log(this._calcFeeAvg('fee', this.calcFee, index, len));
      },
      calcFeeBAvg: function (value_fee_b) {
        if (this.oldFee[type] != fee) {
          this.set('sumFee.' + type, 0);
          this.set('oldFee.' + type, fee);
        }
        // console.log(this.value_fee_b);
        // console.log(value_fee_b);
      },
      _calcfeeEx: function (fee, index) {
        if (typeof this.data.book !== 'undefined') {
          if (fee !== '') {
            var len = this.data.book.length;
            this.set('data.book.' + index + '.fee_ex_d', this._calcFeeAvg('ex', Number(fee), index, 0, len));
          } else {
            this.set('data.book.' + index + '.fee_ex_d', 0);
          }
        }
      },
      _calcfeeIn: function (fee, index) {
        if (typeof this.data.book !== 'undefined') {
          if (fee !== '') {
            var len = this.data.book.length;
            this.set('data.book.' + index + '.fee_in_b', this._calcFeeAvg('in', Number(fee), index, 0, len));
          } else {
            this.set('data.book.' + index + '.fee_in_b', 0);
          }
        }
      },
      _calcFee: function (fee, index) {
        if (typeof this.data.book !== 'undefined') {
          if (fee !== '') {
            var len = this.data.book.length;
            this.set('data.book.' + index + '.value_fee_b', this._calcFeeAvg('fee', fee, index, 0, len));
          } else {
            this.set('data.book.' + index + '.value_fee_b', 0);
          }
        }
      },
      _obArrayShip: function (ships) {
        return ships.join()
      },
      _calcValueB: function (usd, rate_bank, indexData, index) {
        if (rate_bank !== '') {
          var calc_value_b = usd * parseFloat(rate_bank);
          this.set('data.book.' + indexData + '.detail.' + index + '.value_b', calc_value_b);
        } else {
          this.set('data.book.' + indexData + '.detail.' + index + '.value_b', 0);
        }
      },
      _calcValueFeeB: function (feeDetail, indexData, indexDetail) {
        // console.log(feeDetail, indexData, index);
        var len = this.data.book[indexData].detail.length;
        // console.log('fee ', feeDetail);
        // console.log(this._calcFeeAvg('detail', feeDetail, indexData, indexDetail, len));
        this.set('data.book.' + indexData + '.detail.' + indexDetail + '.value_fee_b', this._calcFeeAvg('detail', feeDetail, indexData, indexDetail, len));

        // if (rate_bank !== '') {
        //   console.log(this.data);
        //   if (fee_ex_d !== '' && fee_in_b !== '') {
        // var countDetail = this.data.book[indexData].detail.length;
        //     var calc_value_fee_b = ((parseFloat(fee_ex_d) * parseFloat(rate_bank)) + parseFloat(fee_in_b)) / countDetail;
        //     this.set('data.book.' + indexData + '.detail.' + index + '.value_fee_b', calc_value_fee_b.toFixed(2));
        //   } else {
        //     this.set('data.book.' + indexData + '.detail.' + index + '.value_fee_b', 0);
        //   }
        // } else {
        //   this.set('data.book.' + indexData + '.detail.' + index + '.value_fee_b', 0);
        // }
      },
      _calcValueBalB: function (value_b, value_fee_b, indexData, index) {
        var calc_value_bal_b = parseFloat(value_b) - parseFloat(value_fee_b);
        this.set('data.book.' + indexData + '.detail.' + index + '.value_bal_b', calc_value_bal_b);
      },
      _calcValueTax: function (value_bal_b, indexData, index) {
        var calc_value_tax_b = (parseFloat(value_bal_b) * 1) / 100;
        this.set('data.book.' + indexData + '.detail.' + index + '.value_tax_b', calc_value_tax_b);
      },
      _calcValueFinalB: function (value_bal_b, value_tax_b, indexData, index) {
        var calc_value_final_b = parseFloat(value_bal_b) - numeral().unformat(value_tax_b);
        this.set('data.book.' + indexData + '.detail.' + index + '.value_final_b', calc_value_final_b);
      },
      _totalTonInvoices: function (index, data) {
        var result = 0;
        if (typeof data.base.book[index] !== 'undefined') {
          data.base.book[index].detail.map((item) => {
            result += item.net_weight;
          })
          this.set('data.book.' + index + '.totalTonInvoices', result);
          return result
        }
      },
      _totalAmountUsdInvoices: function (index, data) {
        var result = 0;
        if (typeof data.base.book[index] !== 'undefined') {
          data.base.book[index].detail.map((item) => {
            result += item.value_d;
          })
          this.set('data.book.' + index + '.totalAmountUsdInvoices', result);
          return result;
        }
      },
      _totalBathInvoices: function (index, data) {
        var result = 0;
        if (typeof data.base.book[index] !== 'undefined') {
          data.base.book[index].detail.map((item) => {
            result += parseFloat(item.value_b);
          })
          // this.set('data.'+index+'.totalBathInvoices', result);
          this.set('data.book.' + index + '.value_b', result);
          return result;
        }
      },
      // _totalFeeInvoices: function (index, data) {
      //   var result = 0;
      //   if (typeof data.base.book[index] !== 'undefined') {
      //     data.base.book[index].detail.map((item) => {
      //       result += parseFloat(item.value_fee_b);
      //     })
      //     // this.set('data.'+index+'.totalFeeInvoices', result);
      //     this.set('data.book.' + index + '.value_fee_b', result);
      //     return result;
      //   }
      // },
      _totalBalance: function (index, data) {
        var result = 0;
        if (typeof data.base.book[index] !== 'undefined') {
          data.base.book[index].detail.map((item) => {
            result += parseFloat(item.value_bal_b);
          })
          // this.set('data.'+index+'.totalBalance', result);
          this.set('data.book.' + index + '.value_bal_b', result);
          return result;
        }
      },
      _totalIncomeTaxInvoices: function (index, data) {
        var result = 0;
        if (typeof data.base.book[index] !== 'undefined') {
          data.base.book[index].detail.map((item) => {
            result += parseFloat(item.value_tax_b);
          })
          // this.set('data.'+index+'.totalIncomeTaxInvoices', result);
          this.set('data.book.' + index + '.value_tax_b', result);
          return result;
        }
      },
      _totalMoneyBathInvoices: function (index, data) {
        var result = 0;
        if (typeof data.base.book[index] !== 'undefined') {
          data.base.book[index].detail.map((item) => {
            result += parseFloat(item.value_final_b);
          })
          // this.set('data.'+index+'.totalMoneyBathInvoices', result);
          this.set('data.book.' + index + '.value_final_b', result);
          return result;
        }
      },
      addPayment: function () {
        var check = this.validateForm('.required');
        let newData = {
          rate_bank_b: parseFloat(this.rateBank),
          rate_tt_b: parseFloat(this.rateTt),
          fee_date: this.data.fee_date + 'T00:00:00+07:00',
          book: this.data.book
        };
        newData.book.map((item) => {
          delete item.totalAmountUsdInvoices;
          delete item.totalTonInvoices;
        })
        // console.log(newData);
        var sumEx = 0;
        var checkSumFeeEx = newData.book.map((item) => {
          return sumEx += Number(item.fee_ex_d)
        })
        var indexCheckEx = checkSumFeeEx.length - 1;
        var changeSumEx = checkSumFeeEx[indexCheckEx].toFixed(2);
        var changeTypeEx = Number(this.feeEx).toFixed(2);

        var sumIn = 0;
        var checkSumFeeIn = newData.book.map((item) => {
          return sumIn += Number(item.fee_in_b)
        })
        var indexCheckIn = checkSumFeeIn.length - 1;
        var changeSumIn = checkSumFeeIn[indexCheckIn].toFixed(2);
        var changeTypeIn = Number(this.feeIn).toFixed(2);

        this.fire('check-required');
        if (this.checkRequired === true && check === true) {
          if ((changeSumEx == changeTypeEx) && (changeSumIn == changeTypeIn)) {
            this.fire('toast', {
              status: 'openDialog',
              text: 'ต้องการเพิ่มการคิดค่าธรรมเนียมใช่หรือไม่',
              confirmed: (result) => {
                if (result === true) {
                  this.dispatchAction('FEE_INSERT', newData);
                }
              }
            });
          } else {
            this.fire('toast', {
              status: 'connectError', text: 'กรุณาทำการเฉลี่ยค่าธรรมเนียมใหม่', callback: () => { }
            });
          }
        } else {
          this.fire('toast', {
            status: 'connectError', text: 'กรุณากรอกข้อมูลให้ครบถ้วน', callback: () => { }
          });
        }
      },
      cancelFee: function () {
        var book_id = this.data.book.map((item) => {
          return item.book_id
        });
        var id = book_id.join('_');
        this.dispatchAction('FEE_CALC_DATA', id);
      },
      savePayment: function () {
        var check = this.validateForm('.required');
        let { rate_bank_b, rate_tt_b, fee_date, book, id } = this.data;
        let newData = { rate_bank_b, rate_tt_b, book, id };
        newData.fee_date = this.data.fee_date + 'T00:00:00+07:00';
        // console.log(newData);

        var sumEx = 0;
        var checkSumFeeEx = newData.book.map((item) => {
          return sumEx += item.fee_ex_d
        })
        var indexCheckEx = checkSumFeeEx.length - 1;
        var changeTypeEx = Number(this.feeEx);

        var sumIn = 0;
        var checkSumFeeIn = newData.book.map((item) => {
          return sumIn += item.fee_in_b
        })
        var indexCheckIn = checkSumFeeIn.length - 1;
        var changeTypeIn = Number(this.feeIn);

        this.fire('check-required');
        if (this.checkRequired === true && check === true) {
          if ((checkSumFeeEx[indexCheckEx] == changeTypeEx) && (checkSumFeeIn[indexCheckIn] == changeTypeIn)) {
            this.fire('toast', {
              status: 'openDialog',
              text: 'ต้องการบันทึกการแก้ไขการเฉลี่ยค่าธรรมเนียมใช่หรือไม่',
              confirmed: (result) => {
                if (result === true) {
                  this.dispatchAction('FEE_UPDATE', newData);
                }
              }
            });
          } else {
            this.fire('toast', {
              status: 'connectError', text: 'กรุณาทำการเฉลี่ยค่าธรรมเนียมใหม่', callback: () => { }
            });
          }
        } else {
          this.fire('toast', {
            status: 'connectError', text: 'กรุณากรอกข้อมูลให้ครบถ้วน', callback: () => { }
          });
        }
      },
      cancel: function () {
        this.dispatchAction('FEE_GET_ID_DATA', this.data.id);
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: true,
          inputRice: true
        });
      },
      cancelContract: function () {
        this.dispatchAction('FEE_GET_ID_DATA', this.data.id);
      },
      approvePayment: function () {
        var newData = {
          id: this.data.id,
          fin_status: true
        };
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการยืนยันการคิดค่าธรรมเนียมใช่หรือไม่',
          confirmed: (result) => {
            if (result === true) {
              this.dispatchAction('FEE_APPROVE', newData);
            }
          }
        })
      },
      riceSave: function () {
        var check = this.validateForm('.riceRequired');
        console.log(this.data);
        // console.log(this.data.rate_bank_b);
        // this.data.book.map((item, index) => {
        //   // console.log(item, index);
        //   // console.log(item.fee_ex_d, item.fee_in_b);
        //   var calcFee = (this.data.rate_bank_b * item.fee_ex_d) + item.fee_in_b;
        //   console.log(calcFee , index);
        //   var sum = 0;
        //   var sumFee = item.detail.map((detail, indexDetail) => {
        //     // console.log(detail, indexDetail);
        //     sum += detail.value_fee_b
        //   })
        //   console.log(sum, index);
        //   console.log(calcFee == sum);
        // })
        if (check === true) {
          this.fire('toast', {
            status: 'openDialog',
            text: 'ต้องการบันทึกการถัวเฉลี่ยค่าธรรมเนียมใช่หรือไม่',
            confirmed: (result) => {
              if (result === true) {
                let { rate_bank_b, rate_tt_b, fee_date, book, id } = this.data;
                let newData = { rate_bank_b, rate_tt_b, book, id };
                newData.fee_date = this.data.fee_date + 'T00:00:00+07:00';
                this.dispatchAction('FEE_RICE_UPDATE', newData);
              }
            }
          })
        } else {
          this.fire('toast', {
            status: 'connectError', text: 'กรุณากรอกข้อมูลให้ครบ',
            callback: () => { }
          })
        }
      },
      riceApprove: function () {
        let newData = {
          id: this.data.id,
          rice_status: true,
          contract_id: this.contractId.contract_id
        }
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการยืนยันการถัวเฉลี่ยค่าธรรมเนียมใช่หรือไม่',
          confirmed: (result) => {
            if (result === true) {
              this.dispatchAction('FEE_RICE_APPROVE', newData);
            }
          }
        })
      },
      rejectFee: function () {
        let newData = {
          id: this.data.id,
          rice_status: false
        }
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการยกเลิกการถัวเฉลี่ยค่าธรรมเนียมใช่หรือไม่',
          confirmed: (result) => {
            if (result === true) {
              this.dispatchAction('FEE_REJECT', newData);
            }
          }
        })
      },
      approveFee: function () {
        let newData = {
          id: this.data.id,
          fee_status: true,

        }
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการยืนยันการถัวเฉลี่ยค่าธรรมเนียมใช่หรือไม่',
          confirmed: (result) => {
            if (result === true) {
              this.dispatchAction('FEE_APPROVE_FINSH', newData);
            }
          }
        })
      }
    });
  </script>
</dom-module>