<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-body.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">

<dom-module id="fee-exports-sum">
  <style is="custom-style" include="iron-flex iron-flex-alignment">
    .flexchild-1 {
      @apply(--layout-flex);
    }    
    .flexchild-2 {
      @apply(--layout-flex-2);
    }    
    .flexchild-5 {
      @apply(--layout-flex-5);
    }    
    .flex-center-justified {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }    
    .header {
      text-align: center;
    }    
    .text {
      margin-top: 10px;
      margin-right: 10px;
    }    
    .setText {
      font-weight: bold;
      font-size: 18px;
      color: #737373;
    }    
    .inputHeader {
      width: 40%;
    }    
    .container {
      padding: 10px;
    }    
    table.default {
      border-collapse: collapse;
      width: 100%
    }    
    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }    
    th,
    td {
      padding: 15px;
    }    
    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }    
    td {
      text-align: left;
      white-space: nowrap;
    }    
    tr:hover {
      background-color: #F1F1F1;
    }    
    gl-form-input.number {
      --paper-input-container-input: {
        text-align: right;
      }
    }
  </style>
  <template>

    <gl-form-panel-body set-padding="5px" set-border="0px">
      {{localize.conclude}}
      <div style="overflow-x:auto;">
        <table class="default">
          <tr>
            <th>{{localize.exporter}}</th>
            <th>{{localize.amount}} ({{localize.ton}})</th>
            <!--<th>{{localize.value_ton}} ({{localize.usd}})<br>(2)</th>-->
            <th>{{localize.amount}}{{localize.money}} ({{localize.usd}})</th>
            <th>{{localize.amount}}{{localize.money}} ({{localize.baht}})</th>
            <th>{{localize.expenses_fee}} ({{localize.baht}})</th>
            <th>{{localize.balance}}{{localize.from}}{{localize.expenses_fee}}</th>
            <th>{{localize.expenses_one_present}} ({{localize.baht}})</th>
            <th>{{localize.balance}} ({{localize.baht}})</th>
          </tr>
          <template is="dom-repeat" items="[[totalInvoice]]" as="invoice">
            <tr>
              <td>{{localize.sum}} ({{localize.invoice_no}}: [[invoice.invoice_type]][[invoice.invoice_no]]/[[invoice.invoice_year]])</td>
              <td>
                <gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalTonInvoices]]" disabled></gl-form-input>
              </td>
              <!--<td>
                <gl-form-input format-number="on" style="width:140px;text-align:center;" value="[[invoice.totalPricePerTonUsdInvoices]]"
                  disabled></gl-form-input>
              </td>-->
              <td>
                <gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalAmountUsdInvoices]]" disabled></gl-form-input>
              </td>
              <td>
                <gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.value_b]]" disabled></gl-form-input>
              </td>
              <td>
                <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[invoice.value_fee_b]]" disabled></gl-form-input>
              </td>
              <td>
                <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[invoice.value_bal_b]]" disabled></gl-form-input>
              </td>
              <td>
                <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[invoice.value_tax_b]]" disabled></gl-form-input>
              </td>
              <td>
                <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[invoice.value_final_b]]" disabled></gl-form-input>
              </td>
            </tr>
          </template>
          <tr>
            <td>{{localize.total}}</td>
            <td>
              <gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalTonInvoices]]" disabled></gl-form-input>
            </td>
            <!--<td>
              <gl-form-input style="width:140px;text-align:center;" format-number="on" value="[[data.totalPricePerTonUsdInvoices]]" disabled></gl-form-input>
            </td>-->
            <td>
              <gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalAmountUsdInvoices]]" disabled></gl-form-input>
            </td>
            <td>
              <gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalBathInvoices]]" disabled></gl-form-input>
            </td>
            <td>
              <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[data.totalFeeInvoices]]" disabled></gl-form-input>
            </td>
            <td>
              <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[data.totalBalance]]" disabled></gl-form-input>
            </td>
            <td>
              <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[data.totalIncomeTaxInvoices]]" disabled></gl-form-input>
            </td>
            <td>
              <gl-form-input style="text-align:right; width:170px;" format-number="on" value="[[data.totalMoneyBathInvoices]]" disabled></gl-form-input>
            </td>
          </tr>
        </table>
      </div>
    </gl-form-panel-body>
  </template>
  <script>
    Polymer({
      is: "fee-exports-sum",
      behaviors: [ReduxBehavior],
      properties: {
        localize:{
          statePath : 'i18n.fee'
        },
        data: {
          type: Object,
          value: {
            totalTonInvoices: 0,
            // totalPricePerTonUsdInvoices: 0,
            totalAmountUsdInvoices: 0,
            totalBathInvoices: 0,
            totalFeeInvoices: 0,
            totalIncomeTaxInvoices: 0,
            totalMoneyBathInvoices: 0,
          }
        }
      },
      observers: [
        'check(totalInvoice.*)'
      ],
      check: function (totalInvoice) {
        // console.log(totalInvoice);
        // this.async(() => {
        //   try {
        //     // return items.filter((item) => item.fee_status == false);

        //     // console.log('totalInvoice =>',this.totalInvoice);
            var result = 0;
            this.totalInvoice.map((el) => {
              result += el.totalTonInvoices;
            });
            this.set('data.totalTonInvoices', Number(result.toFixed(2)))
        //     // this.data.totalTonInvoices = result
        //     // this.notifyPath('data.totalTonInvoices');

            // result = 0;
            // this.totalInvoice.map((el) => {
            //   result += el.totalPricePerTonUsdInvoices;
            // });
            // this.set('data.totalPricePerTonUsdInvoices', result)
        //     // this.data.totalPricePerTonUsdInvoices = result
        //     // this.notifyPath('data.totalPricePerTonUsdInvoices');

            result = 0;
            this.totalInvoice.map((el) => {
              result += el.totalAmountUsdInvoices;
            });
            this.set('data.totalAmountUsdInvoices', Number(result.toFixed(2)))
        //     // this.data.totalAmountUsdInvoices = result
        //     // this.notifyPath('data.totalAmountUsdInvoices');

            result = 0;
            this.totalInvoice.map((el) => {
              // result += el.totalBathInvoices;
              result += el.value_b;
            });
            this.set('data.totalBathInvoices', Number(result.toFixed(2)))
        //     // this.data.totalBathInvoices = result
        //     // this.notifyPath('data.totalBathInvoices');

            result = 0;
            this.totalInvoice.map((el) => {
              // result += el.totalFeeInvoices;
              result += Number(el.value_fee_b);
            });
            this.set('data.totalFeeInvoices', Number(result.toFixed(2)))
        //     // this.data.totalFeeInvoices = result
        //     // this.notifyPath('data.totalFeeInvoices');

            result = 0;
            this.totalInvoice.map((el) => {
              // result += el.totalBalance;
              result += el.value_bal_b;
            });
            this.set('data.totalBalance', Number(result.toFixed(2)))

            result = 0;
            this.totalInvoice.map((el) => {
              // result += el.totalIncomeTaxInvoices;
              result += el.value_tax_b;
            });
            this.set('data.totalIncomeTaxInvoices', Number(result.toFixed(2)))
        //     // this.data.totalIncomeTaxInvoices = result
        //     // this.notifyPath('data.totalIncomeTaxInvoices');

            result = 0;
            this.totalInvoice.map((el) => {
              // result += el.totalMoneyBathInvoices;
              result += el.value_final_b;
            });
            this.set('data.totalMoneyBathInvoices', Number(result.toFixed(2)))
        //     // this.data.totalMoneyBathInvoices = result
        //     // this.notifyPath('data.totalMoneyBathInvoices');
        //   } catch (e) {
        //     // console.log(e)
        //   }
        // }, 500)
      }
    });
  </script>
</dom-module>