<link rel="import" href="./../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">
<link rel="import" href="./../../../../bower_components/iron-icons/av-icons.html">

<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="./../../../layout/shared-styles.html">
<dom-module id="list-of-cheque">
  <style include="iron-flex iron-flex-factors iron-flex-alignment shared-styles">
     :host {
      display: block;
    }

    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .labelSearch {
      font-size: var(--font-size-h4);
      margin: 10px 10px 10px 10px;
    }

    .table-body>tr>td {
      cursor: pointer;
    }

    .title {
      margin: 16px;
      text-align: left;
      font-size: var(--font-size-h4);
    }

    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }

    table.gl-table-default>thead.table-head>tr>th,
    table.gl-table-default>tbody.table-body>tr>td {
      text-align: center;
    }

    table.gl-table-default>thead.table-head>tr>th:nth-child(1) {
      width: 10%;
    }

    table.gl-table-default>tbody.table-body>tr>td:not(:first-child) {
      /*text-align: right;*/
    }

    main {
      padding: 5px;
      margin: 0 auto;
    }

    section {
      display: none;
      border-top: 1px solid #ddd;
    }

    input {
      display: none;
    }

    label {
      display: inline-block;
      margin: 0 0 -1px;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
      color: #bbb;
      border: 1px solid transparent;
      background: #D5D8DC;
    }

    label:before {
      font-family: fontawesome;
      font-weight: normal;
      margin-right: 10px;
    }

    label:hover {
      color: #888;
      cursor: pointer;
    }

    input:checked+label {
      color: #555;
      border: 1px solid #ddd;
      border-top: 3px solid orange;
      border-bottom: 1px solid #fff;
      background: #fff;
    }

    #tab1:checked~#content1,
    #tab2:checked~#content2 {
      display: block;
    }

    .container {
      display: inline-block;
      margin-left: 30px;
      margin-right: 30px;
    }
    /* Need to position the badge to look like a text superscript */

    .container>paper-badge {
      --paper-badge-margin-left: 20px;
      --paper-badge-margin-bottom: 0px;
    }
  </style>
  <template>

    <main>
      <input id="tab1" type="radio" name="tabs" checked>
      <label for="tab1">
         <div class="container" tabindex="0">
                <span>1. {{localize.send_director}}</span>
                <paper-badge label="{{newData.length}}" style="left: 144.813px; top: 28px;"></paper-badge>
         </div>
      </label>

      <input id="tab2" type="radio" name="tabs">
      <label for="tab2">
         <div class="container" tabindex="0">
                <span>2. {{localize.wait_director}}</span>
                <paper-badge label="{{chequeTrue.length}}" style="left: 375.234px; top: 28px;"></paper-badge>
          </div>
        </label>

      <section id="content1">
        <div class="flex searchInput horizontal center-justified layout">
          <div class="flex title">{{localize.name_of_contract}} : [[contractId.contract_name]]</div>
          <div class="flex horizontal end-justified layout">
            <div class="labelSearch">{{localize.fee_no}}.</div>{{_searchInArray(searchInput)}}
            <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
            <paper-icon-button icon="search"></paper-icon-button>
            </paper-input>
          </div>
        </div>
        <!--[[checkSelect(newData.*)]]-->
        <div class="horizontal center-justified layout">
          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th>
                  <paper-checkbox on-tap="_selectDataAll" checked="{{selectDataAll}}"></paper-checkbox>{{localize.select}}</th>
                <th>{{localize.period_no}}</th>
                <th>{{localize.order_no}}</th>
                <th>{{localize.total_company}}</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <template is="dom-repeat" items="{{newData}}">
                <tr level="primary" style="{{checkStatus(item.status)}}">
                  <td data="[[item]]">
                    <paper-checkbox data="{{item}}" disabled=[[item.status]] checked="{{item.check}}"></paper-checkbox>
                  </td>
                  <td data="[[item]]">[[item.cl_no]]</td>
                  <td data="[[item]]">[[item.fee_no]]</td>
                  <td data="[[item]]">[[item.cheque_count]]</td>
                </tr>
              </template>
              <template is="dom-if" if="[[_isHave(newData)]]">
                <tr>
                  <td colspan="4" style="text-align:center"> {{localize.no_data}}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div class="btnFab" hidden="{{fabHidden}}">
          <paper-fab icon="av:playlist-add-check" title="{{localize.send_cheque}}" id="addContract" on-tap="getChequeDetail"></paper-fab>
          <paper-tooltip for="addContract" offset="0">{{localize.send_cheque}}</paper-tooltip>
        </div>
      </section>

      <section id="content2">
        <div class="flex searchInput horizontal center-justified layout">
          <div class="flex title">{{localize.name_of_contract}} : [[contractId.contract_name]]</div>
          <div class="flex horizontal end-justified layout">
            <div class="labelSearch">{{localize.fee_no}}.</div>{{_searchInArray(searchInput)}}
            <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
            <paper-icon-button icon="search"></paper-icon-button>
            </paper-input>
          </div>
        </div>
        <!--[[checkSelect(chequeTrue.*)]]-->
        <div class="horizontal center-justified layout">
          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th>
                  <paper-checkbox on-tap="_selectDataAll" checked="{{selectDataAll}}"></paper-checkbox>{{localize.select}}</th>
                <th>เลขที่เช็ค</th>
                <th>วันที่นำส่ง</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <template is="dom-repeat" items="{{chequeTrue}}">
                <tr level="primary" style="{{checkStatus(item.status)}}">
                  <td data="[[item]]">
                    <paper-checkbox data="{{item}}" disabled=[[item.status]] checked="{{item.check}}"></paper-checkbox>
                  </td>
                  <td data="[[item]]">[[item.pay_no]]</td>
                  <td data="[[item]]">[[item.deliver_date]]</td>
                </tr>
              </template>
              <template is="dom-if" if="[[_isHave(chequeTrue)]]">
                <tr>
                  <td colspan="4" style="text-align:center"> {{localize.no_data}}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <!--<div class="btnMoney">
      <paper-button class="gl-btn-success" raised on-tap="getChequeDetail">กด (ยัง)</paper-button>
    </div>-->
        <div class="btnFab" hidden="{{fabHidden}}">
          <paper-fab icon="av:playlist-add-check" title="{{localize.send_cheque}}" id="addContract" on-tap="getChequeDetail"></paper-fab>
          <paper-tooltip for="addContract" offset="0">{{localize.send_cheque}}</paper-tooltip>
        </div>
      </section>
    </main>


  </template>
  <script>
    Polymer({
      is: "list-of-cheque",
      behaviors: [ReduxBehavior, FormatNumberBehavior, g2gLogicBehavior],
      properties: {
        localize: {
          statePath: 'i18n.cheque'
        },
        fabHidden: {
          type: Boolean,
          value: true
        },
        // newData: {
        //   type: Object
        // }
        newData: {
          statePath: 'cheque.cheque_list_false',
          value:[]
        },
        chequeTrue: {
          statePath: 'cheque.cheque_list_true',
          value:[]
        },
        contractId: {
          statePath: 'commonState.contractId',
          // observer: 'get'
        },
      },
      observers: [
        'initDatabl(data)',
      ],
      _selectDataAll: function (val) {
        try {
          this.newData.map((item, index) => {
            if (item.status === false)
              this.set('newData.' + index + '.check', this.selectDataAll);
          });
        } catch (error) {

        }
      },
      checkStatus: function (status) {
        if (status) return 'background-color: #F1F1F1;'
        return ''
        // console.log(status)
      },
      checkSelect: function (data) {
        let check = this.newData.find((item) => item.check === true)
        if (check !== undefined)
          return this.set('fabHidden', false)
        return this.set('fabHidden', true)
      },
      getChequeDetail: function (e) {
        // console.log(e.currentTarget.data);
        let getData = this.newData.filter((item) => item.check === true)
        let fee_id = []
        getData.map((item) => {
          fee_id.push(item.fee_id)
          // console.log(item.fee_id);
        })//fee_id

        let arr = fee_id.reduce((pre, curr) => pre.concat(curr), [])
        // console.log(arr)
        this.dispatchAction('SET_CHEQUE_DETAIL_LIST', arr)
        this.fire('get-cheque-detail', { detail: arr });

      },
      // getCheque: function (e) {
      //   // console.log(e.currentTarget.data);
      //   window.open(window._config.reportServer+'/api/payment/report10/' + e.currentTarget.data.fee_id, '1');
      // },
    });
  </script>
</dom-module>