<link rel="import" href="./../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="list-of-bl-pm">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
     :host {
      display: block;
    }
    
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    
    .labelSearch {
      font-size: var(--font-size-h4);
      margin: 10px 10px 10px 10px;
    }
    
    .table-body>tr>td {
      cursor: pointer;
    }
    
    .title {
      margin: 16px;
      text-align: left;
      font-size: var(--font-size-h4);
    }
    
    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }
  </style>
  <template>
    <div class="flex searchInput horizontal center-justified layout">
      <div class="flex title">{{localize.text_of_contract}} : [[dataForSelect.nameContract]]</div>
      <div class="flex horizontal end-justified layout">
        <div class="labelSearch">{{localize.label_lot_no}}</div>{{_searchInArray(searchInput)}}
        <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
        <paper-icon-button icon="search"></paper-icon-button>
        </paper-input>
      </div>
    </div>
    <div class="horizontal center-justified layout">
      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>{{localize.label_lot_no}}</th>
            <th>{{localize.label_ref_no}}</th>
            <th>{{localize.label_bill_of_lading}}</th>
            <th>{{localize.label_place_of_delivery}} </th>
            <th>{{localize.label_port_of_discharge}}</th>

          </tr>
        </thead>
        <tbody class="table-body">
          <template is="dom-repeat" items="[[newData]]">
            <tr data="[[item]]" on-tap="getBlDetail" level="primary">
              <td>[[item.ship_lot]]</td>
              <td>[[item.cl_no]]</td>
              <td>[[item.bl_no]]</td>
              <td>[[item.deli_port.port_name]] ([[item.deli_port.country_name_en]])</td>
              <td>[[item.dest_port.port_name]] ([[item.dest_port.country_name_en]])</td>
            </tr>
          </template>
          <template is="dom-if" if="[[_isHave(newData)]]">
            <tr>
              <td colspan="6" style="text-align:center"> {{localize.text_no_data}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </template>
  <script>
    Polymer({
      is: "list-of-bl-pm",
      behaviors: [ReduxBehavior, g2gLogicBehavior],
      properties: {
        localize:{
          statePath : 'i18n.g2g'
        },
        bl_list:{
            statePath : 'book.list'
        },
        newData:{
          type:Object
        }
      },
      observers: [
        'initDatabl(bl_list)'
      ],
      initDatabl: function (data) {
        this.newData = this.g2gClone(data);
      },
      _searchInArray: function (searchInput) {
        if (searchInput != '') {
          let arr = [];
          this.bl_list.map((el) => {
            var ship_no = el.ship_lot.toString();
            if (ship_no.search(searchInput) > -1) {
              arr.push(el);
            }
          });
          this.newData = arr;
        } else {
          this.initDatabl(this.bl_list);
        }
      },
      getBlDetail: function (e) {
        // console.log(e.currentTarget.data);
        this.fire('get-bl-detail', { detail: e.currentTarget.data });
      }
    });
  </script>
</dom-module>