<link rel="import" href="./../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="./../../../../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="./../../../layout/shared-styles.html">
<dom-module id="list-of-invoice">
  <style include="iron-flex iron-flex-factors iron-flex-alignment shared-styles">
     :host {
      display: block;
    }

    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .labelSearch {
      font-size: var(--font-size-h4);
      margin: 10px 10px 10px 10px;
    }

    .table-body>tr>td {
      cursor: pointer;
    }

    .title {
      margin: 16px;
      text-align: left;
      font-size: var(--font-size-h4);
    }

    .worrne {
      padding: 15px;
    }

    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }

    .sendMoney>td:hover {
      color: red;
      cursor: default;
      background-color: #ffffff;
    }

    .text-right {
      text-align: right;
    }

    .table-head>tr>th:nth-child(4),
    .table-body>tr>td:nth-child(4) {
      width: 10%;
      text-align: center;
    }

    .table-head>tr>th:nth-child(5),
    .table-head>tr>th:nth-child(6) {
      width: 20%;
      text-align: center;
    }

    .btn-print {
      text-align: center;
    }
  </style>
  <template>
    <div class="flex searchInput horizontal center-justified layout">
      <div class="flex title">{{localize.contract_name}} : [[getCookieBhv("contractName")]]</div>
    </div>
[[checkSelect(data.*)]]
    <div class="horizontal center-justified layout">
      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>
              <paper-checkbox on-tap="_selectDataAll" checked="{{selectDataAll}}"></paper-checkbox>{{localize.select}}</th>
            <th>{{localize.invoice_no}}</th>
            <th>{{localize.lot_no}}</th>
            <th>{{localize.ship_lot}}</th>
            <th>{{localize.weight}} ({{localize.ton}})</th>
            <th>{{localize.amount}}{{localize.money}} ({{localize.usd}})</th>
            <th style="width:10%">{{localize.print_invoice}}</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <template is="dom-repeat" items="{{data}}">
            <tr>
              <td>
                <paper-checkbox data="{{item}}" checked="{{item.check}}"></paper-checkbox>
              </td>
              <td data="[[item]]" on-tap="getInvoiceDetail">[[item.invoice_no]]</td>
              <td data="[[item]]" on-tap="getInvoiceDetail">[[item.cl_no]]</td>
              <td data="[[item]]" on-tap="getInvoiceDetail">
                <div style="text-align:right;">[[item.ship_lot]]</div>
              </td>
              <td data="[[item]]" on-tap="getInvoiceDetail">
                <div class="text-right">[[formatNumber(item.net_weight)]]</div>
              </td>
              <td data="[[item]]" on-tap="getInvoiceDetail">
                <div class="text-right">[[formatNumber(item.value_d)]]</div>
              </td>
              <td>
                <div class="btn-print">
                  <paper-icon-button id="printShipment" data="[[item]]" class="crud" icon="print" raised on-tap="getInvoiceid" hidden="[[!data.shm_status]]"></paper-icon-button>
                  <paper-tooltip for="printShipment" offset="0">{{localize.label_send_report}}</paper-tooltip>
                </div>
              </td>
            </tr>
            <!--<tr class="sendMoney">
              <td colspan="5">
                <div class="horizontal end-justified layout btnMoney">
                  <paper-button class="gl-btn-success" raised on-tap="payMoney">{{localize.money_receiver}}</paper-button>
                </div>
              </td>
            </tr>-->
          </template>

          <template is="dom-if" if="[[_isHave(data)]]">
            <tr>
              <td colspan="7" style="text-align:center"> {{localize.no_data}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <!--<div class="horizontal justified layout">
      <div class="worrne">{{localize.text_check_true}}</div>
      <div class="btnMoney"><paper-button class="gl-btn-success" raised on-tap="payMoney">{{localize.money_receiver}}</paper-button></div>
      
    </div>-->
    <div class="btnFab" hidden="{{fabHidden}}">
      <paper-fab icon="editor:attach-money" title="{{localize.money_receiver}}" id="addContract" on-tap="payMoney"></paper-fab>
      <paper-tooltip for="addContract" offset="0">{{localize.money_receiver}}</paper-tooltip>
    </div>

  </template>
  <script>
    Polymer({
      is: "list-of-invoice",
      behaviors: [ReduxBehavior, FormatNumberBehavior, CookieBehavior],
      properties: {
        localize: {
          statePath: 'i18n.invoice'
        },
        fabHidden:{
          type:Boolean,
          value:true
        },
        data: {
          statePath: 'invoice.list'
        },
        selectDataAll: {
          type: Boolean,
          value: false
        }
      },
      _isHave: function (data) {
        if (data.length < 1) {
          return true;
        } else {
          return false
        }
      },
      _selectDataAll: function (val) {
        try {
          this.data.map((item, index) => {
            this.set('data.' + index + '.check', this.selectDataAll);
          });
        } catch (error) {

        }
      },
      getInvoiceDetail: function (e) {
        this.fire('get-invoice-detail', { detail: e.currentTarget.data });
      },
      checkSelect: function (data){
        let check = this.data.find((item) => item.check === true)
        if(check !==undefined) 
          return this.set('fabHidden',false)
        return this.set('fabHidden',true)
      },
      getInvoiceid: function (e) {
        // console.log(e.currentTarget.data);
        window.open(window._config.reportServer+'/api/finance/report1?id=' + e.currentTarget.data.id);
      },
      payMoney: function () {
        var arr = [];
        var data = this.data.filter((val) => {
          if (val.check === true) {
            arr.push({ id: val.id });
          }
        })
        // console.log(arr);
        this.fire('get-select-draftPayment', { detail: arr });
      }
    });
  </script>
</dom-module>