<link rel="import" href="./list-of-fee-detail.html">
<link rel="import" href="../../../../bower_components/paper-badge/paper-badge.html">

<link rel="import" href="./../../../layout/shared-styles.html">

<dom-module id="list-of-fee">
  <style media="screen" include="shared-styles">
     :host {
      display: block;
    }

    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .labelSearch {
      font-size: var(--font-size-h4);
      margin: 10px 10px 10px 10px;
    }

    .table-body>tr>td {
      cursor: pointer;
    }

    .title {
      margin: 16px;
      text-align: left;
      font-size: var(--font-size-h4);
    }
    /*table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }

    table.gl-table-default>thead.table-head>tr>th {
      text-align: center;
    }
    table.gl-table-default>thead.table-head>tr>th:nth-child(1) {
      width: 15%;
    }

    table.gl-table-default>tbody.table-body>tr>td:not(:first-child) {
      text-align: right;
    }*/

    main {
      padding: 5px;
      margin: 0 auto;
    }

    section {
      display: none;
      border-top: 1px solid #ddd;
    }

    input {
      display: none;
    }

    label {
      display: inline-block;
      margin: 0 0 -1px;
      padding: 15px 25px;
      font-weight: 600;
      text-align: center;
      color: #bbb;
      border: 1px solid transparent;
      background: #D5D8DC;
    }

    label:before {
      font-family: fontawesome;
      font-weight: normal;
      margin-right: 10px;
    }

    label:hover {
      color: #888;
      cursor: pointer;
    }

    input:checked+label {
      color: #555;
      border: 1px solid #ddd;
      border-top: 3px solid orange;
      border-bottom: 1px solid #fff;
      background: #fff;
    }

    #tab1:checked~#content1,
    #tab2:checked~#content2 {
      display: block;
    }

    .container {
      display: inline-block;
      margin-left: 30px;
      margin-right: 30px;
    }
    /* Need to position the badge to look like a text superscript */

    .container>paper-badge {
      --paper-badge-margin-left: 20px;
      --paper-badge-margin-bottom: 0px;
    }
  </style>
  <template>
    <main>
      <input id="tab1" type="radio" name="tabs" checked on-tap="tap1">
      <label for="tab1">
        <div class="container" tabindex="0">
        <span>1.{{localize.allocate_unsuccess}}</span>
        <paper-badge label="{{unallocated_fees.length}}" style="left: 244.813px; top: 28px;"></paper-badge>
      </div>
      </label>

      <input id="tab2" type="radio" name="tabs"  on-tap="tap2">
      <label for="tab2">
        <div class="container" tabindex="0">
          <span>2.{{localize.allocate_success}}</span>
          <paper-badge label="{{allocate_fees.length}}" style="left: 529.234px; top: 28px;"></paper-badge>
          </div>
      </label>

      <section id="content1">
        <list-of-fee-detail data="{{list_fee}}"></list-of-fee-detail>
      </section>

      <section id="content2">
        <list-of-fee-detail data="{{list_fee}}"></list-of-fee-detail>
      </section>
    </main>
    <!-- <div class="flex searchInput horizontal center-justified layout">
      <div class="flex title">{{localize.contract_name}} : [[getCookieBhv("contractName")]]
      </div>
      <div class="flex horizontal end-justified layout">
        <div class="labelSearch">{{localize.text_fee_no}}</div>{{_searchInArray(searchInput)}}
        <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
        <paper-icon-button icon="search"></paper-icon-button>
      </div>
    </div>
    <div class="horizontal center-justified layout">
      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>{{localize.cal_no}}</th>
            <th>{{localize.fee_no}}</th>
            <th>{{localize.additional}}<br>{{localize.fee_round}}</th>
            <th>{{localize.invoice_no}}</th>
            <th>{{localize.invoice_count}}</th>
            <th>{{localize.amount}}{{localize.money}} ({{localize.baht}})</th>
            <th>{{localize.expenses_fee}} ({{localize.baht}})</th>
            <th>{{localize.expenses_one_present}} ({{localize.baht}})</th>
            <th>{{localize.balance}} ({{localize.baht}})</th>
            <th>{{localize.status}}</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <template is="dom-repeat" items="[[newData]]">
            <tr data="[[item]]" on-tap="getFeeDetail">
              <td><div style="text-align:right;">{{item.cl_no}}</div></td>
              <td>[[item.fee_no]]</td>
              <td>[[obRound(item.fee_round)]]</td>
              <td><div style="text-align:left;">[[item.invoice_no]]</div></td>
              <td>[[item.invoice_count]]</td>
              <td>[[formatNumber(item.value_b)]]</td>
              <td>[[formatNumber(item.value_fee_b)]]</td>
              <td>[[formatNumber(item.value_tax_b)]]</td>
              <td>[[formatNumber(item.value_final_b)]]</td>
              <td><div style="text-align:left;">[[obStatus(item.rice_status)]]</div></td>
            </tr>
          </template>
          <template is="dom-if" if="[[_isHave(newData)]]">
            <tr>
              <td colspan="9" style="text-align:center"> {{localize.no_data}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div> -->
  </template>
  <script>
    Polymer({
      is: "list-of-fee",
      behaviors: [ReduxBehavior, nylonBehavior, FormatNumberBehavior, CookieBehavior, g2gLogicBehavior],
      properties: {
        localize: {
          statePath: 'i18n.fee'
        },
        list_fee: {
          statePath: 'fee.list'
        },
        unallocated_fees: {
          statePath: 'fee.unallocated_fees'
        },
        allocate_fees: {
          statePath: 'fee.allocate_fees'
        },
      },
      tap1: function () {
        this.dispatchAction('FEE_GET_LIST_DATA', { contract_id: this.getCookieBhv("contract_id"), view: 'fin', status: 'false' });
      },
      tap2: function () {
        this.dispatchAction('FEE_GET_LIST_DATA', { contract_id: this.getCookieBhv("contract_id"), view: 'fin', status: 'true' });
      }
    });
  </script>
</dom-module>