<!--<link rel="import" href="detail-member.html">-->
<link rel="import" href="company-page.html">

<dom-module id="confirm-exporter">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color gl-table gl-toast">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .marginCheckbox {
      margin: 10px 0px 0px 30px;
    }
    .searchBorder {
      border: 1px solid var(--gl-gray-light-color);
      margin: 15px;
      border-radius: 3px;
    }
    .text-table {
      text-align: center;
      font-size: var(--font-size-h5);
    }
    .gl-table-default {
      border-collapse: collapse;
      width: 100%;
      white-space: nowrap;
    }
    paper-tabs {
      background-color: #f7941e;
      margin: 0px 15px 0px 15px;
      color: #F2F2F2;
      --paper-tabs-selection-bar: {
        height: 5px;
        background-color: var(--gl-info-color);
      }
    }
    paper-tab:focus>div.tab-content {
      background-color: yellow;
      opacity: 1;
      font-weight: 0;
    }
    paper-tab:not(:last-of-type) {
      border-right: 3px solid var(--gl-gray-light-color);
      font-size: var(--font-size-h5);
    }
    paper-tabs paper-tab.iron-selected {
      font-size: var(--font-size-h5);
      color: var(--gl-white-color);
      background-color: var(--gl-info-color);
    }
    .table-head>tr>th:nth-child(2) {
      width: 15%;
    }
    .btn{
      margin:15px 20px 5px 10px
    }
  </style>
  <template>
    <!--[[_search(idCompany)]]-->
    <!--<gl-combo-box label="ชื่อบริษัท" items="{{listCompany}}" item-label-path="company_name_th" 
    item-value-path="company_id" value="{{idCompany}}"></gl-combo-box>-->
    <div class="horizontal layout center-justified">
      <gl-form-input style="width:300px;" label="เลขประจำตัวผู้เสียภาษี :" value="{{companyId}}" always-float-label allowed-pattern="[0-9]" maxlength="13">
        <iron-icon icon="search" prefix style="width:20px;height:30px;"></iron-icon>
        <paper-icon-button suffix on-tap="clearData" icon="clear" title="clear" style="height:30px;">
      </gl-form-input>
      <paper-button class="gl-btn-info btn" raised on-tap="_search">ค้นหา</paper-button>
    </div>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="listExporter">
        <div class="horizontal layout justified">
          <div>
            <paper-checkbox class="marginCheckbox" checked={{selectDataAll}}>{{localize('ck_select_all')}}</paper-checkbox>
          </div>
          <div>
            {{localize('bt_print_book')}}
            <paper-icon-button icon="print" on-tap="_print" title="{{localize('bt_print_book')}}"></paper-icon-button>
          </div>
        </div>
        <div class="searchBorder" style="overflow-x:auto;">
          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th></th>
                <th>
                  <div class="text-table">{{localize('no_exporter_fullname')}}</div>
                </th>
                <th>
                  <div class="text-table">{{localize('name_company')}}</div>
                </th>
                <!--<th><div class="text-table">{{localize('type_license')}}</div></th>-->
                <th>
                  <div class="text-table">{{localize('date_register')}}</div>
                </th>
                <th>
                  <div class="text-table">{{localize('status')}}</div>
                </th>
              </tr>
            </thead>


            <template is="dom-repeat" items="{{companys}}">
              <tbody>
                <tr style="cursor:pointer;">
                  <td style="text-align:center">
                    <template is="dom-if" if={{checkStatus(item.approve_status)}}>
                      <paper-checkbox checked="{{item.check}}" class="checkbox"></paper-checkbox>
                    </template>
                  </td>
                  <td style="text-align:center">
                    <gl-form-input value="{{item.exporter_no}}" on-blur="changeNo" data="[[item]]" allowed-pattern="[0-9]"></gl-form-input>
                  </td>
                  <!-- <td on-tap="_selectData" data="[[item]]"><div class="text-table">{{item.exporter_no_name}}</div></td> -->
                  <td on-tap="_selectData" data="[[item]]">
                    <div>{{item.company_name_th}}</div>
                  </td>
                  <!--<td on-tap="_selectData" data="[[item]]"><div class="text-table">{{item.type_lic_name}}</div></td>-->
                  <td on-tap="_selectData" data="[[item]]">
                    <div class="text-table">{{item.date_created}}</div>
                  </td>
                  <td on-tap="_selectData" data="[[item]]">
                    <div>{{item.approve_status_name}}</div>
                  </td>
                </tr>
              </tbody>
            </template>
          </table>
        </div>
        <div class="horizontal layout end-justified">
          <paper-button class="gl-btn-danger" on-tap="_close" raised>{{localize('bt_cancel')}}</paper-button>
          <paper-button class="gl-btn-success" style="margin-right:15px" on-tap="_approveAll" raised>{{localize('bt_approve')}}</paper-button>
        </div>
      </div>

      <div name="detailExporter">
        <!-- <detail-member data={{dataSelect}}></detail-member> -->
        <paper-tabs selected="{{pages}}" align-bottom no-slide>
          <paper-tab>{{localize('detail')}}</paper-tab>
          <paper-tab id="tabFile">{{localize('doc_ev')}}</paper-tab>
        </paper-tabs>
        <gl-form-panel>
          <iron-pages selected="{{pages}}">
            <detail-company data="[[dataSelect]]"></detail-company>
            <fileup-company doc-type="[[docType]]" data="[[dataSelect]]"></fileup-company>
            <!--<detail-member data={{dataSelect}}></detail-member>
            <register-fileup data="{{dataSelect}}" doc-type="[[docType]]"></register-fileup>-->
          </iron-pages>
        </gl-form-panel>

        <div class="horizontal layout justified">
          <div>
            <paper-button id="btn-reject" class="gl-btn-warning" style="margin-right:15px" on-tap="_dialogRemark" raised>{{localize('bt_no_pass')}}</paper-button>
          </div>
          <div>
            <paper-button class="gl-btn-danger" on-tap="_backPage" raised>{{localize('bt_cancel')}}</paper-button>
            <paper-button id="btn-save" class="gl-btn-success" style="margin-right:15px" on-tap="_save" raised>{{localize('bt_pass')}}</paper-button>
            <paper-button id="btn-approve" class="gl-btn-success" style="margin-right:15px" on-tap="approve" raised>{{localize('bt_approve')}}</paper-button>
          </div>
        </div>
      </div>
      <div name="register">
        <company-page doc-type="[[docType]]" data="[[data]]"></company-page>
      </div>
    </iron-pages>
    <paper-dialog id="dialog" style="width:60%;">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
          <gl-form-textarea label="{{localize('note')}} : " always-float-label value="{{company_remark}}"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>
      <div>
        <paper-button class="gl-btn-danger button-size" raised on-tap="_dialogcancle">{{localize('bt_cancel')}}</paper-button>
        <paper-button class="gl-btn-primary button-size" raised on-tap="_reject">{{localize('bt_save')}}</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: "confirm-exporter",
      properties: {
        pages:{
          type: String,
          value: 0
        },
        pageSelected: {
          type: String,
          value: 'listExporter'
        },
        data: {
          type: Array,
          value: []
        },
        selectDataAll: {
          type: Boolean,
          value: false,
          observer: '_changeselectDataAll'
        }
      },
      behaviors: [dataBehavior, nylonBehavior],/*, nylonLocalizeBehavior*/
      listeners: {
        'back_page' : '_backPage',
        'clearData' : 'clearData'
      },
      // created: function () {
      //   this.nylonLocalizeImport('/i18n-page-admin-exporter.json');
      // },
      _selectData: function (e) {
        this.pageSelected = "detailExporter";
        this.dataSelect = e.currentTarget.data;
        if (this.dataSelect.approve_status == 'process') {
          this.$$('#btn-reject').setAttribute("hidden", "hidden");
          this.$$('#btn-save').setAttribute("hidden", "hidden");
          this.$$('#btn-approve').removeAttribute("hidden");
        }
        else if (this.dataSelect.approve_status == 'reject') {
          this.$$('#btn-reject').setAttribute("hidden", "hidden");
          this.$$('#btn-save').removeAttribute("hidden", "hidden");
          this.$$('#btn-approve').setAttribute("hidden", "hidden");
        }
        else {
          this.$$('#btn-reject').removeAttribute("hidden");
          this.$$('#btn-save').removeAttribute("hidden");
          this.$$('#btn-approve').setAttribute("hidden", "hidden");
        }
      },
      _backPage: function (data) {
        this.pageSelected = 'listExporter';
        this.pages = 0;
      },
      _save: function () {
        this.fire('toast', {
          status: 'dialog',
          text: 'เอกสารครบถ้วนแล้วใช่หรือไม่ ?',
          confirmed: this._confirmProcess.bind(this),
          datas: {
            id: this.dataSelect.id,
            company_id: this.dataSelect.company_id,
            exporter_no: this.dataSelect.exporter_no,
            approve_status: 'process'
          }
        });
      },
      _confirmProcess: function (result, detail) {
        if (result == true) {
          // console.log(detail.datas);
          this.fire('toast', { status: 'load', text: 'กำลังบันทึกข้อมูล...' })
          this.update('./external/confirm_exporter/update', detail.datas, () => {
            this.fire('toast', {
              status: 'success', text: 'บันทึกสำเร็จ', callback: () => {
                this.pageSelected = 'listExporter';
                this.fire('refresh-company');
                this.fire('refresh-exporter');
                // console.log('success');
              }
            });
          });
        }
      },
      approve: function () {
        this.fire('toast', {
          status: 'dialog',
          text: 'คุณต้องการจะอนุมัติใช่หรือไม่ ?',
          confirmed: this._confirmApprove.bind(this),
          datas: {
            confirm_id: this.dataSelect.id,
            company_id: this.dataSelect.company_id,
            exporter_no: this.dataSelect.exporter_no
          }
        });
      },
      _confirmApprove: function (result, detail) {
        if (result == true) {
          // console.log(detail.datas);
          this.fire('toast', { status: 'load', text: 'กำลังบันทึกข้อมูล...' })
          this.insert('./external/confirm_exporter/insert', detail.datas, () => {
            this.fire('toast', {
              status: 'success', text: 'บันทึกสำเร็จ', callback: () => {
                this.pageSelected = 'listExporter';
                this.fire('refresh-company');
                this.fire('refresh-exporter');
                this.fire('refresh-listcompany');
                // console.log('success');
              }
            });
          });
        }
      },
      _changeselectDataAll: function (val) {
        // console.log(val);
        if (typeof this.companys != 'undefined') {
          this.companys.map((item, index) => {
            // if (item.approve_status == "process") {
            this.set('companys.' + index + '.check', val);
            // }
          });
        }
      },
      _close: function () {
        this.fire('close-toggle');
      },
      _approveAll: function () {
        const check = (item) => {
          return item.check == true;
        }
        this.companys.filter(check).map((datas) => {
          // console.log(datas);
          let { exporter_no, company_id, id } = datas;
          let newData = { exporter_no, company_id, id };
          // console.log(newData);
          this.data.push(newData);
        });
        this.fire('toast', {
          status: 'dialog',
          text: 'คุณต้องการจะอนุมัติใช่หรือไม่ ?',
          confirmed: this._confirm.bind(this)
        });
      },
      _confirm: function (result, detail) {
        this.data.map((datas) => {
          datas = {
            confirm_id: datas.id,
            company_id: datas.company_id,
            exporter_no: datas.exporter_no
          }
          if (result == true) {
            // console.log(datas);
            this.fire('toast', { status: 'load', text: 'กำลังบันทึกข้อมูล...' })
            this.insert('./external/confirm_exporter/insert', datas, () => {
              this.fire('toast', {
                status: 'success', text: 'บันทึกสำเร็จ', callback: () => {
                  this.fire('refresh-company');
                  this.fire('refresh-exporter');
                  this.fire('refresh-listcompany');
                  this.selectDataAll = false;
                  // console.log('success');
                }
              });
            });
          }
        });
      },
      _dialogRemark: function () {
        this.$.dialog.toggle();
        // console.log(this.dataSelect);
      },
      _dialogcancle: function () {
        this.$.dialog.toggle();
        this.company_remark = "";
      },
      _reject: function () {
        this.fire('toast', {
          status: 'dialog',
          text: 'คุณต้องการจะให้ผู้ส่งออกส่งเอกสารเพิ่มเติมใช่หรือไม่ ?',
          confirmed: this._confirmReject.bind(this),
          data: {
            id: this.dataSelect.id,
            company_id: this.dataSelect.company_id,
            approve_status: 'reject',
            company_remark: this.company_remark
          }
        });
      },
      _confirmReject: function (result, detail) {
        if (result == true) {
          // console.log(detail.data);
          this.fire('toast', { status: 'load', text: 'กำลังบันทึกข้อมูล...' })
          this.update('./external/confirm_exporter/update', detail.data, () => {
            this.fire('toast', {
              status: 'success', text: 'บันทึกสำเร็จ', callback: () => {
                this.$.dialog.toggle()
                this.company_remark = "";
                this.fire('refresh-company');
                this.fire('refresh-exporter');
                this._backPage();
                // console.log('success');
              }
            });
          });
        }
      },
      changeNo: function (e) {
        var company = e.currentTarget.data;
        var datas = {
          id: company.id,
          exporter_no: parseInt(company.exporter_no),
          company_id: company.company_id
        }
        // console.log(datas);
        this.read('./external/check/duplicate?table=confirm_exporter&field=exporter_no&value=' + datas.exporter_no, (response) => {
          if (response == 0) {
            this.fire('toast', { status: 'load', text: 'กำลังบันทึกข้อมูล...' })
            this.update('./external/confirm_exporter/update', datas, () => {
              this.fire('toast', {
                status: 'success', text: 'บันทึกสำเร็จ', callback: () => {
                  this.fire('refresh-company');
                  // console.log('success');
                }
              });
            });
          }
          else {
            this.read('./external/check/myowner?table=confirm_exporter&id=' + datas.id + '&field=exporter_no&value=' + datas.exporter_no, (response) => {
              if (response == 1) {
                this.fire('toast', { status: 'load', text: 'กำลังบันทึกข้อมูล...' })
                this.update('./external/confirm_exporter/update', datas, () => {
                  this.fire('toast', {
                    status: 'success', text: 'บันทึกสำเร็จ', callback: () => {
                      this.fire('refresh-company');
                      // console.log('success');
                    }
                  });
                });
              }
              else {
                this.fire('toast', {
                  status: 'connectError', text: 'เลข ข. นี้มีอยู่แล้ว',
                  callback: function () {
                  }
                })
              }
            });
          }
        });
      },
      _print: function () {
        const check = (item) => {
          return item.check == true;
        }
        this.companys.filter(check).map((datas) => {
          // console.log(datas);
          let { company_id, id, exporter_no } = datas;
          let newData = { company_id, id, exporter_no };
          // console.log(newData);
          // this.data.push(newData);
        });
      },
      checkStatus: function (val) {
        if (val != 'process') {
          return false
        }
        else {
          return true
        }
      },
      _search: function (val) {
        console.log(this.companyId);
        // if (val != '' && typeof val != 'undefined') {
        //   // console.log(val);
        //   this.read('./external/confirm_exporter/list/' + val, (data) => {
        //     if (data != []) {
        //       for (var key in data) {
        //         // console.log(data[key]);
        //         if (data[key] == '') {
        //           data[key] = "-";
        //         }
        //       }
        //       this.pageSelected = "register";
        //       this.data = data;
        //       // console.log(data);
        //     }
        //     else {
        //       this.read('./external/company/' + val, (data) => {
        //         data.approve_status = 'register';
        //         data.approve_status_name = 'ยังไม่ลงทะเบียนผู้ส่งออก';
        //         for (var key in data) {
        //           // console.log(data[key]);
        //           if (data[key] == '') {
        //             data[key] = "-";
        //           }
        //         }
        //         this.pageSelected = "register";
        //         this.data = data;
        //         // console.log(data);
        //       })
        //     }
        //   })
        // }
        // else{
        //   return this._backPage()
        // }
      },
      clearData: function(){
        this.idCompany = {};
        this.companyId = '';
      }
    });
  </script>
</dom-module>