<script>
  g2gLogicBehavior = {
    properties: {
      isInputDisabled: {
        type: Boolean,
        value: true
      },
      isEdit: {
        type: Boolean,
        value: true
      },
      isViewSeleted: {
        type: Boolean,
        value: true
      },
      oldData: {
        type: Object,
        // readOnly: true,
      },
      // btnCheckDis:{
      //   type:Boolean,
      //   value:false
      // },
    },
    observers: [
      '_cloneData(data)'
    ],
    // observers: function(oldData) {
    //
    //   this._setResponse(oldData);
    // }

    changeDateCC: function (date) {
      // let date = '2016-12-20';
      let day, mouth, year;
      day = date.split("-")[2];
      mouth = date.split("-")[1];
      year = Number(date.split("-")[0]) + 543;
      // console.log(day+'-'+mouth+'-'+String(year));
      return day + '/' + mouth + '/' + String(year);
    },
    _cloneData: function (data) {

      let old = this.g2gClone(data);
      // let old = Object.assign({}, data);
      this.oldData = old;
    },
    _isViewing: function (data) {
      return data == true;
    },
    _isNan: function (num) {
      if (isNaN(num)) {
        // console.log(num);
        return 0;
      } else {
        // console.log(num);
        return num;
      }
    },
    // _isEditing:function (data) {
    //   return data == true;
    // },
    g2gClone: function (data) {
      if (typeof data !== 'undefined' && data !== 'undefined') {
        return JSON.parse(JSON.stringify(data));
      }
    },
    test: function () {
      // console.log('ถึงแล้วววว');
    },
    editInput: function () {
      this.isInputDisabled = !this.isInputDisabled;
    },
    checkBtnView: function (data) {
      return data == true;
    },
    //approve function
    approve: function (data) {
      // console.log(data);
      return data = !data;
    },
    //เช็คว่ามีข้อมูลในอาเรย์ไหม
    _isHave: function (data) {
      // console.log(typeof data == 'object');
      if ((typeof data == 'object') && (data !== null)) {

        // console.log('fffff',data);
        if (data.length < 1) {
          return true;
        } else {
          return false
        }

      } else {
        // console.log('aaaaa',data);
        return true
      }
      // if (typeof data !== 'undefined' && data !== 'undefined') {
      //   if (data.length < 1) {
      //     return true;
      //   }
      // }else {
      //   return 0;
      // }

    },
    _checkUndefined: function (data) {
      // conFirmApprove !== undefined && conFirmApprove !== ''
      if (data != undefined) {
        return true
      }
    },
    toNumberFormat: function (number) {
      return numeral(number).format('0,0.00');
    },
    _isHaveMany: function (data, count) {
      // console.log(data.length);
      if (data.length < count) {
        return true;
      }
    },
    _isHaveForUse: function (arr1, arr2) {
      // [[!_isHaveForUse(data.incoterms,dataForSelect.incoterms,data.incoterms.*)]]
      // console.log(arr1.length,arr2.length);
      if (arr1.length < arr2.length) {
        // this.btnCheckDis=true;
        // console.log('true');
        return true;
      } else {
        // console.log('false');
        // this.btnCheckDis=false;
        return false;
      }
    },
    _isHaveForDelete: function (arr1) {
      // [[_isHaveForDelete(data.incoterms,data.incoterms.*)]]
      // console.log(arr1.length,arr2.length);
      if (arr1.length < 2) {
        return true;
      }
    },
    _ObcountIndex: function (index) {
      return index + 1;
    },
    _getCookie: function (name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    },
    _getUrl: function () {
      return this._getCookie("contract_id");
    },
    getDateg2g: function (date, callback) {
      // console.log('gggg=',date);
      if (date == undefined || date == 'undefined') {
        let date = new Date;
        let dateNow = date.toISOString().split("T");
        callback(dateNow[0]);
      }
    },
    _checkArrayTrue: function (disabled, status = false) {
      if (status) {
        return true;
      } else {
        if (disabled) {
          return true;
        } else {
          return false;
        }
      }
    },
    _changeDate: function (date) {
      try {
        return date.split('T')[0]
      } catch (error) {

      }

    },
    calcelContract: function () {
      this.fire('toast', {  //คำสั่งสำหรับเปิด toast dialog
        status: 'dialog',
        text: 'ต้องการยกเลิกใช่หรือไม่ ?',
        confirmed: this._cencelDataContract.bind(this), //function ที่ใช้รับค่า ปุ่ม
        el: this, // compontents
        data: this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      });

    },
    _cencelDataContract: function (result, detail) {
      if (result == true) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        el.map((el) => { el.reset(); });
        this.data = this.oldData;
        this.editInput();
        //
      }
    },
    changeString2Num: function (ob, param) {
      if (typeof ob.value == "string") {
        var pathChange = ob.path.split(".");
        // undefined
        if (pathChange.length == 2) {
          if (pathChange[1] == param) {
            ob.base[param] = numeral().unformat(ob.value);
            // console.log(ob.base[param]);
          }
        }
      }
    },
    change2MsSql: function (data) {
      //ฟั่งชั่นแปลงค่า date จาก 2017-01-01 เป็น 2017/01/01 เพื่อให่เวลาเป็น gmt+7(แบบเก่า+0)
      let newdata
      // Object.getOwnPropertyNames(data).map((date) => {
      // console.log(date.indexOf("date"));
      // if (date.indexOf("date") > -1) {
      newdata = data.replace("-", "/").replace("-", "/");
      //   } else {
      //     newdata[date] = data[date];
      //   }
      // })
      return newdata
    },
    genUrl: function (url) {
      let data = new String()
      let url_length = Object.getOwnPropertyNames(url).length
      let count = new Number()
      // console.log(url);
      for (var variable in url) {
        if (url[variable] != '') {
          data = data + variable + "=" + url[variable];
          (count < url_length - 1) ? data += '&' : '';
        }
        count++
      }
      // console.log(data);
      return data
    },
    throttle: function (func, wait, options) {
      var context, args, result;
      var timeout = null;
      var previous = 0;
      if (!options) options = {};
      var later = function () {
        previous = options.leading === false ? 0 : Date.now();
        timeout = null;
        result = func.apply(context, args);
        if (!timeout) context = args = null;
      };
      return function () {
        var now = Date.now();
        if (!previous && options.leading === false) previous = now;
        var remaining = wait - (now - previous);
        context = this;
        args = arguments;
        if (remaining <= 0 || remaining > wait) {
          if (timeout) {
            clearTimeout(timeout);
            timeout = null;
          }
          previous = now;
          result = func.apply(context, args);
          if (!timeout) context = args = null;
        } else if (!timeout && options.trailing !== false) {
          timeout = setTimeout(later, remaining);
        }
        return result;
      };
    },
    debounce: function (func, wait, immediate) {
      var timeout;
      return function () {
        var context = this, args = arguments;
        var later = function () {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    },
    maxNumberInArrayObject: function (arr, prop) {
      // newCh เป็น array   'invoice_no'  คือชื่อที่ prop ที่ต้องการเรียง
      // this.maxNumberInArrayObject(newCh, 'invoice_no')
      // var maxCallback = (max, cur) => Math.max(max, cur)
      // return arr.map((item) => Number(item[prop])).reduce(maxCallback, -Infinity)
      return Math.max(...arr.map((item) => Number(item[prop])))
    },
    minNumberInArrayObject: function (arr, prop) {
      // newCh เป็น array   'invoice_no'  คือชื่อที่ prop ที่ต้องการเรียง
      // this.minNumberInArrayObject(newCh, 'invoice_no')
      // var minCallback = (min, cur) => Math.min(cur,min)
      // return arr.map((item) => Number(item[prop])).reduce(minCallback, -Infinity)
      return Math.min(...arr.map((item) => Number(item[prop])))
    },
    _isShow: function (data, dataLoop) {
      try {
        let resulte = data.every((item) => item.hidden === true)
        // console.log(resulte);
        return resulte
      } catch (error) {

      }
    },
    _setSeleteValue: function (e) {
      let value = e.currentTarget
      value.focus();
      value.setSelectionRange(0, 1);
    }
  }

</script>