<dom-module id="page-style">
    <style is="custom-style" include="gl-styles">
         :host {
            --vaadin-date-picker-label-floating: {
                font-size: 21px;
                line-height: 30px;
            }
            --gl-combo-box-container-label-floating: {
                font-size: 22px;
                line-height: 30px;
            }
            --gl-form-input-container-label-floating: {
                font-size: 22px !important;
                line-height: 30px;
            }
            --gl-form-textarea-container-label-floating:{
                font-size: 22px !important;
                line-height: 30px;
            }
        }
        
        .page-head {
            margin: 20px 0px 0px 0px;
        }
        
        .paper-meterial {
            background-color: var(--gl-white-color);
            border-radius: 3px;
        }
        
        .margin-meterial {
            margin: 20px;
        }
        
        .head-meterial,
        .content-meterial,
        .foot-meterial {
            padding: 15px;
            display: block;
        }
        
        .head-meterial {
            font: var(--font-size-h3);
            font-weight: bold;
        }
        
        .content-meterial {
            font: var(--font-size-h4);
        }
        
        .foot-meterial {
            font: var(--font-size-h4);
        }
        /*vaadin-date-picker {
            margin-top: -19px;
        }*/
        
        .xcontainer {
            margin: auto;
        }
        
        @media screen and (min-width: 1275px) {
            .xcontainer {
                width: 85%;
            }
        }
        
        .tabe-overflow-x {
            overflow-x: auto;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd
        }
        
        gl-combo-box {
            --shadow-elevation-2dp: {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                border: 1px solid #ddd;
            }
        }
        
        .gl-btn-danger {
            background-color: #FF3B3B;
        }
    </style>
    <template>

    </template>
    <script>
        Polymer({
            is: "page-style",

        });
    </script>
</dom-module>