<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<dom-module id="confirm-detail">
  <style is="custom-style" include="iron-flex iron-flex-alignment gl-styles page-style">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .top {
      margin-top: 15px;
      font-size: var(--font-size-h5);
    }

    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }

    paper-button {
      margin-top: 10px;
    }

    gl-form-textarea {
      word-break: break-all;
    }

    paper-icon-button {
      margin-top: 10px;
    }

    paper-icon-button.crud {
      margin: 5px 5px 5px 5px;
    }

    paper-icon-button.crud:hover {
      background-color: var(--paper-grey-200);
      border-radius: 5px;
      box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, .2);
    }

    paper-button.btnInTable {
      --paper-button: {
        margin-top: 0px;
        height: 30px;
      }
    }

    gl-combo-box.InTable {
      margin-top: -20px;
    }

    .numberBack {
      text-align: right;
    }

    .btnCenter {
      text-align: center;
    }

    iron-icon {
      height: 16px;
      width: 16px;
      margin-right: 8px;
    }
  </style>
  <template>
    <!--<template is="dom-if" if="[[commonState.btnDisabled]]">-->
    <paper-button raised on-tap="backPage" class="gl-btn-default">{{localizeCommon.back_ward}}</paper-button>
    <!--</template>-->
    <!--<template is="dom-if" if="[[!commonState.btnDisabled]]">
      <paper-button raised on-tap="backPageInsert" class="gl-btn-default" hidden="[[isViewSeleted]]">{{localizeCommon.back_ward}}</paper-button>
    </template>-->
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <template is="dom-if" if="[[!data.cl_status]]">
        <template is="dom-if" if="[[!commonState.isInsert]]">
          <div class="horizontal end-justified layout">
            <paper-icon-button id="edit" class="crud" icon="create" raised on-tap="editConfirm" disabled="[[!commonState.btnDisabled]]"></paper-icon-button>
            <paper-tooltip for="edit" offset="0">{{localizeCommon.edit}}</paper-tooltip>
            <paper-icon-button id="delete" class="crud" icon="delete" raised on-tap="deleteConfirm" disabled="[[!commonState.btnDisabled]]"></paper-icon-button>
            <paper-tooltip for="delete" offset="0">{{localizeCommon.delete}}</paper-tooltip>
          </div>
        </template>
      </template>
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          [[changeString2Num(data.*,'cl_no')]]
          <gl-form-input class="required" required autofocus allowed-pattern="[0-9||,||.]" format-number="on" disabled="[[commonState.btnDisabled]]"
            error-message="{{localizeContract.error_input}}{{localizeConfirmLetter.ref_no}}" required label="{{localizeConfirmLetter.ref_no}}"
            always-float-label value="{{data.cl_no}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <!--<vaadin-date-picker class="required" required disabled="[[commonState.btnDisabled]]" label="{{localize.label_date}}" value="{{data.cl_date}}"></vaadin-date-picker>-->
          <gl-form-input type="date" class="required" required disabled="[[commonState.btnDisabled]]" label="{{localizeConfirmLetter.date}}"
            value="{{data.cl_date}}" error-message="{{localizeContract.error_input}}{{localizeConfirmLetter.date}}"></gl-form-input>

        </gl-grid-col>
      </gl-grid-row>

      <div class="top ">{{localizeCommon.detail}}</div>
      <!--[[hamonizeLimitContract]]//[[contractId.contract_weight_book_balance]] //[[dataShow.hamonize_limit]]-->
      <!--<gl-form-input class="required" id="[[index]]" required allowed-pattern="[0-9||,||.]" format-number="on" disabled="[[commonState.btnDisabled]]"
                  label="{{localize.label_quantity}}" placeholder="{{localize.label_quantity}}" error-message="{{localize.label_error_quantity}}"
                  value="{{item.hamonize_weight}}" name="hamonize_weight" on-input="getCostPrice"></gl-form-input>-->
      <template is="dom-repeat" items="{{data.cl_hamonize}}">
        <div class="bg">
          <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
            <div class="horizontal end-justified layout">
              <paper-button id="[[index]]" raised class="btnInTable gl-btn-danger" on-tap="deleteRiceType" style="margin-top:16px" hidden="[[commonState.btnDisabled]]">
                <iron-icon icon="remove"></iron-icon>{{localizeConfirmLetter.delete_hamonize}}</paper-button>
            </div>
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">

                <gl-combo-box id="riceType-[[index]]" index="[[index]]" class="required" required disabled="[[commonState.btnDisabled]]"
                  error-message="{{localizeContract.error_dropdown}}{{localizeContract.list_rice}}" placeholder="{{localizeContract.list_rice}}"
                  name="hamonize.hamonize_th" label="{{localizeContract.list_rice}}" item-label-path="label" item-value-path="hamonize_id"
                  value="{{item.hamonize_id}}" on-selected-item-changed="getObjectHamonize" on-value-changed="_typeRiceConfirm">
                  <template>
                    [[item.label]]
                  </template>
                </gl-combo-box>

              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">

                [[changeString2Num(item.*,'hamonize_weight')]] [[_obCalcWeight(item.*,'hamonize_weight')]]
                <gl-form-input class="required" id="[[index]]" required allowed-pattern="[0-9||,||.]" format-number="on" disabled="[[commonState.btnDisabled]]"
                  label="{{localizeContract.quantity}}" placeholder="{{localizeContract.quantity}}" error-message="{{localizeContract.error_input}}{{localizeContract.quantity}}"
                  value="{{item.hamonize_weight}}" on-focus="_setSeleteValue" name="hamonize_weight" on-input="getCostPrice"></gl-form-input>

              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">[[changeString2Num(item.*,'tolerance_rate')]]
                <gl-form-input class="required number" required maxlength="3" allowed-pattern="[0-9||,||.]" error-message="{{localizeContract.error_input}}{{localizeConfirmLetter.quantity_tolerance}}"
                  disabled="[[commonState.btnDisabled]]" label="{{localizeConfirmLetter.quantity_tolerance}}" value="{{item.tolerance_rate}}"
                  placeholder="{{localizeConfirmLetter.quantity_tolerance}}" id="tolerance_rate" on-focus="_setSeleteValue">
                  <div suffix>%</div>
                </gl-form-input>
              </gl-grid-col>

            </gl-grid-row>

            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                <gl-form-input class="required" required disabled="[[commonState.btnDisabled]]" label="{{localizeConfirmLetter.project_th}}"
                  placeholder="{{localizeConfirmLetter.project_th}}" value="{{item.project_th}}" on-focus="_setSeleteValue"
                  error-message="{{localizeContract.error_input}}{{localizeConfirmLetter.project_th}}"></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                <gl-form-input class="required" required disabled="[[commonState.btnDisabled]]" label="{{localizeConfirmLetter.project_en}}"
                  placeholder="{{localizeConfirmLetter.project_en}}" value="{{item.project_en}}" on-focus="_setSeleteValue"
                  error-message="{{localizeContract.error_input}}{{localizeConfirmLetter.project_en}}"></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                [[changeString2Num(item.*,'cost_price')]][[_obCalPrice(item.*,'cost_price')]]
                <gl-form-input class="required" format-number="on" required disabled="[[commonState.btnDisabled]]" on-focus="_setSeleteValue"
                  value="{{item.cost_price}}" label="{{localizeConfirmLetter.cost_price_ton}}" placeholder="{{localizeConfirmLetter.total_cost_price_ton}}"></gl-form-input>
                <!--value="{{formatNumber(item.cost_price)}}"-->
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                <!--[[changeString2Num(item.*,'cost_value')]]-->
                <!--<gl-form-input class="required" required disabled="[[commonState.btnDisabled]]" format-number="on" value="{{item.cost_value}}"
                  label="{{localizeConfirmLetter.cost_price}}" placeholder="{{localizeConfirmLetter.total_cost_price}}"></gl-form-input>-->

              </gl-grid-col>
            </gl-grid-row>

            <br>
            <table class="gl-table-default" id="[[index]]">
              <thead class="table-head">
                <tr>
                  <th style="text-align: center; width: 30%">{{localizeCommon.packaging_type}} <br> {{localizeCommon.kk_sack}}</th>
                  <th style="text-align: center; width: 20%">{{localizeCommon.price}}<br> {{localizeCommon.usd_ton}}</th>
                  <th style="text-align: center; width: 20%">{{localizeCommon.weight_sacks}} <br>{{localizeCommon.weight_gram}}</th>
                  <th style="text-align: center; width: 30%">
                    <template is="dom-if" if="[[!commonState.btnDisabled]]">
                      {{localize.label_action}}
                    </template>
                  </th>
                </tr>
              </thead>
              <tbody class="table-body">
                <template is="dom-repeat" as="packageitem" items="{{item.package}}" index-as=indexpackeage>
                  <tr>
                    <td>

                      <gl-combo-box id="package-[[index]]-[[indexpackeage]]" index="[[index]]" indexpackeage=[[indexpackeage]] class="required InTable"
                        required disabled="[[commonState.btnDisabled]]" error-message="{{localizeContract.error_dropdown}}{{localizeCommon.packaging_type}}"
                        placeholder="{{localizeCommon.packaging_type}}" item-label-path="package_name_th" item-value-path="package_id"
                        value="{{packageitem.package_id}}" on-value-changed="_typePackageConfirm">
                        <!--on-selected-item-changed="getObjectPackeage"-->
                        <template>
                          [[item.package_name_th]]
                        </template>
                      </gl-combo-box>

                    </td>
                    <td> [[changeString2Num(packageitem.*,'price_d')]]
                      <gl-form-input class="required numberBack" required allowed-pattern="[0-9||,||.]" on-focus="_setSeleteValue" format-number="on"
                        disabled="[[commonState.btnDisabled]]" placeholder="{{localizeCommon.price}}" error-message="{{localizeContract.error_input}}{{localizeCommon.price}}"
                        value="{{packageitem.price_d}}" no-label-float></gl-form-input>
                    </td>
                    <td>
                      <gl-form-input class="numberBack" disabled value="[[_obChangePrice(packageitem.package_id,packageList)]]" name="package_weight_bag"
                        no-label-float></gl-form-input>
                    </td>
                    <td style="text-align:center;">
                      <paper-button id-packeage="[[indexpackeage]]" id-table="[[index]]" raised class="btnInTable gl-btn-danger" on-tap="delePackage"
                        hidden="[[commonState.btnDisabled]]" disabled="[[_isHaveForDelete(item.package,item.package.*)]]">
                        <iron-icon icon="remove"></iron-icon>{{localizeCommon.delete}}</paper-button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
            <div class="horizontal end-justified layout">
              <paper-button raised id="[[index]]" class="btnInTable gl-btn-primary" on-tap="addPackage" hidden="[[commonState.btnDisabled]]"
                disabled="[[!_isHaveForUse(item.package,packageList,item.package.*)]]">
                <iron-icon icon="add"></iron-icon>{{localizeConfirmLetter.add_package}}</paper-button>
            </div>
          </gl-form-panel>
        </div>
      </template>
      <div class="horizontal end-justified layout">

        <template is="dom-if" if="[[!commonState.btnDisabled]]">
          <paper-button raised on-tap="addNewTypeRice" class="gl-btn-primary" hidden="[[btnCheckDisabled]]" disabled="[[!_isHaveForUse(data.cl_hamonize,hamonizeContract,data.cl_hamonize.*)]]">
            <iron-icon icon="add"></iron-icon>{{localizeConfirmLetter.add_hamonize}}</paper-button>
        </template>
      </div>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
          <template is="dom-repeat" items="[[data.incoterms]]">
            <gl-combo-box id="incoterms-[[index]]" index="[[index]]" class="required" required disabled="[[commonState.btnDisabled]]"
              label="{{localizeConfirmLetter.incoterms}} [[_ObcountIndex(index)]]" error-message="{{localizeContract.error_dropdown}} {{localizeConfirmLetter.incoterms}} [[_ObcountIndex(index)]]"
              placeholder="{{localizeConfirmLetter.incoterms}} [[_ObcountIndex(index)]]" item-label-path="inct_name" item-value-path="inct_id"
              value="{{item.inct_id}}" on-selected-item-changed="getObjectIncoterms" on-blur="_incotermsConfirm">
              <template>
                [[item.inct_name]]
              </template>
            </gl-combo-box>
          </template>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input class="numberBack" disabled allowed-pattern="[0-9||,||.]" format-number="on" always-float-label label="{{localizeConfirmLetter.total_ton}}"
            value="{{dataShow.cl_total_quantity}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input class="numberBack" disabled format-number="on" label="{{localizeConfirmLetter.total_cost_price_ton}}" value="[[formatNumber(dataShow.cost_price_perton)]]"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
      </gl-grid-row>
      <gl-grid-row>
        <div class="horizontal start-justified layout">
          <paper-button raised class="gl-btn-primary" on-tap="addincoterms" hidden="[[commonState.btnDisabled]]" disabled="[[!_isHaveForUse(data.incoterms,incotermsList,data.incoterms.*)]]">
            <iron-icon icon="add"></iron-icon>{{localizeCommon.add}}</paper-button>
          <paper-button raised class="gl-btn-danger" on-tap="deleteIncoterms" hidden="[[commonState.btnDisabled]]" disabled="[[_isHaveForDelete(data.incoterms,data.incoterms.*)]]">
            <iron-icon icon="remove"></iron-icon>{{localizeCommon.delete}}</paper-button>
        </div>
      </gl-grid-row>

      <div class="horizontal end-justified layout">
        <template is="dom-if" if="[[commonState.isInsert]]">
          <paper-button class="gl-btn-primary" on-tap="insertConfirm" raised>{{localizeCommon.add}}</paper-button>
        </template>
        <template is="dom-if" if="[[commonState.btnDisabled]]">
          <paper-button class="gl-btn-info" raised on-tap="confirmConfirm" hidden="[[data.cl_status]]">{{localizeCommon.confirm}}</paper-button>
        </template>
        <template is="dom-if" if="[[!commonState.isInsert]]">
          <paper-button class="gl-btn-default" on-tap="canncelConfirm" raised hidden="[[commonState.btnDisabled]]">{{localizeCommon.cancel}}</paper-button>
          <paper-button class="gl-btn-success" on-tap="saveConfirm" raised hidden="[[commonState.btnDisabled]]">{{localizeCommon.save}}</paper-button>
        </template>
      </div>
    </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "confirm-detail",
      behaviors: [
        ReduxBehavior,
        nylonBehavior,
        FormatNumberBehavior,
        g2gLogicBehavior,
        CookieBehavior,
        ValidateFormBehavior
      ],
      properties: {
        localizeCommon: {
          statePath: 'i18n.common'
        },
        localizeConfirmLetter: {
          statePath: 'i18n.confirmLetter'
        },
        localizeContract: {
          statePath: 'i18n.contract'
        },
        buyerId: {
          statePath: 'commonState.buyerId'
        },
        commonState: {
          statePath: 'commonState.setState'
        },
        data: {
          statePath: 'confirmLetter.contractDetail',
          observer: '_cloneConfirmList'
        },
        cloneConfirmList: {
          type: Object,
          value: {}
        },
        hamonizeLimitContract: {
          statePath: 'confirmLetter.hamonizeLimitContract',
        },
        hamonizeContract: {
          statePath: 'confirmLetter.hamonizeContract',
          // observer: 'get'
        },
        exchangeRate: {
          statePath: 'confirmLetter.exchangeRate',
          // observer: 'get'
        },
        hamonizeFp: {
          statePath: 'confirmLetter.hamonizeFp',
          observer: 'getPriceHamonize'
        },
        contractId: {
          statePath: 'commonState.contractId',
          // observer: 'get'
        },
        packageList: {
          statePath: 'commonG2g.packageList',
          // observer: 'get'
        },
        incotermsList: {
          statePath: 'commonG2g.incotermsList',
          // observer: 'get'
        },
        confirmLetterList: {
          statePath: 'confirmLetter.confirmLetterlist',
          // observer:'get'
        },

        dataShow: {
          type: Object,
          value: {
            cl_hamonize: [],
            cl_hamonize_pk: [{ package: [{ package: {} }] }]
            , incoterms: [],
            hamonize_limit: 0
          }
        },
      },

      observers: [
        '_setHamonizeLimit(contractId,hamonizeLimitContract)',
        '_typeRiceConfirm(data.*)',
        '_typePackageConfirm(data.*)',
        '_incotermsConfirm(data.*)',
        '_isHaveForUse(data.cl_hamonize,hamonizeContract,data.cl_hamonize.*)'
      ],
      _cloneConfirmList: function (cloneConfirmList) {
        // JSON.parse(JSON.stringify(data));
        this.set('cloneConfirmList', JSON.parse(JSON.stringify(cloneConfirmList)))
        // console.log(this.hamonizeList);
      },
      _setHamonizeLimit: function (contractId, hamonizeLimitContract) {
        // console.log(this.contractId.contract_weight);
        // console.log(this.hamonizeLimitContract);
        this.set('dataShow.hamonize_limit', this.contractId.contract_weight - this.hamonizeLimitContract)

      },
      canncelConfirm: function () {
        this.fire('toast', {
          status: 'openDialog',
          text: this.localizeCommon.toast_cancel_edit,
          confirmed: (result) => {
            if (result == true) {
              this.dispatchAction('GET_CONFIRM_DETAIL', this.data.id)
              this.dispatchAction('SET_STATE', {
                isInsert: false,
                btnDisabled: true,
                hiddend: true
              })
              this.queryFrom('.required').map((el) => { el.reset(); });
            }
          }
        })
      },
      deleteRiceType: function (e) {
        this.splice('data.cl_hamonize', e.currentTarget.id, 1);
      },
      delePackage: function (e) {
        // let table = Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(e.currentTarget).parentNode).parentNode).parentNode).parentNode);
        // console.log(table);
        // console.log(e.currentTarget.idPackeage,'e',e.currentTarget.idTable);
        this.splice('data.cl_hamonize.' + [e.currentTarget.idTable] + '.package', e.currentTarget.idPackeage, 1);
      },
      addincoterms: function () {
        this.push('data.incoterms', { inct_id: '' });
        this.notifyPath('data.incoterms');
      },
      deleteIncoterms: function () {
        if (this.data.incoterms.length > 1) {
          this.pop('data.incoterms');
        }
      },
      _obCalcWeight: function (data, hamonize_weight) {
        let total = 0;
        let datas = this.data.cl_hamonize;
        for (index in datas) {
          total += this.unFormat(datas[index].hamonize_weight)
        }
        // this.cl_total_quantity=this._isNan(total);
        this.dataShow.cl_total_quantity = this._isNan(total);
        this.set('data.cl_weight', total)
        this.notifyPath('dataShow.cl_total_quantity');

        // this.cl_total_quantity = numeral(total).format('0,0');

      },
      //เปลี่ยนเป็น observer ด้วย
      getCostPrice: function (e) {
        try {
          // console.log(e)
          if (this.data.cl_date !== undefined && this.data.cl_date !== ''
            && e.model.item.hamonize_id !== '') {
            let index = e.currentTarget.id
            let value = e.currentTarget.value
            let hm_id = e.model.item.hamonize_id
            let date = new Date(this.data.cl_date)
            let today = JSON.parse(JSON.stringify(this.data.cl_date))
            let lastMonth = JSON.parse(JSON.stringify(new Date(date.setMonth(date.getMonth() - 3)).toISOString().split('T')[0]))
            // console.log(lastMonth)
            let hmtype = this.hamonizeContract.find((item) => item.hamonize_id === hm_id)
            // console.log(hmtype.hamonize.hamonize_code);
            let url = {
              startDate: lastMonth,
              endDate: today,
              hmcode: hmtype.hamonize.hamonize_code
            }
            // this.throttle
            // console.log(this.commonState.isInsert);
            if (this.commonState.isInsert) {
              this.dispatchAction('GET_CONFIRM_FP', this.genUrl(url))
                .then((res) => {
                  // console.log(res.data[0].fp2)
                  let rateBath = this.exchangeRate.rates.THB
                  // console.log(this.exchangeRate)
                  this.set('data.cl_hamonize.' + index + '.cost_price', this.formatNumber(res.data[0].fp2 / rateBath))

                })
            }


          }
        } catch (e) {
          // console.log(e);
        }

      },
      _obCalPrice: function (e) {
        // console.log(e)
        let plus = this.data.cl_hamonize
        // console.log(this.data);
        let cost_price = Object.keys(plus).reduce((previous, current) => previous + plus[current].cost_price, 0)
        // console.log(cost_price);
        this.set('dataShow.cost_price_perton', cost_price)
      },
      addNewTypeRice: function () {
        this.push('data.cl_hamonize', {
          cost_price: 0,
          // cost_value: 0,
          hamonize_id: '',
          hamonize_weight: 0,
          package: [
            {
              package_id: '',
              price_d: 0
            },
          ],
          project_en: 0,
          project_th: 0,
          tolerance_rate: 0
        });
      },
      addPackage: function (e) {
        let id = e.currentTarget.id;
        let data = {
          package_id: '',
          price_d: 0,
          // package_weight_bag: 0,
        };
        this.push('data.cl_hamonize.' + [id] + '.package', data);
      },
      _obChangePrice: function (data, list) {
        let result = "";
        if (list.package_id != '') {
          list.map((packages, index) => {
            if (packages.package_id === data) {
              result = packages.package_weight_bag;
            }
          });
          return result;
        }
      },
      backPage: function () {
        this.fire('back-page-confirm', { detail: '_back-page-confirm' });
      },
      editConfirm: function () {
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: false,
          hiddend: true
        })
      },
      _getHamonize: function () {
        try {
          let hamonize = this.data.cl_hamonize
          // console.log(hamonize);
          for (var index = 0; index < hamonize.length; index++) {
            hamonize[index].hamonize = this.dataShow.cl_hamonize[index].hamonize
            for (var index2 = 0; index2 < hamonize[index].package.length; index2++) {
              let dataPackage = this.packageList.find((item) => item.package_id === hamonize[index].package[index2].package_id)
              // console.log(dataPackage);
              let package = {
                id: dataPackage.package_id,
                package_kg_per_bag: dataPackage.package_kg_per_bag,
                package_name_en: dataPackage.package_name_en,
                package_name_th: dataPackage.package_name_th,
                package_weight_bag: dataPackage.package_weight_bag
              }
              hamonize[index].package[index2].package = package
            }
          }
          // console.log(hamonize);
          return hamonize
        } catch (e) {
          // console.log(e);
        }

      },
      _resiveDataConfirm: function (type) {
        this._getHamonize()
        return new Promise((res, rej) => {
          let dataResive = JSON.parse(JSON.stringify(this.data))
          // console.log(type);
          if (type === 'insert') {
            if (this.confirmLetterList.find((item) => item.cl_no === dataResive.cl_no) !== undefined)
              rej(this.localizeConfirmLetter.dub_ref_no)
          }

          dataResive.cl_date = dataResive.cl_date + 'T00:00:00+07:00',
            // dataResive.cl_hamonize = this._getHamonize(),
            dataResive.buyer_id = this.buyerId.buyer_id
          dataResive.cl_status = dataResive.cl_status,
            // dataResive.cl_weight = dataResive.cl_weight,
            dataResive.incoterms = this.dataShow.incoterms//this._getIncoterms()
          delete dataResive.date_updated
          delete dataResive.date_created
          // console.log(dataResive);
          res(dataResive)
        })
      },
      _resiveFormConfirm: function (type = 'insert') {
        return new Promise((res, rej) => {
          if (this.validateForm('.required')) {
            this._resiveDataConfirm(type).then((data) => {
              // console.log(data);
              res(data)
            })
              .catch((err) => {
                this.fire('toast', {
                  status: 'connectError', text: this.localizeConfirmLetter.dub_ref_no, //คำสั่งสำหรับเปิด toast error
                  callback: function () {
                    rej(err)
                  }
                })
                // console.log(err);
              })
          } else {
            this.fire('toast', {
              status: 'connectError', text: this.localizeCommon.toast_input_error, //คำสั่งสำหรับเปิด toast error
              callback: function () {
                rej('error')
              }
            })
          }
        })
      },
      insertConfirm: function () {
        this._resiveFormConfirm('insert')
          .then((res) => {
            // console.log(res);
            let sum = this.dataShow.cl_total_quantity - this.dataShow.hamonize_limit
            if (this.dataShow.cl_total_quantity > this.dataShow.hamonize_limit) {
              this.fire('toast', {
                status: 'connectError', text: this.localizeConfirmLetter.over_limit + this.formatNumberNoZero(sum) + this.localizeConfirmLetter.ton, //คำสั่งสำหรับเปิด toast error
                callback: () => {
                }
              })
            } else {
              // console.log(this.dataShow.cl_total_quantity)
              // console.log(this.dataShow.hamonize_limit)
              this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
              this.dispatchAction('POST_CONFIRM', res)
                .then((response) => {
                  if (response.data.inserted !== undefined && response.data.inserted.length !== 0) {

                    let url = { contract_id: this.contractId.contract_id, status: 'all' }
                    this.dispatchAction('GET_CONFIRM_LIST', this.genUrl(url))
                    this.dispatchAction('GET_CONTRACT_OF_BUYER', this.getCookieBhv("buyerId"));
                    this.fire('toast', {
                      status: 'success', text: this.localizeCommon.save_succeed,  // คำสั่งสำหรับเปิด toast success
                      callback: () => {
                        this.queryFrom('.required').map((el) => { el.reset(); });
                        this.backPage()
                      }
                    })
                  } else {
                    // console.log(1111);
                    this.fire('toast', {
                      status: 'connectError', text: response.data, //คำสั่งสำหรับเปิด toast error
                      callback: () => {
                      }
                    })
                  }
                })
            }

          })
          .catch((error) => {
            //console.log(error);
          })

      },
      saveConfirm: function () {
        let limitRice = this.cloneConfirmList.cl_weight + this.dataShow.hamonize_limit
        this.fire('toast', {
          status: 'openDialog',
          text: this.localizeCommon.save_succeed,
          confirmed: (result) => {
            if (result == true) {
              this._resiveFormConfirm('edit')
                .then((res) => {
                  console.log(res);
                  let sum = this.dataShow.cl_total_quantity - limitRice
                  // console.log(this.dataShow.cl_total_quantity - this.dataShow.hamonize_limit);
                  if (this.dataShow.cl_total_quantity > limitRice) {
                    this.fire('toast', {
                      status: 'connectError', text: this.localizeConfirmLetter.over_limit + " " + this.formatNumberNoZero(sum) + " " + this.localizeConfirmLetter.ton, //คำสั่งสำหรับเปิด toast error
                      callback: () => {
                      }
                    })
                  } else {
                    this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
                    this.dispatchAction('PUT_CONFIRM', res)
                      .then((response) => {
                        if (response.data.replaced !== undefined && response.data.replaced.length !== 0) {
                          let url = { contract_id: this.contractId.contract_id, status: 'all' }
                          this.dispatchAction('GET_CONFIRM_LIST', this.genUrl(url))
                          this.dispatchAction('GET_CONTRACT_OF_BUYER', this.getCookieBhv("buyerId"));
                          this.queryFrom('.required').map((el) => { el.reset(); });
                          this.dispatchAction('SET_STATE', {
                            isInsert: false,
                            btnDisabled: true,
                            hiddend: true
                          })
                          this.fire('toast', {
                            status: 'success', text: this.localizeCommon.save_succeed,  // คำสั่งสำหรับเปิด toast success
                            callback: () => {
                            }
                          })
                        } else {
                          // console.log(1111);
                          this.fire('toast', {
                            status: 'connectError', text: response.data, //คำสั่งสำหรับเปิด toast error
                            callback: () => {
                            }
                          })
                        }
                      })
                  }
                  // console.log(res);
                  // console.log(this.dataShow);

                })
                .catch((error) => {
                  //console.log(error);
                })
              // }

            }
          }
        })

      },
      confirmConfirm: function () {
        this.fire('toast', {
          status: 'openDialog',
          text: this.localizeConfirmLetter.toast_approve_ref,
          confirmed: (result) => {
            if (result == true) {
              this._resiveFormConfirm('approve')
                .then((res) => {
                  res.cl_status = true
                  let cl_id = res.id
                  this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
                  this.dispatchAction('PUT_CONFIRM', res)
                    .then((response) => {
                      if (response.data.replaced !== undefined && response.data.replaced.length !== 0) {
                        let url = { contract_id: this.contractId.contract_id, status: 'all' }
                        this.dispatchAction('GET_CONFIRM_LIST', this.genUrl(url))
                        this.dispatchAction('GET_CONFIRM_DETAIL', cl_id)
                        this.dispatchAction('GET_CONTRACT_OF_BUYER', this.getCookieBhv("buyerId"));
                        this.queryFrom('.required').map((el) => { el.reset(); });
                        this.dispatchAction('SET_STATE', {
                          isInsert: false,
                          btnDisabled: true,
                          hiddend: true
                        })
                        this.fire('toast', {
                          status: 'success', text: this.localizeCommon.save_succeed,  // คำสั่งสำหรับเปิด toast success
                          callback: () => {
                          }
                        })
                      } else {
                        // console.log(1111);
                        this.fire('toast', {
                          status: 'connectError', text: response.data, //คำสั่งสำหรับเปิด toast error
                          callback: () => {
                          }
                        })
                      }
                    })
                })
                .catch((error) => {
                  //console.log(error);
                });
            }
          }
        })

      },
      deleteConfirm: function () {
        this.fire('toast', {
          status: 'openDialog',
          text: this.localizeCommon.toast_delete,
          confirmed: (result) => {
            if (result == true) {
              // console.log(res);
              this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
              this.dispatchAction('DELETE_CONFIRM', this.data.id)
                .then((response) => {
                  if (response.data.deleted !== undefined && response.data.deleted.length !== 0) {
                    this.dispatchAction('GET_CONTRACT_OF_BUYER', this.getCookieBhv("buyerId"));
                    let url = { contract_id: this.contractId.contract_id, status: 'all' }
                    this.dispatchAction('GET_CONFIRM_LIST', this.genUrl(url))
                    this.fire('toast', {
                      status: 'success', text: this.localizeCommon.delete_succeed,  // คำสั่งสำหรับเปิด toast success
                      callback: () => {
                        this.backPage()
                      }
                    })
                  } else {
                    // console.log(1111);
                    this.fire('toast', {
                      status: 'connectError', text: response.data, //คำสั่งสำหรับเปิด toast error
                      callback: () => {
                      }
                    })
                  }
                })
            }
          }
        })
      },
      _typeRiceConfirm: function () {
        // console.log('this.data.cl_hamonize',this.data.cl_hamonize);
        this.async(() => {
          let comboboxs, arrForItem, itemif;
          try {
            for (var i = 0; i < this.data.cl_hamonize.length; i++) {
              arrForItem = JSON.parse(JSON.stringify(this.hamonizeContract));
              // console.log('arrForItem', arrForItem);
              this.data.cl_hamonize.map((item, index) => {
                //  console.log(item);
                if (i != index) {
                  //ตัดอาเรย์ตอนที่ไม่เท่ากับค่าของตัวเอง
                  if (arrForItem.filter((blDetail) => blDetail.hamonize_id == item.hamonize_id)[0] != undefined) {
                    itemif = arrForItem.indexOf(arrForItem.filter((blDetail) => blDetail.hamonize_id == item.hamonize_id)[0]);
                    //  console.log(itemif);
                    arrForItem.splice(itemif, 1);
                  }
                }
              });
              comboboxs = Polymer.dom(this.root).querySelector('#riceType-' + i);
              comboboxs.items = arrForItem;
            }
          } catch (e) {
            //  console.log(e);
          }
        }, 1);
      },
      _typePackageConfirm: function () {
        this.async(() => {
          let comboboxs, arrForItem, itemif;
          try {
            for (var i = 0; i < this.data.cl_hamonize.length; i++) {
              for (var j = 0; j < this.data.cl_hamonize[i].package.length; j++) {
                arrForItem = JSON.parse(JSON.stringify(this.packageList));
                //  console.log('this.data.cl_hamonize',arrForItem);
                //  console.log('arrForItem',arrForItem);
                this.data.cl_hamonize[i].package.map((item, index) => {
                  // console.log(item);
                  if (j != index) {
                    //ตัดอาเรย์ตอนที่ไม่เท่ากับค่าของตัวเอง
                    if (arrForItem.filter((blDetail) => blDetail.package_id == item.package_id)[0] != undefined) {
                      itemif = arrForItem.indexOf(arrForItem.filter((blDetail) => blDetail.package_id == item.package_id)[0]);
                      arrForItem.splice(itemif, 1);
                    }
                  }
                });
                // console.log(arrForItem);
                // package-[[index]]-[[indexpackeage]]
                comboboxs = Polymer.dom(this.root).querySelector('#package-' + i + '-' + j);
                // console.log(comboboxs);
                comboboxs.items = arrForItem;
              }
            }
          } catch (e) {
            //  console.log(e);
          }
        }, 1);
      },
      _incotermsConfirm: function () {
        this.async(() => {
          let comboboxs, arrForItem, itemif;
          try {
            for (var i = 0; i < this.data.incoterms.length; i++) {
              arrForItem = JSON.parse(JSON.stringify(this.incotermsList));
              //  console.log('arrForItem',arrForItem);
              this.data.incoterms.map((item, index) => {
                //  console.log(item);
                if (i != index) {
                  //ตัดอาเรย์ตอนที่ไม่เท่ากับค่าของตัวเอง
                  if (arrForItem.filter((incoterm) => incoterm.inct_id == item.inct_id)[0] != undefined) {
                    itemif = arrForItem.indexOf(arrForItem.filter((incoterm) => incoterm.inct_id == item.inct_id)[0]);
                    //  console.log(itemif);
                    arrForItem.splice(itemif, 1);
                  }
                }
              });
              comboboxs = Polymer.dom(this.root).querySelector('#incoterms-' + i);
              comboboxs.items = arrForItem;
            }
          } catch (e) {
            //  console.log(e);
          }
        }, 1);
      },
      getObjectIncoterms: function (e) {
        if (e.detail.value !== null) {
          let indexIn = e.currentTarget.index
          let dataIncoterms = {
            inct_id: e.detail.value.inct_id,
            inct_name: e.detail.value.inct_name
          }
          this.set('dataShow.incoterms.' + indexIn, dataIncoterms)
        }
      },
      getObjectHamonize: function (e) {
        if (e.detail.value !== null) {
          let indexIn = e.currentTarget.index
          let dataHamonize = JSON.parse(JSON.stringify(e.detail.value));
          delete dataHamonize.label
          this.set('dataShow.cl_hamonize.' + indexIn, dataHamonize)
        }
      },
    });
  </script>
</dom-module>