<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-input.html">
<link rel="import" href="./../../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-textarea.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-footer.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">



<dom-module id="contract-detail">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles page-style">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    gl-form-dropdown-menu {
      width: 100%;
    }

    paper-icon-button.crud {
      margin: 5px 5px 5px 5px;
    }

    paper-icon-button.crud:hover {
      background-color: var(--paper-grey-200);
      border-radius: 5px;
      box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, .2);
    }

    .riceName {
      margin-top: 25px;
      font-size: var(--font-size-h5);
    }

    paper-button.btnInTable {
      --paper-button: {
        margin-top: 0px;
        height: 32px;
      }
    }

    .titleName {
      margin-bottom: 10px;
    }

    .table-head>tr>th:nth-child(1),
    .table-head>tr>th:nth-child(3),
    .table-body>tr>td:nth-child(1),
    .table-body>tr>td:nth-child(3),
    .table-foot>tr>td:nth-child(1),
    .table-foot>tr>td:nth-child(3) {
      width: 20%;
      text-align: center;
    }

    .table-head>tr>th:nth-child(2),
    .table-body>tr>th:nth-child(2),
    .table-foot>tr>th:nth-child(2) {
      width: 60%;
    }

    .gl-table-default {
      margin-bottom: 20px;
    }

    .upGlComboBox {
      margin-top: -20px;
    }

    vaadin-date-picker {
      font-family: 'CSChatThaiUI', sans-serif !important;
      -webkit-font-smoothing: antialiased !important;
      color: red !important;
    }

    paper-button[disabled] {
      background: #eaeaea;
      color: #a8a8a8;
    }

    gl-form-input.number {
      --paper-input-container-input: {
        text-align: left;
      }
    }

    gl-form-input.number[disabled] {
      --paper-input-container-input: {
        text-align: left !important;
      }
    }

    iron-icon {
      height: 16px;
      width: 16px;
      margin-right: 8px;
    }

    div.main {
      /*background-color: red;*/
      height: 300px;
      overflow-y: scroll;
      /*min-width: 300px;*/
      border: solid darkblue 1px;
    }

    div.item {
      margin: 2px 5px;
    }

    div.sub-item {
      margin: 5px 20px;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <!--<template is="dom-if" if="[[_isViewing(isViewSeleted)]]">-->
      <div class="horizontal end-justified layout">
        <paper-icon-button id="edit" class="crud" icon="create" raised on-tap="editContract" disabled="[[!commonState.btnDisabled]]"></paper-icon-button>
        <paper-tooltip for="edit" offset="0">แก้ไข</paper-tooltip>
        <paper-icon-button id="delete" class="crud" icon="delete" raised on-tap="deleteContract" disabled="[[!commonState.btnDisabled]]"></paper-icon-button>
        <paper-tooltip for="delete" offset="0">ลบ</paper-tooltip>
      </div>
      <!--</template>-->
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]">
          <gl-form-input required class="required" disabled="[[_checkArrayTrue(commonState.btnDisabled,data.contract_status)]]" error-message="{{localize.label_error_contract}}"
            label="{{localize.label_contract}}" value="{{data.contract_name}}" placeholder="{{localize.label_contract}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input type="date" always-float-label class="required" required disabled="[[_checkArrayTrue(commonState.btnDisabled,data.contract_status)]]"
            label="{{localize.label_date}}" error-message="{{localize.label_error_date}}" value="{{data.contract_date}}">
            </vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]">
          <gl-combo-box class="required" required disabled="[[_checkArrayTrue(commonState.btnDisabled,data.contract_status)]]" label="{{localize.label_payment_type}}"
            error-message="{{localize.label_error_payment_type}}" placeholder="{{localize.label_payment_type}}" items="[[payterms]]"
            item-label-path="payterms_Name" item-value-path="payterms_Id" value="{{data.payterm}}">
            <template>
              [[item.payterms_Name]]
            </template>
          </gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">[[changeString2Num(data.*,'contract_weight')]]
          <gl-form-input class="required number" required allowed-pattern="[0-9||,||.]" format-number="on" disabled="[[_checkArrayTrue(commonState.btnDisabled,data.contract_status)]]"
            error-message="{{localize.label_error_quantity}}" required label="{{localize.label_quantity}}" value="{{data.contract_weight}}"
            placeholder="{{localize.label_quantity}}" id="contract_weight"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]">
          <!--[[_getBuyerAddressFromData(data)]]-->
          <gl-combo-box class="required" always-float-label required id="buyer_id" label="{{localize.label_buyer}}" disabled="[[_checkArrayTrue(commonState.btnDisabled,data.contract_status)]]"
            items="{{buyerList}}" item-label-path="buyer_name" item-value-path="buyer_id" error-message="{{localize.label_error_buyer}}"
            value="{{data.buyer_id}}" on-selected-item-changed="_getBuyerAddress">
            <template>
              [[item.buyer_name]]
            </template>
          </gl-combo-box>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]">
          <gl-form-input disabled label="FAX" value="{{dataShow.buyer_fax}}" placeholder="FAX"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
      <gl-grid-row>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
          <gl-form-textarea rows="2" disabled label="{{localize.label_buyer_address}}" placeholder="{{localize.label_buyer_address}}"
            value="{{dataShow.buyerAddress}}"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">

          <div class="titleName">{{localize.label_list_rice}}</div>
          <!--<table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th>{{localize.label_order}}</th>
                <th>{{localize.label_rice_type}}</th>
                <th>
                  <template is="dom-if" if="[[!_isViewing(commonState.btnDisabled)]]">
                    {{localize.label_action}}
                  </template>
                </th>
              </tr>
            </thead>
            <template is="dom-if" if="[[!_isViewing(commonState.btnDisabled)]]">
              <tfoot class="table-foot">
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <paper-button hidden="[[commonState.btnDisabled]]" raised id="[[index]]" on-tap="addTypeRice" class="btnInTable gl-btn-primary">
                      <iron-icon icon="add"></iron-icon>{{localize.btn_add}}</paper-button>
                  </td>
                </tr>
              </tfoot>
            </template>
            <tbody class="table-body">
              <template is="dom-repeat" items="[[data.contract_type_rice]]">
                <tr>
                  <td>
                    [[_ObcountIndex(index)]]
                  </td>
                  <td>
                    <div class="upGlComboBox">
                      <gl-combo-box id="rice-[[index]]" class="required" required disabled="[[commonState.btnDisabled]]" error-message="{{localize.label_error_rice_type}}"
                        placeholder="{{localize.label_rice_type}}" name="type_rice_name" item-label-path="type_rice_name_th"
                        item-value-path="type_rice_id" value="{{item.type_rice_id}}" on-value-changed="_typeRiceContract">
                        <template>
                          [[item.type_rice_name_th]]
                        </template>
                      </gl-combo-box>
                    </div>
                  </td>
                  <td>
                    <template is="dom-if" if="[[!_isViewing(data.isInputDisabled)]]">
                      <paper-button hidden="[[commonState.btnDisabled]]" raised id="[[index]]" on-tap="deleteTypeRice" class="btnInTable gl-btn-danger"
                        title="ลบชนิดข้าว">
                        <iron-icon icon="remove"></iron-icon>{{localize.btn_delete}}</paper-button>
                    </template>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>-->
          <div class="main">
            <template is="dom-repeat" items={{hamonizeList}} index-as="indexroot">
              <div class="item">
                <paper-checkbox checked="{{item.check}}" id="{{indexroot}}" on-tap="getCheckChild" disabled="[[commonState.btnDisabled]]">
                  <!--{{item.check}}||-->
                   [[item.name_th]] || 
                   [[item.value]]
                   </paper-checkbox>
                <template is="dom-repeat" items={{item.sub}} as="subChild">
                  <div class="sub-item">
                    <paper-checkbox id="{{indexroot}}" checked="{{subChild.check}}" on-tap="getSelect" disabled="[[commonState.btnDisabled]]">
                      <!--{{subChild.check}}|| -->
                      [[subChild.hamonize_th]] 
                      || [[subChild.hamonize_year]] 
                      <!--|| [[item.value]]</paper-checkbox>-->
                  </div>
                </template>
              </div>
              <br>
            </template>
          </div>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
          <gl-form-textarea disabled="[[_checkArrayTrue(commonState.btnDisabled,data.contract_status)]]" rows="2" label="{{localize.label_more_detail}}"
            placeholder="{{localize.label_more_detail}}" value="{{data.contract_desc}}" name="contract_desc"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>
      <gl-form-panel-footer label="" set-padding="10px">
        <div class="horizontal end-justified layout">

          <template is="dom-if" if="[[commonState.isInsert]]">
            <paper-button class="gl-btn-primary" on-tap="insertContract" raised>{{localize.btn_add}}</paper-button>
          </template>
          <template is="dom-if" if="[[!commonState.isInsert]]">
            <paper-button class="gl-btn-default" on-tap="calcelContract" raised hidden="[[commonState.btnDisabled]]">{{localize.btn_cancel}}</paper-button>
            <paper-button class="gl-btn-success" on-tap="saveContract" raised hidden="[[commonState.btnDisabled]]">{{localize.btn_save}}</paper-button>
          </template>
          <template is="dom-if" if="[[commonState.btnDisabled]]">
            <paper-button class="gl-btn-info" raised on-tap="confirmDrawer" hidden="[[data.contract_status]]">{{localize.btn_confirm}}</paper-button>
          </template>
        </div>
      </gl-form-panel-footer>
    </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "contract-detail",
      behaviors: [
        ReduxBehavior, FormatNumberBehavior, nylonBehavior, g2gLogicBehavior, ValidateFormBehavior
      ],
      properties: {
        localize: {
          statePath: 'i18n.g2g'
        },
        commonState: {
          statePath: 'commonState.setState'
        },
        data: {
          statePath: 'contract.contractDetail',
          observer: 'checkContract'
        },
        dataShow: {
          type: Object,
          value: {}
        },
        buyerList: {
          statePath: 'commonG2g.buyerList',
          // observer:'get'
        },
        hamonizeList: {
          statePath: 'commonG2g.hamonizeList',
          // observer: 'get'
        },
        // dataForSelect: {
        //   type: Object,
        // },
        // data: {
        //   type: Object,
        //   value: { contract_weight: 0, contract_type_rice: [{}] }
        // },
        // dataForUse: {
        //   type: Object,
        // },
        payterms: {
          type: Object,
          value: [
            { payterms_Name: 'L/C', payterms_Id: 'L/C' },
            { payterms_Name: 'T/T', payterms_Id: 'T/T' },
            { payterms_Name: 'D/P', payterms_Id: 'D/P' },
            { payterms_Name: 'D/A', payterms_Id: 'D/A' }
          ]
        }
      },
      get(data) {
        // console.log(data);
      },
      observers: [
        '_checkHamonize(data,hamonizeList)'
      ],
      checkContract: function (data) {
        if (data.id === undefined) {
          this.set('dataShow.buyer_fax', '')
          this.set('dataShow.buyerAddress', '')
          // console.log(211111);
          this._checkHamonize(this.data, this.hamonizeList, false)
        }
        // console.log(data.id);
      },
      _checkHamonize: function (data, hamonizeList, status = true) {
        try {
          let contract_hamonize = data.contract_hamonize
          // let hamonize = hamonizeList
          if (data.id === undefined)
            status = false
          for (var index = 0; index < contract_hamonize.length; index++) {
            for (var index2 = 0; index2 < hamonizeList.length; index2++) {
              for (var index3 = 0; index3 < hamonizeList[index2].sub.length; index3++) {
                if (contract_hamonize[index].hamonize_id === hamonizeList[index2].sub[index3].sub_id) {
                  // console.log(status);
                  this.set('hamonizeList.' + index2 + '.sub.' + index3 + '.check', status)
                  // console.log(contract_hamonize[index].hamonize_id === hamonizeList[index2].sub[index3].sub_id);
                  break
                }
              }
            }
          }
        } catch (e) {
        }
      },
      getCheckChild(e) {
        let item = e.model.__data__.item
        let indexRoot = e.currentTarget.id
        let checkHost = e.currentTarget.checked
        this.hamonizeList[indexRoot].sub.map((item, index) => {
          this.set('hamonizeList.' + indexRoot + '.sub.' + index + '.check', checkHost)
        })
      },
      getSelect(e) {
        let indexRoot = e.currentTarget.id
        let checkHost = e.currentTarget.checked
        let checkFalse = this.hamonizeList[indexRoot].sub.find((item) => item.check !== true)
        this.set('hamonizeList.' + indexRoot + '.check', checkFalse === undefined)
      },
      editContract() {
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: false,
          hiddend: true
        })
      },
      _getBuyerAddress: function (e) {
        if (e.detail.value) {
          // console.log(e.detail.value);
          let data = e.detail.value
          let buyer = {
            buyer: {
              buyer_address: data.buyer_address,
              buyer_email: data.buyer_email,
              buyer_fax: data.buyer_fax,
              buyer_masks: data.buyer_masks,
              buyer_name: data.buyer_name,
              buyer_tel: data.buyer_tel,
              country_id: data.country_id
            },
            country: {
              continent_id: data.continent_id,
              country_code2: data.country_code2,
              country_code3: data.country_code3,
              country_fullname_en: data.country_fullname_en,
              country_fullname_th: data.country_fullname_th,
              country_name_en: data.country_name_en,
              country_name_th: data.country_name_th
            },
          }
          this.set('dataShow.obj', buyer)
          this.set('dataShow.buyer_fax', e.detail.value.buyer_fax)
          this.set('dataShow.buyerAddress', e.detail.value.buyer_address)
        }
      },
      _getHamonize(hamonizeList) {
        let hamonizeArr = []
        hamonizeList = hamonizeList || this.hamonizeList
        for (var index2 = 0; index2 < hamonizeList.length; index2++) {
          for (var index3 = 0; index3 < hamonizeList[index2].sub.length; index3++) {
            if (hamonizeList[index2].sub[index3].check === true) {
              let data = {
                digits: hamonizeList[index2].sub[index3].digits,
                hamonize_code: hamonizeList[index2].sub[index3].hamonize_code,
                hamonize_en: hamonizeList[index2].sub[index3].hamonize_en,
                hamonize_en2: hamonizeList[index2].sub[index3].hamonize_en2,
                hamonize_th: hamonizeList[index2].sub[index3].hamonize_th,
                hamonize_th2: hamonizeList[index2].sub[index3].hamonize_th2,
                hamonize_year: hamonizeList[index2].sub[index3].hamonize_year
              }
              hamonizeArr.push({
                hamonize_id: hamonizeList[index2].sub[index3].sub_id,
                hamonize: data
              })
            }
          }
        }
        return hamonizeArr
      },
      _resiveDataContract: function () {
        return new Promise((res, rej) => {
          let dataResive = this.data
          dataResive.contract_hamonize = this._getHamonize()
          dataResive.buyer = this.dataShow.obj.buyer
          dataResive.country = this.dataShow.obj.country
          dataResive.country_id = this.dataShow.obj.buyer.country_id
          dataResive.contract_date = new Date(dataResive.contract_date)
          delete dataResive.date_updated 
          delete dataResive.date_created
          res(dataResive)
        })
      },
      _resiveForm: function () {
        return new Promise((res, rej) => {
          if (this.validateForm('.required')) {
            this._resiveDataContract().then((data) => {
              res(data)
            })
          } else {
            this.fire('toast', {
              status: 'connectError', text: 'กรุณากรอกข้อมูลให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
              callback: function () {
                rej('error')
              }
            })
          }
        })
      },
      insertContract: function () {
        // console.log(this.validateForm('.required'));
        this._resiveForm()
          .then((res) => {
            this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
            res.contract_status =  false
            this.dispatchAction('POST_CONTRACT', res)
              .then((response) => {
                this.dispatchAction('GET_CONTRACT_OF_BUYER', res.buyer_id);
                this.fire('toast', {
                  status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                  callback: () => {
                    this.queryFrom('.required').map((el) => { el.reset(); });
                    this.fire('close-drawer')
                  }
                });
              })
          })
          .catch((error) => {
            console.log(error);
          });

      },

      saveContract: function () {
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
          confirmed: (result) => {
            if (result == true) {
              this._resiveForm()
                .then((res) => {
                  // console.log(data);
                  this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
                  this.dispatchAction('PUT_CONTRACT', res)
                    .then((response) => {
                      this.dispatchAction('GET_CONTRACT_OF_BUYER', res.buyer_id);
                      this.dispatchAction('GET_CONTRACT', res.id)
                      this.queryFrom('.required').map((el) => { el.reset(); });
                      this.dispatchAction('SET_STATE', {
                        isInsert: false,
                        btnDisabled: true,
                        hiddend: true
                      })
                      this.fire('toast', {
                        status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                        callback: () => {
                        }
                      });
                    })
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          }
        })
      },
      deleteContract: function () {
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการลบข้อมูลใช่หรือไม่ ?',
          confirmed: (result) => {
            if (result == true) {
              this._resiveForm()
                .then((res) => {
                  // console.log(res);
                  this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
                  this.dispatchAction('DELETE_CONTRACT', res.id)
                    .then((response) => {
                      this.dispatchAction('GET_CONTRACT_OF_BUYER', res.buyer_id);
                      this.fire('toast', {
                        status: 'success', text: 'ลบสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                        callback: () => {
                        }
                      })
                      this.fire('close-drawer')
                    })
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          }
        })
      },
      calcelContract: function () {
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการยกเลิกแก้ข้อมูลใช่หรือไม่ ?',
          confirmed: (result) => {
            if (result == true) {
              this._resiveForm()
                .then((res) => {
                  this.dispatchAction('GET_CONTRACT', res.id)
                  this.dispatchAction('SET_STATE', {
                    isInsert: false,
                    btnDisabled: true,
                    hiddend: true
                  })
                  this.queryFrom('.required').map((el) => { el.reset(); });
                })
            }
          }
        })
      },
      confirmDrawer: function () {
        this.fire('toast', {
          status: 'openDialog',
          text: 'ต้องการยืนยันสัญญาใช่หรือไม่ ?',
          confirmed: (result) => {
            if (result == true) {
              this._resiveForm()
                .then((res) => {
                  res.contract_status = true
                  // console.log(data);
                  this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
                  this.dispatchAction('PUT_CONTRACT', res)
                    .then((response) => {
                      this.dispatchAction('GET_CONTRACT_OF_BUYER', res.buyer_id);
                      this.dispatchAction('GET_CONTRACT', res.id)
                      this.queryFrom('.required').map((el) => { el.reset(); });
                      this.dispatchAction('SET_STATE', {
                        isInsert: false,
                        btnDisabled: true,
                        hiddend: true
                      })
                      this.fire('toast', {
                        status: 'success', text: 'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                        callback: () => {
                        }
                      });
                    })
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          }
        })
      }
      

    });
  </script>
</dom-module>