<link rel="import" href="./../../../../bower_components/polymer/polymer.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-head.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-footer.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">

<dom-module id="list-of-booking-shm-det">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles gl-size page-style">
     :host {
      display: block;
    }

    .textinPut {
      margin-bottom: 30px;
    }

    table {
      border: 0.16px solid #F1F1F1;
      margin-bottom: 16px;
    }

    table.gl-table-default>thead.table-head>tr>th,
    table.gl-table-default>tbody.table-body>tr>td {
      text-align: center;
    }

    table.gl-table-default>tbody.table-body>tr>td {
      cursor: pointer;
    }

    .gl-btn-info {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 14px;
    }

    .title-ber {
      font-size: 35px;
      font-weight: bold;
    }
  </style>
  <template>
    <gl-combo-box placeholder="สัญญาย่อย" items="{{confirmLetterlist}}" item-label-path="label" label="สัญญาย่อย" item-value-path="id"
      on-value-changed="getShowByBook" value="{{cl_id}}">
      <template>
        [[item.label]]
      </template>
    </gl-combo-box>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <gl-form-panel-head set-padding="10px" set-border="1px">

        <div class="addconfirm horizontal end-justified layout">
          <template is="dom-if" if={{clClose}}>
            <div class="title-ber" hidden="[[_isSeleted(cl_id)]]">
              ปิดบัญชี {{setTextCl}}
            </div>
          </template>

          <paper-button raised class="gl-btn-primary" disabled="[[_isSeleted(cl_id)]]" on-tap="createBooking" hidden="{{clClose}}">{{localize.btn_add_booking}}</paper-button>
        </div>

      </gl-form-panel-head>
      <br>
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]"></gl-grid-col>
      </gl-grid-row>

      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>{{localize.label_lot_no}}</th>
            <th>{{localize.label_port_of_destination}}</th>
            <th>{{localize.label_place_of_delivery}}</th>
            <th>{{localize.label_action}}</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <template is="dom-repeat" items="[[bookList]]">
            <tr>
              <td on-tap="getShmDetail" data="[[item]]"> [[item.ship_lot]] </td>
              <td on-tap="getShmDetail" data="[[item]]"> [[item.dest_port.port_name]] </td>
              <td on-tap="getShmDetail" data="[[item]]"> [[item.deli_port.port_name]] </td>
              <td>
                <paper-button class="gl-btn-info gl-small" raised on-tap="btnEditBooking" data="[[item]]">
                  {{localize.btn_detail}}</paper-button>
              </td>
            </tr>
          </template>
          <template is="dom-if" if="[[_isHave(bookList)]]">
            <tr>
              <td colspan="4"> {{localize.text_no_data}}</td>
            </tr>
          </template>
        </tbody>
      </table>
      <!-- </gl-form-panel-body> -->
      <gl-form-panel-footer set-padding="10px 20px 0px 20px">

      </gl-form-panel-footer>
    </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "list-of-booking-shm-det",
      behaviors: [
        ReduxBehavior,
        nylonBehavior, FormatNumberBehavior, g2gLogicBehavior, ValidateFormBehavior
      ],
      properties: {
        localize: {
          statePath: 'i18n.g2g'
        },
        confirmLetterlist: {
          statePath: 'confirmLetter.confirmLetterlist',
          observer: 'get'
        },
        bookList: {
          statePath: 'book.bookList'
        },
        // clClose: {
        //   type: Boolean,
        //   value: false
        // },
        // setTextCl: {
        //   type: String,
        //   value: ''
        // }
      },
      get(d) {
        console.log(d);
      },
      // observers: [
      //   // '_checkConfirm(dataForSelect.conFirmApprove)',
      //   // '_changeGetBook(dataForSelect.bookBl.*)',
      //   '_setDefalseData(dataForSelect.conFirmApprove,dataForSelect.bookBl)',
      //   'checkCl_close(cl_id)'
      // ],
      // _setDefalseData(conFirmApprove, bookBl) {
      //   this.set('cl_id', '')
      //   this.set('data', '')
      //   // console.log(this.cl_id);
      // },
      // checkCl_close(cl_id) {
      //   this.async(() => {
      //     try {

      //       // console.log(cl_id);
      //       // console.log(this.dataForSelect.bookApp);
      //       let sets = this.dataForSelect.bookApp.find((item) => item.cl_id === cl_id)
      //       // console.log(sets);
      //       this.set('setTextCl',`สัญญาที่ ${sets.cl_no} ปริมาณข้าว ${this.formatNumberNoZero(sets.cl_quantity_total)} ตัน`)
      //       let sum = sets.cl_quantity_total - sets.book_quantity
      //       // console.log(sum);
      //       // console.log(this.clClose);
      //       if (sum <= 0) {
      //         this.set('clClose', true)
      //       } else {
      //         this.set('clClose', false)
      //         // console.log(this.clClose);
      //       }

      //       // console.log(sets);
      //     } catch (e) {

      //     }
      //   }, 50);
      // },
      _isSeleted(data) {
        return data === ''
      },
      // setLabel(data) {
      //   try {
      //     // console.log(111111);
      //     // console.log(data);
      //     let con = data.map((data) => data.cl_no = 'สัญญาที่ ' + data.cl_no + ' ปริมาณข้าว ' + this.formatNumberNoZero(data.cl_quantity_total) + ' ตัน'
      //     )
      //     // console.log(con);
      //   } catch (e) {

      //   }

      // },
      // _checkConfirm(conFirmApprove) {
      //   // console.log(conFirmApprove);
      //   // if()
      //   // if (conFirmApprove !== undefined && conFirmApprove !== '' && conFirmApprove.length > 0) {
      //   //   this.set('cl_id', conFirmApprove[conFirmApprove.length - 1].cl_id)
      //   // }
      // },
      // _changeGetBook(data) {
      //   // console.log(data);
      //   // console.log(this.dataForSelect.bookBl !== undefined 
      //   //             && this.dataForSelect.bookBl !== '' 
      //   //             && this.dataForSelect.bookBl.length > 0);
      //   // if (this.dataForSelect.bookBl !== undefined 
      //   //     && this.dataForSelect.bookBl !== '' 
      //   //     && this.dataForSelect.bookBl.length > 0) {
      //   //   let datax = {}
      //   //   datax.detail.value = this.cl_id
      //   //   console.log(this.cl_id);
      //   //   console.log(1111111);
      //   //   console.log(datax);
      //   //   this.getShowByBook(datax)
      //   // } else {
      //   //   console.log(1111212);
      //   //   console.log(this.dataForSelect.bookBl);
      //   // }
      //   // console.log('dfff');
      // },
      // created: function () {
      //   this.nylonLocalizeImport('/i18n-page1.json');
      // },
      // createBooking: function () {
      //   // console.log(this.data);
      //   // console.log(this.dataForSelect.bookApp);
      //   this.fire('_change-component-book', { detail: 'list-of-booking-add' })
      // },
      // getShmDetail: function (e) {
      //   // this.fire('_change-component-book',{detail:'list-of-booking-shm-det'});
      //   // console.log(e.currentTarget.data);
      //   this.fire('_get-shm-detail', { detail: e.currentTarget.data });
      //   let breadcrumbs = datass = [
      //     {
      //       label: this.dataForSelect.contract_name,
      //       href: ''
      //     },
      //     {
      //       label: 'สัญญาย่อยที่ ' + this.book.cl_no,
      //       href: ''
      //     },
      //     {
      //       label: 'เรือลำที่ ' + e.currentTarget.data.ship_lot_no,
      //       href: ''
      //     },
      //   ]
      //   this.fire('_set-breadcrumbs', breadcrumbs)
      // },
      // backWard2BookingInConfirm: function () {
      //   this.fire('_change-component-bl', { detail: 'list-of-booking-in-confirm' })
      // },
      // btnEditBooking: function (e) {
      //   this.fire('_edit-booking-detail', { detail: e.currentTarget.data });
      // },
      getShowByBook: function (e) {

        try {
          if (e.detail.value !== undefined && e.detail.value !== '') {
            console.log(e.detail.value);
            let url = { cl_id: e.detail.value }
            this.dispatchAction('GET_BOOK_LIST', this.genUrl(url));
          }else {
            this.dispatchAction('CLEAR_BOOK_LIST')
          }
        //     (this.dataForSelect.bookBl !== undefined && this.dataForSelect.bookBl !== '')) {
        //     // console.log(e.detail.value);
        //     // console.log(this.dataForSelect.bookBl);
        //     let bookBl = this.g2gClone(this.dataForSelect)
        //     // console.log(bookBl);
        //     this.set('book', bookBl.bookBl.filter((item) => item.cl_id == e.detail.value)[0])
        //     // console.log(this.book);
        //     // console.log(book);
        //     this.fire('_get-booking-detail', { detail: this.book })
        //     // console.log(this.dataForSelect.contract_name);
        //     let breadcrumbs = datass = [
        //       {
        //         label: this.dataForSelect.contract_name,
        //         href: ''
        //       },
        //       {
        //         label: 'สัญญาย่อยที่ ' + this.book.cl_no,
        //         href: ''
        //       },
        //     ]
        //     this.set('dataForSelect.breadcrumbs', breadcrumbs)
        //     this.fire('_set-breadcrumbs', breadcrumbs)
        //   } else {
        //     this.set('data', '')
        //   }
        } catch (e) {
          // console.log(e);
        }

      }
    });
  </script>
</dom-module>