<link rel="import" href="./../../../../bower_components/polymer/polymer.html">
<!--<link rel="import" href="list-of-shm.html">-->
<link rel="import" href="booking-detail.html">
<link rel="import" href="./../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-head.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-footer.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">
<!--<link rel="import" href="list-of-booking-shm-det.html">-->
<dom-module id="list-of-booking">

  <template>
    <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles gl-size page-style">
       :host {
        display: block;
      }

      .textinPut {
        margin-bottom: 30px;
      }

      table {
        border: 0.16px solid #F1F1F1;
        margin-bottom: 16px;
      }

      table.gl-table-default>thead.table-head>tr>th,
      table.gl-table-default>tbody.table-body>tr>td {
        text-align: center;
      }

      table.gl-table-default>tbody.table-body>tr>td {
        cursor: pointer;
      }

      .gl-btn-info {
        font-family: 'CSChatThaiUI', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
      }

      .title-ber {
        font-size: 35px;
        font-weight: bold;
      }
    </style>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="list-of-booking">
        <!--<list-of-booking-shm-det></list-of-booking-shm-det>-->
        <gl-combo-box placeholder="สัญญาย่อย" items="{{confirmLetterlist}}" item-label-path="label" label="สัญญาย่อย" item-value-path="id"
          on-value-changed="getShowByBook" value="{{cl_id}}" on-selected-item-changed="getObjectCl">
          <template>
            [[item.label]]
          </template>
        </gl-combo-box>
        <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
          <gl-form-panel-head set-padding="10px" set-border="1px">

            <div class="addconfirm horizontal end-justified layout">
              <template is="dom-if" if={{clClose}}>
                <div class="title-ber" hidden="[[_isSeleted(cl_id)]]">
                  ปิดบัญชี {{setTextCl}}
                </div>
              </template>

              <paper-button raised class="gl-btn-primary" disabled="[[_isSeleted(cl_id)]]" on-tap="createBooking" hidden="{{clClose}}">{{localize.btn_add_booking}}</paper-button>
            </div>

          </gl-form-panel-head>
          <br>
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]"></gl-grid-col>
          </gl-grid-row>

          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th>{{localize.label_lot_no}}</th>
                <th>{{localize.label_port_of_destination}}</th>
                <th>{{localize.label_place_of_delivery}}</th>
                <th>{{localize.label_action}}</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <template is="dom-repeat" items="[[bookList]]">
                <tr>
                  <td on-tap="getShmDetail" data="[[item]]"> [[item.ship_lot]] </td>
                  <td on-tap="getShmDetail" data="[[item]]"> [[item.dest_port.port_name]] </td>
                  <td on-tap="getShmDetail" data="[[item]]"> [[item.deli_port.port_name]] </td>
                  <td>
                    <paper-button class="gl-btn-info gl-small" raised on-tap="btnEditBooking" data="[[item]]">
                      {{localize.btn_detail}}</paper-button>
                  </td>
                </tr>
              </template>
              <template is="dom-if" if="[[_isHave(bookList)]]">
                <tr>
                  <td colspan="4"> {{localize.text_no_data}}</td>
                </tr>
              </template>
            </tbody>
          </table>
          <!-- </gl-form-panel-body> -->
          <gl-form-panel-footer set-padding="10px 20px 0px 20px">

          </gl-form-panel-footer>
        </gl-form-panel>
      </div>
      <div name="list-of-booking-add">
        <booking-detail></booking-detail>
      </div>
      <div name="list-of-booking-edit">
        <booking-detail></booking-detail>
      </div>
      <div name="list-of-booking-shm-det">
        <!--<list-of-shm page-selected="{{subPageSelected}}" data-selected="{{dataSelected}}" data-for-select="{{dataForSelect}}"></list-of-shm>-->
      </div>
    </iron-pages>

  </template>
  <script>
    Polymer({
      is: "list-of-booking",
      behaviors: [
        ReduxBehavior,
        nylonBehavior, FormatNumberBehavior, g2gLogicBehavior, ValidateFormBehavior
      ],
      properties: {
        localize: {
          statePath: 'i18n.g2g'
        },
        pageSelected: {
          type: String,
          value: 'list-of-booking'
        },
        confirmLetterlist: {
          statePath: 'confirmLetter.confirmLetterlist',
          observer: 'get'
        },
        bookList: {
          statePath: 'book.bookList'
        },
        contractId: {
          statePath: 'commonState.contractId',
          // observer: 'get'
        },
        dataShow: {
          type: Object
        },
        // dataForSelect: {
        //   type: Object,
        //   value: { exporter: [], cl_type_rice: [] }
        // },
        // dataDefault: {
        //   type: Object,
        //   value: { bl_no: '', ship: [{ ship_id: '', ship_voy_no: '' }], surveyor: [{ surveyor_id: '' }] },
        // }
      },
      // observers: [
      //   'getExport(data)',
      //   'setTotalRice(data)',
      //   'setdataSelect(dataForSelect)'
      // ],
      listeners: {
        '_list-book': '_changeIronPage',
        // '_get-booking-detail': '_getBookingDetail',
        // '_get-fire-booking-detail': '_getFireBookingDetail',
        // '_get-fire-group-exporter': '_getFireGroupExporter'
      },
      _isSeleted: function (data) {
        return data === ''
      },
      getObjectCl: function (e) {
        if (e.detail.value !== null) {
          this.set('dataShow', e.detail.value)
          // console.log(e.detail.value);
        }

      },
      btnEditBooking: function (e) {
        let url = { id: e.currentTarget.data.id }
        this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: true,
          hiddend: true
        })
        this.dispatchAction('GET_BOOK_DETAIL', this.genUrl(url))
        this.async(() => {
          this.fire('toast', {
            status: 'success', text: 'โหลดสำเร็จ', callback: () => {
              this.set('pageSelected', 'list-of-booking-edit')
            }
          })
        }, 500)

      },
      getShowByBook: function (e) {

        try {
          if (e.detail.value !== undefined && e.detail.value !== '') {
            // console.log(e.detail.value);
            let url = { cl_id: e.detail.value }
            this.dispatchAction('GET_BOOK_LIST', this.genUrl(url));
          } else {
            this.dispatchAction('CLEAR_BOOK_LIST')
          }
          //     (this.dataForSelect.bookBl !== undefined && this.dataForSelect.bookBl !== '')) {
          //     // console.log(e.detail.value);
          //     // console.log(this.dataForSelect.bookBl);
          //     let bookBl = this.g2gClone(this.dataForSelect)
          //     // console.log(bookBl);
          //     this.set('book', bookBl.bookBl.filter((item) => item.cl_id == e.detail.value)[0])
          //     // console.log(this.book);
          //     // console.log(book);
          //     this.fire('_get-booking-detail', { detail: this.book })
          //     // console.log(this.dataForSelect.contract_name);
          //     let breadcrumbs = datass = [
          //       {
          //         label: this.dataForSelect.contract_name,
          //         href: ''
          //       },
          //       {
          //         label: 'สัญญาย่อยที่ ' + this.book.cl_no,
          //         href: ''
          //       },
          //     ]
          //     this.set('dataForSelect.breadcrumbs', breadcrumbs)
          //     this.fire('_set-breadcrumbs', breadcrumbs)
          //   } else {
          //     this.set('data', '')
          //   }
        } catch (e) {
          // console.log(e);
        }
      },

      _changeIronPage: function (data) {
        this.set('pageSelected', data.detail)
        console.log(data.detail);
      },
      createBooking: function () {

        // console.log(data.detail);
        this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
        let ship_lot = 0
        if (this.bookList.length > 0) {
          ship_lot = this.bookList[0].ship_lot
        }
        let data = {
          contract_id: this.contractId.contract_id,
          contract_no : this.contractId.contract_no,
          cl_id: this.dataShow.id,
          cl_no: this.dataShow.cl_no,
          ship_lot: ship_lot+1
        }
        // console.log(data);
        this.dispatchAction('CLEAR_BOOK_DETAIL',data)
        this.dispatchAction('SET_STATE', {
          isInsert: true,
          btnDisabled: false,
          hiddend: true
        })
        this.async(() => {
          this.fire('toast', {
            status: 'success', text: 'โหลดสำเร็จ', callback: () => {
              this.set('pageSelected','list-of-booking-add')
            }
          })
        }, 500)
      },
      // setPageseleted(e) {
      //   // console.log(1);
      //   this.set('dataForSelect.cl_close',false)
      //   // console.log(111112);
      //   this.set('subPageSelected', 'list-of-booking')
      // },
      // _changeComponentBl: function (data) {
      //   this.set('dataForSelect.cl_close',false)
      //   // this.set('dataForSelect.cl_close', false);
      //   // console.log(data.detail.detail);
      //   this.set('pageSelected', data.detail.detail)
      // },

      // setTotalRice(e) {
      //   // console.log(22222);
      //   // console.log(this.dataForSelect.cl_close);
      //   this.set('dataForSelect.cl_close',false)

      //   // console.log('this.dataForSelect.book>>>',this.dataForSelect.book);
      //   // let bookApp = this.dataForSelect.book.filter((status) => status.cl_status == true)
      //   // // console.log(arr);
      //   // // console.log(bookApp);
      //   // this.set('dataForSelect.bookApp', bookApp);
      //   // this.set('dataForSelect.cl_close', true);
      //   // console.log(111);
      //   // try {
      //   //   if (this.dataForSelect.cl_id != undefined) {
      //   //     console.log('>>>>>1', this.dataForSelect.cl_type_rice.length);
      //   //     this.set('dataForSelect.cl_type_rice', []);
      //   //     let newBooking = this.data.book.filter((rice) => rice.cl_id == this.dataForSelect.cl_id)[0]
      //   //     // console.log(newBooking);
      //   //     if (this.dataForSelect.cl_type_rice.length < 1) {
      //   //       newBooking.cl_type_rice.map((set_name) => {
      //   //         set_name.type_rice_name_th = '(' + set_name.type_rice_id + ') ' + set_name.type_rice_name_th
      //   //         set_name.type_rice_name_en = '(' + set_name.type_rice_id + ') ' + set_name.type_rice_name_en
      //   //       })
      //   //       // console.log(newBooking);
      //   //       console.log(1);
      //   //       this.set('dataForSelect.cl_type_rice', newBooking.cl_type_rice);
      //   //     }
      //   //   }
      //   // } catch (e) {
      //   //   // console.log(e);
      //   // }
      // },
      // _getBookingDetail: function (e) {
      //   // console.log(e.detail);
      //   try {
      //     // console.log(e.detail.detail);
      //     // this.set('dataForSelect.cl_type_rice', 
      //     if (e.detail.detail.cl_id !== 'undefined' && e.detail.detail.cl_id !== '') {
      //       // console.log(e.detail.detail);
      //       this.fire('toast', { status: 'load' });
      //       this.read('./g2g/book/confirm/id/' + e.detail.detail.cl_id, (data) => {
      //         this.dataSelected = data;
      //         // console.log(data);
      //         // console.log('this.data.book',this.data.book);
      //         // e.detail.detail = this.data.book.filter((item) => item.cl_id == e.detail.detail)[0]
      //         // console.log(e.detail.detail);
      //         this.set('dataForSelect.listbooking', data);
      //         let ship_lot_no
      //         if (this.dataSelected.length > 0) {
      //           ship_lot_no = Number(this.dataSelected[0].ship_lot_no) + 1
      //         } else {
      //           ship_lot_no = 1
      //         }
      //         this.set('dataDefault.ship_lot_no', ship_lot_no);
      //         this._changeDataBl('undefined');
      //         this.set('dataForSelect.cl_no', e.detail.detail.cl_no);
      //         this.set('dataForSelect.cl_id', e.detail.detail.cl_id);
      //         // this.set('dataForSelect.cl_close', true);

      //         this.set('dataForSelect.cl_type_rice', e.detail.detail.cl_type_rice);
      //         // }

      //         this.fire('toast', { status: 'load' });
      //       });
      //     }

      //   } catch (e) {

      //   }

      // },
      // getExport(data) {
      //   try {
      //     this.async(() => {
      //       this.set('dataForSelect.exporter', '');
      //       this.set('dataForSelect.exporter', data.exporter);
      //       // console.log(this.data.confirm_letter);
      //       this.set('dataForSelect.conFirmApprove', '');
      //       let conFirmApprove = this.data.confirm_letter.filter((status) => status.cl_status == true)
      //       let arr = []
      //       conFirmApprove.map((data) => {
      //         //  console.log(data);
      //         arr.push({
      //           cl_no: 'สัญญาที่ ' + data.cl_no + ' ปริมาณข้าว ' + this.formatNumberNoZero(data.cl_quantity_total) + ' ตัน',
      //           cl_id: data.cl_id
      //         })
      //       })
      //       // console.log(this.dataForSelect.book);

      //       let bookApp = this.dataForSelect.book.filter((status) => status.cl_status == true)
      //       // console.log(arr);
      //       // console.log(bookApp);
      //       this.set('dataForSelect.cl_close',false)
      //       this.set('dataForSelect.bookApp', bookApp);

      //       this.set('dataForSelect.conFirmApprove', arr);
      //       this.set('dataForSelect.bookBl', this.data.book);
      //       // console.log(this.data);
      //       // console.log(this.dataForSelect);
      //     }, 100);
      //   } catch (e) {

      //   }

      // },
      // _getFireGroupExporter(exporterId) {
      //   //
      //   if (this._checkUndefined(this.oldData)) {
      //     // https://localhost:3001/api/g2g/confirm/exporter?contract_id=37d09c7b-b8b3-407d-abca-89f0cc56da21&exporter_id=ba5526b3-cbfa-482d-b0ac-716df09b47f7
      //     // console.log('exporterId', exporterId);
      //     if (exporterId.detail == '') {
      //       this.set('data', this.oldData)
      //       // console.log(this.data);
      //     } else {
      //       this.read('./g2g/confirm/exporter?contract_id=' + this.oldData.contract_id + '&exporter_id=' + exporterId.detail, (data) => {
      //         // this.data=data;
      //         // console.log();
      //         this.set('data.book', data)
      //       });
      //     }
      //   }
      // },
      // _getFireBookingDetail: function (e) {
      //   try {
      //     // console.log(e.detail.detail.cl_id);
      //     this.read('./g2g/book/confirm/id/' + e.detail.detail.cl_id, (data) => {
      //       this.dataSelected = data;
      //       let ship_lot_no
      //       if (this.dataSelected.length > 0) {
      //         ship_lot_no = Number(this.dataSelected[0].ship_lot_no) + 1
      //       } else {
      //         ship_lot_no = 1
      //       }
      //       this.set('dataDefault.ship_lot_no', ship_lot_no);
      //       this._changeDataBl('undefined');
      //     });
      //   } catch (e) {
      //     // console.log(e);
      //   }

      // },
      // _changeDataBl: function (dateUn) {
      //   this.getDateg2g(dateUn, (date) => {
      //     // console.log('date',date);
      //     // this.set('data.ship', { ship_id: '', ship_voy_no: '' })
      //     this.set('dataDefault.etd_date', date);
      //     this.set('dataDefault.eta_date', date);
      //     this.set('dataDefault.packing_date', date);
      //     this.set('dataDefault.cut_of_date', date);
      //     this.set('dataDefault.product_date', date);
      //     this.set('dataDefault.weight_per_container', 25);
      //   });
      // },

    });
  </script>
</dom-module>