<link rel="import" href="confirm-detail.html">
<link rel="import" href="../../components/month-behavior.html">
<link rel="import" href="./../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../components/g2g-logic-behavior.html">

<dom-module id="list-of-confirm">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles page-style">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    table.gl-table-default {
      width: 100%;
      border: 1px solid #ddd;
      margin: 20px 0px 10px 0px;
    }

    table.gl-table-default>tbody.table-body>tr>td {
      cursor: pointer;
    }

    .combo-box {
      width: 100%;
    }

    .title {
      font-size: var(--font-size-h3);
      text-align: center;
    }
  </style>
  <template>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="listOfConfirm">
        <div class="addconfirm horizontal end-justified layout">
          <!--<paper-button raised class="gl-btn-primary" disabled="[[!dataForSelect.contract_status]]" on-tap="createConfirm">{{localize.btn_add}}</paper-button>-->
          <paper-button raised class="gl-btn-primary" on-tap="createConfirm" disabled="{{!contractId.contract_status}}">{{localize.btn_add}}</paper-button>

        </div>
        <br>
        <div class="title">
          [[title]]
        </div>
        <div class="horizontal layout wrap">
          <div id="combox" class="flex">
            <gl-combo-box id="cl_id" placeholder="ผู้ส่งออกทั้งหมด" items="{{confirmLetterExporterlist}}" item-label-path="label" label="ผู้ส่งออก"
              item-value-path="exporter_id" on-value-changed="getShowByExport" on-selected-item-changed="getObjectConfirm">
              <template>
                [[item.label]]
              </template>
            </gl-combo-box>
          </div>
        </div>

        <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>{{localize.label_ref_no}}</th>
              <th>{{localize.label_quantity_ship}}</th>
              <th>{{localize.label_quantity_confirm}}</th>
              <th>{{localize.label_quantity_confirm_delivery}}</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-repeat" items="[[confirmLetterList]]">
              <tr>
                <td on-tap="getConfirmDetail" data="[[item]]">[[item.cl_no]]</td>
                <td on-tap="getConfirmDetail" data="[[item]]">[[item.count_ship]]</td>
                <td on-tap="getConfirmDetail" data="[[item]]">[[formatNumberNoZero(item.cl_weight)]]</td>
                <td on-tap="getConfirmDetail" data="[[item]]">[[formatNumberNoZero(item.book_weight)]] [[checkMInus(item.cl_weight_balance)]]</td>
                <td>
                  <paper-icon-button id="printShipment" class="crud" icon="print" raised on-tap="printVesel" data="[[item]]"></paper-icon-button>
                  <paper-tooltip for="printShipment" offset="0">Print Invoice</paper-tooltip>
                </td>
              </tr>
            </template>
            <template is="dom-if" if="[[_isHave(confirmLetterList)]]">
              <tr>
                <td colspan="5" style=" text-align: center;"> {{localize.text_no_data}}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <div name="addConfirm">
        <confirm-detail></confirm-detail>
      </div>
      <div name="confirmDetail">
        <confirm-detail></confirm-detail>
      </div>
    </iron-pages>
  </template>
  <script>
    Polymer({
      is: "list-of-confirm",
      behaviors: [
        ReduxBehavior,
        FormatNumberBehavior,
        nylonBehavior,
        MonthBehavior,
        g2gLogicBehavior
        // g2gCongtroller,
        // g2gModelBehavior,
        // nylonLocalizeBehavior,
      ],
      listeners: {
        'back-page-confirm': '_backPageConfirm',
        // 'get-confirm-detail': '_getConfirmDetail'
      },
      // observers: [
      //   '_insertRiceType(data)',
      //   '_changeConfirm(data.exporter)'
      // ],
      // _changeConfirm(data){
      //   // console.log(
      //     return data.map((exporters) => {
      //         exporters.exporter_id = exporters.exporter_id,
      //           exporters.label = '' + exporters.exporter_no + ' [' + exporters.company_taxno + '] ' + exporters.company_name_th,
      //           exporters.company_id = exporters.company_id
      //       })
      // },
      properties: {
        localize: {
          statePath: 'i18n.g2g'
        },
        commonState: {
          statePath: 'commonState.setState'
        },
        title: {
          type: String,
          value: 'แสดงปริมาณการส่งมอบ'
        },
        pageSelected: {
          type: String,
          value: 'listOfConfirm',
          notify: true
        },
        setPage: {
          statePath: 'commonState.setPageAndSearch',
          observer: 'setPageFun'
        },
        confirmLetterList: {
          statePath: 'confirmLetter.confirmLetterlist',
          // observer:'get'
        },
        confirmLetterExporterlist: {
          statePath: 'confirmLetter.confirmLetterExporterlist',
          // observer:'get'
        },
        contractId: {
          statePath: 'commonState.contractId',
          observer: 'get'
        },
      },
      setPageFun: function (data) {
        this.set('pageSelected', data.page)
        this.$$('#cl_id').value = data.search
        this.$$('#cl_id').reset()
      },
      // created: function () {
      //   this.nylonLocalizeImport('/i18n-page1.json');
      // },
      // _insertRiceType: function (data) {
      //   //เพิ่มชนิดข้าวลงไป

      //   try {
      //     // console.log(this.data.contract_type_rice);
      //     this.dataForSelect.contract_type_rice = this.data.contract_type_rice;
      //     this.notifyPath('dataForSelect.contract_type_rice');
      //     this.dataForSelect.contract_id = this.data.contract_id;
      //     this.notifyPath('dataForSelect.contract_id');
      //     this.dataForSelect.contract_quantity_confirm_balance = this.data.contract_quantity_confirm_balance;
      //     this.notifyPath('dataForSelect.contract_quantity_confirm_balance');
      //     let dataContract = this.data.confirm_letter.filter((confirmList) => confirmList.cl_id == this.clId);
      //     this.dataSelected = dataContract[0];
      //   } catch (e) {
      //     // console.log(e);
      //   }
      // },
      createConfirm: function () {
        let data = { cl_no: 0 }
        if (this.confirmLetterList.length !== 0) {
          data.cl_no = this.confirmLetterList[0].cl_no

        }
        data.cl_no++
        data.contract_id = this.contractId.contract_id
        data.contract_no = this.contractId.contract_no
        this.dispatchAction('SET_BREADCRUMBS', [{
          label: 'สัญญาที่ ' + this.contractId.contract_no,
          href: ''
        },
        {
          label: 'เพิ่มงวด',
          href: ''
        },
        ])
        this.fire('toast', { status: 'load' });
        this.dispatchAction('SET_STATE', {
          isInsert: true,
          btnDisabled: false,
          hiddend: true
        })
        this.dispatchAction('CLEAR_CONFIRM', data)
        this.async(() => {
          this.fire('toast', {
            status: 'success', text: 'โหลดสำเร็จ', callback: () => {
              this.pageSelected = 'addConfirm';
            }
          })
        }, 500)

      },
      getConfirmDetail: function (e) {
        this.fire('toast', { status: 'load' });
        let cl = e.currentTarget.data
        // console.log(e.currentTarget.data)
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: true,
          hiddend: true
        })
        this.dispatchAction('SET_BREADCRUMBS', [{
          label: 'สัญญาที่ ' + this.contractId.contract_no,
          href: ''
        },
        {
          label: 'งวดที่ ' + cl.cl_no,
          href: ''
        },
        ])
        this.dispatchAction('GET_CONFIRM_DETAIL', cl.id)
        this.async(() => {
          this.fire('toast', {
            status: 'success', text: 'โหลดสำเร็จ', callback: () => {
              this.pageSelected = 'confirmDetail';
            }
          })
        }, 500)

        //   this.fire('toast', { status: 'load' });
        //   this.dataForSelect.contract_quantity_confirm_balance = this.data.contract_quantity_confirm_balance;
        //   let confirm_letter = this.g2gClone(this.data.confirm_letter)
        //   let data = confirm_letter.filter((cl) => cl.cl_id == e.currentTarget.data.cl_id)[0]
        //   // console.log(data);
        //   let breadcrumbs = datass = [
        //     {
        //       label: this.data.contract_name,
        //       href: ''
        //     },
        //     {
        //       label: 'รายการสัญญาย่อย',
        //       href: ''
        //     },
        //     {
        //       label: 'สัญญาย่อยที่' + data.cl_no,
        //       href: ''
        //     },
        //   ]
        //   this.set('dataForSelect.contract_name', this.data.contract_name)
        //   // th
        //   // console.log(breadcrumbs);
        //   this.fire('_set-breadcrumbs', breadcrumbs)
        //   this.notifyPath('dataForSelect.contract_quantity_confirm_balance');
        //   this.dataSelected = data;
        //   // console.log(e.currentTarget.data.cl_id);
        //   this.pageSelected = 'confirmDetail';
        //   this.fire('toast', { status: 'load' });
      },
      // _getConfirmDetail: function (data) {
      //   // แทนค่าใส่ properties เพื่อรอ _insertRiceType ไปทำงานอีกรอบ
      //   this.clId = data.detail.clId;
      // },
      _backPageConfirm: function (data) {
        this.pageSelected = 'listOfConfirm';
        this.dispatchAction('SET_BREADCRUMBS', [{
          label: 'สัญญาที่ ' + this.contractId.contract_no,
          href: ''
        },
        ])
      },

      printVesel: function (e) {
        window.open(window._config.reportServer + '/api/shipment/report4/' + e.currentTarget.data.cl_id, '1');
        // console.log(e.currentTarget.data);
      },
      checkMInus: function (cl_quantity_tolerance) {
        var str = this.formatNumberNoZero(cl_quantity_tolerance);
        //   // console.log(this.formatNumberNoZero(0));
        if (cl_quantity_tolerance > 0) str = "+" + str;
        return typeof cl_quantity_tolerance === "undefined" ? '' : "(" + str + ")";
      },
      getShowByExport: function (e) {
        // console.log(e);
        try {
          this.set('title', 'แสดงปริมาณการส่งมอบ')
          if (this.contractId.contract_id !== undefined) {
            if (e.currentTarget.value !== undefined && e.currentTarget.value !== '') {
              // let = e.currentTarget.value
              let url = { contract_id: this.contractId.contract_id, status: 'all', exporter_id: e.currentTarget.value }
              this.dispatchAction('GET_CONFIRM_LIST', this.genUrl(url))
            } else {
              let url = { contract_id: this.contractId.contract_id, status: 'all' }
              this.dispatchAction('GET_CONFIRM_LIST', this.genUrl(url))
            }
          }
        } catch (e) {
          // console.log(e);
        }
      },
      getObjectConfirm: function (e){
        console.log(e)
      }

    });
  </script>
</dom-module>