<link rel="import" href="./../../../../bower_components/polymer/polymer.html">
<!--<link rel="import" href="list-of-shm.html">-->
<!--<link rel="import" href="booking-detail.html">-->
<link rel="import" href="./../../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="list-of-booking-shm-det.html">
<dom-module id="list-of-booking">

  <template>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="list-of-booking">
        <list-of-booking-shm-det></list-of-booking-shm-det>
      </div>
      <div name="list-of-booking-add">
        <!--<booking-detail ></booking-detail>-->
      </div>
      <div name="list-of-booking-edit">
        <!--<booking-detail ></booking-detail>-->
      </div>
      <div name="list-of-booking-shm-det">
        <!--<list-of-shm page-selected="{{subPageSelected}}" data-selected="{{dataSelected}}" data-for-select="{{dataForSelect}}"></list-of-shm>-->
      </div>
    </iron-pages>
    ====ss

  </template>
  <script>
    Polymer({
      is: "list-of-booking",
      behaviors: [
        ReduxBehavior, nylonBehavior
      ],
      properties: {
        localize: {
          statePath: 'i18n.g2g'
        },
        pageSelected: {
          type: String,
          value: 'list-of-booking'
        }
      // dataSelected: {
      //   type: Array
      // },
      // dataForSelect: {
      //   type: Object,
      //   value: { exporter: [], cl_type_rice: [] }
      // },
      // dataDefault: {
      //   type: Object,
      //   value: { bl_no: '', ship: [{ ship_id: '', ship_voy_no: '' }], surveyor: [{ surveyor_id: '' }] },
      // }
      },
      // behaviors: [
      // ReduxBehavior,
      //   g2gModelBehavior,
      //   g2gCongtroller,
      //   FormatNumberBehavior
      // ],
      // observers: [
      //   'getExport(data)',
      //   'setTotalRice(data)',
      //   'setdataSelect(dataForSelect)'
      // ],
      // listeners: {
      //   '_change-component-bl': '_changeComponentBl',
      //   '_get-booking-detail': '_getBookingDetail',
      //   '_get-fire-booking-detail': '_getFireBookingDetail',
      //   '_get-fire-group-exporter': '_getFireGroupExporter'
      // },
      // setdataSelect(data) {

      // },
      // setPageseleted(e) {
      //   // console.log(1);
      //   this.set('dataForSelect.cl_close',false)
      //   // console.log(111112);
      //   this.set('subPageSelected', 'list-of-booking')
      // },
      // _changeComponentBl: function (data) {
      //   this.set('dataForSelect.cl_close',false)
      //   // this.set('dataForSelect.cl_close', false);
      //   // console.log(data.detail.detail);
      //   this.set('pageSelected', data.detail.detail)
      // },

      // setTotalRice(e) {
      //   // console.log(22222);
      //   // console.log(this.dataForSelect.cl_close);
      //   this.set('dataForSelect.cl_close',false)

      //   // console.log('this.dataForSelect.book>>>',this.dataForSelect.book);
      //   // let bookApp = this.dataForSelect.book.filter((status) => status.cl_status == true)
      //   // // console.log(arr);
      //   // // console.log(bookApp);
      //   // this.set('dataForSelect.bookApp', bookApp);
      //   // this.set('dataForSelect.cl_close', true);
      //   // console.log(111);
      //   // try {
      //   //   if (this.dataForSelect.cl_id != undefined) {
      //   //     console.log('>>>>>1', this.dataForSelect.cl_type_rice.length);
      //   //     this.set('dataForSelect.cl_type_rice', []);
      //   //     let newBooking = this.data.book.filter((rice) => rice.cl_id == this.dataForSelect.cl_id)[0]
      //   //     // console.log(newBooking);
      //   //     if (this.dataForSelect.cl_type_rice.length < 1) {
      //   //       newBooking.cl_type_rice.map((set_name) => {
      //   //         set_name.type_rice_name_th = '(' + set_name.type_rice_id + ') ' + set_name.type_rice_name_th
      //   //         set_name.type_rice_name_en = '(' + set_name.type_rice_id + ') ' + set_name.type_rice_name_en
      //   //       })
      //   //       // console.log(newBooking);
      //   //       console.log(1);
      //   //       this.set('dataForSelect.cl_type_rice', newBooking.cl_type_rice);
      //   //     }
      //   //   }
      //   // } catch (e) {
      //   //   // console.log(e);
      //   // }
      // },
      // _getBookingDetail: function (e) {
      //   // console.log(e.detail);
      //   try {
      //     // console.log(e.detail.detail);
      //     // this.set('dataForSelect.cl_type_rice', 
      //     if (e.detail.detail.cl_id !== 'undefined' && e.detail.detail.cl_id !== '') {
      //       // console.log(e.detail.detail);
      //       this.fire('toast', { status: 'load' });
      //       this.read('./g2g/book/confirm/id/' + e.detail.detail.cl_id, (data) => {
      //         this.dataSelected = data;
      //         // console.log(data);
      //         // console.log('this.data.book',this.data.book);
      //         // e.detail.detail = this.data.book.filter((item) => item.cl_id == e.detail.detail)[0]
      //         // console.log(e.detail.detail);
      //         this.set('dataForSelect.listbooking', data);
      //         let ship_lot_no
      //         if (this.dataSelected.length > 0) {
      //           ship_lot_no = Number(this.dataSelected[0].ship_lot_no) + 1
      //         } else {
      //           ship_lot_no = 1
      //         }
      //         this.set('dataDefault.ship_lot_no', ship_lot_no);
      //         this._changeDataBl('undefined');
      //         this.set('dataForSelect.cl_no', e.detail.detail.cl_no);
      //         this.set('dataForSelect.cl_id', e.detail.detail.cl_id);
      //         // this.set('dataForSelect.cl_close', true);

      //         this.set('dataForSelect.cl_type_rice', e.detail.detail.cl_type_rice);
      //         // }

      //         this.fire('toast', { status: 'load' });
      //       });
      //     }

      //   } catch (e) {

      //   }

      // },
      // getExport(data) {
      //   try {
      //     this.async(() => {
      //       this.set('dataForSelect.exporter', '');
      //       this.set('dataForSelect.exporter', data.exporter);
      //       // console.log(this.data.confirm_letter);
      //       this.set('dataForSelect.conFirmApprove', '');
      //       let conFirmApprove = this.data.confirm_letter.filter((status) => status.cl_status == true)
      //       let arr = []
      //       conFirmApprove.map((data) => {
      //         //  console.log(data);
      //         arr.push({
      //           cl_no: 'สัญญาที่ ' + data.cl_no + ' ปริมาณข้าว ' + this.formatNumberNoZero(data.cl_quantity_total) + ' ตัน',
      //           cl_id: data.cl_id
      //         })
      //       })
      //       // console.log(this.dataForSelect.book);

      //       let bookApp = this.dataForSelect.book.filter((status) => status.cl_status == true)
      //       // console.log(arr);
      //       // console.log(bookApp);
      //       this.set('dataForSelect.cl_close',false)
      //       this.set('dataForSelect.bookApp', bookApp);

      //       this.set('dataForSelect.conFirmApprove', arr);
      //       this.set('dataForSelect.bookBl', this.data.book);
      //       // console.log(this.data);
      //       // console.log(this.dataForSelect);
      //     }, 100);
      //   } catch (e) {

      //   }

      // },
      // _getFireGroupExporter(exporterId) {
      //   //
      //   if (this._checkUndefined(this.oldData)) {
      //     // https://localhost:3001/api/g2g/confirm/exporter?contract_id=37d09c7b-b8b3-407d-abca-89f0cc56da21&exporter_id=ba5526b3-cbfa-482d-b0ac-716df09b47f7
      //     // console.log('exporterId', exporterId);
      //     if (exporterId.detail == '') {
      //       this.set('data', this.oldData)
      //       // console.log(this.data);
      //     } else {
      //       this.read('./g2g/confirm/exporter?contract_id=' + this.oldData.contract_id + '&exporter_id=' + exporterId.detail, (data) => {
      //         // this.data=data;
      //         // console.log();
      //         this.set('data.book', data)
      //       });
      //     }
      //   }
      // },
      // _getFireBookingDetail: function (e) {
      //   try {
      //     // console.log(e.detail.detail.cl_id);
      //     this.read('./g2g/book/confirm/id/' + e.detail.detail.cl_id, (data) => {
      //       this.dataSelected = data;
      //       let ship_lot_no
      //       if (this.dataSelected.length > 0) {
      //         ship_lot_no = Number(this.dataSelected[0].ship_lot_no) + 1
      //       } else {
      //         ship_lot_no = 1
      //       }
      //       this.set('dataDefault.ship_lot_no', ship_lot_no);
      //       this._changeDataBl('undefined');
      //     });
      //   } catch (e) {
      //     // console.log(e);
      //   }

      // },
      // _changeDataBl: function (dateUn) {
      //   this.getDateg2g(dateUn, (date) => {
      //     // console.log('date',date);
      //     // this.set('data.ship', { ship_id: '', ship_voy_no: '' })
      //     this.set('dataDefault.etd_date', date);
      //     this.set('dataDefault.eta_date', date);
      //     this.set('dataDefault.packing_date', date);
      //     this.set('dataDefault.cut_of_date', date);
      //     this.set('dataDefault.product_date', date);
      //     this.set('dataDefault.weight_per_container', 25);
      //   });
      // },

    });
  </script>
</dom-module>