<link rel="import" href="confirm-detail.html">
<link rel="import" href="../../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="list-of-confirm">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles page-style">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    table.gl-table-default {
      width: 100%;
      border: 1px solid #ddd;
      margin: 20px 0px 10px 0px;
    }    
    table.gl-table-default>tbody.table-body>tr>td {
      cursor: pointer;
    }    
    .combo-box {
      width: 100%;
    }    
    .title {
      font-size: var(--font-size-h3);
      text-align: center;
    }
  </style>
  <template>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="listOfConfirm">
        <div class="addconfirm horizontal end-justified layout">
          <paper-button raised class="gl-btn-primary" disabled="[[!dataForSelect.contract_status]]" on-tap="createConfirm">{{localize.btn_add}}</paper-button>
        </div>
        <br>
        <div class="title">
          [[title]]
        </div>
        <div class="horizontal layout wrap">
          <div id="combox" class="flex">
            <gl-combo-box placeholder="ผู้ส่งออกทั้งหมด" items="{{dataForSelect.exporters}}" item-label-path="label" label="ผู้ส่งออก" item-value-path="exporter_id"
              on-value-changed="getShowByExport"  value="{{data.exporter_idss}}">
              <template>
                [[item.label]]
              </template>
            </gl-combo-box>
          </div>
        </div>
        
        <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>{{localize.label_ref_no}}</th>
              <th>{{localize.label_quantity_ship}}</th>
              <th>{{localize.label_quantity_confirm}}</th>
              <th>{{localize.label_quantity_confirm_delivery}}</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-repeat" items="[[data.book]]">
              <tr>
                <td on-tap="getConfirmDetail" data="[[item]]">[[item.cl_no]]</td>
                <td on-tap="getConfirmDetail" data="[[item]]">[[item.ship_lot_no_lastest]]</td>
                <td on-tap="getConfirmDetail" data="[[item]]">[[formatNumberNoZero(item.cl_quantity_total)]]</td>
                <td on-tap="getConfirmDetail" data="[[item]]">[[formatNumberNoZero(item.book_quantity)]] [[checkMInus(item.cl_quantity_tolerance)]]</td>
                <td>
                  <paper-icon-button id="printShipment" class="crud" icon="print" raised on-tap="printVesel" data="[[item]]"></paper-icon-button>
                  <paper-tooltip for="printShipment" offset="0">Print Invoice</paper-tooltip>
                </td>
              </tr>
            </template>
            <template is="dom-if" if="[[_isHave(data.book)]]">
              <tr>
                <td colspan="5" style=" text-align: center;"> {{localize.text_no_data}}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <div name="addConfirm">
        <confirm-detail data-for-select="[[dataForSelect]]" is-view-seleted="[[!isEdit]]" is-input-disabled="[[isInputDisabled]]"></confirm-detail>
      </div>
      <div name="confirmDetail">
        <confirm-detail data-for-select="[[dataForSelect]]" is-view-seleted="[[isEdit]]" is-input-disabled="[[!isInputDisabled]]"
          data="[[dataSelected]]"></confirm-detail>
      </div>
    </iron-pages>
  </template>
  <script>
    Polymer({
      is: "list-of-confirm",
      behaviors: [
        ReduxBehavior,
        FormatNumberBehavior,
        nylonBehavior,
        MonthBehavior
        // g2gCongtroller,
        // g2gModelBehavior,
        // nylonLocalizeBehavior,
      ],
      // listeners: {
      //   'back-page-confirm': '_backPageConfirm',
      //   'get-confirm-detail': '_getConfirmDetail'
      // },
      // observers: [
      //   '_insertRiceType(data)',
      //   '_changeConfirm(data.exporter)'
      // ],
      // _changeConfirm(data){
      //   // console.log(
      //     return data.map((exporters) => {
      //         exporters.exporter_id = exporters.exporter_id,
      //           exporters.label = '' + exporters.exporter_no + ' [' + exporters.company_taxno + '] ' + exporters.company_name_th,
      //           exporters.company_id = exporters.company_id
      //       })
      // },
      properties: {
        localize:{
          statePath : 'i18n.g2g'
        },
        title: {
          type: String,
          value: 'แสดงปริมาณการส่งมอบ'
        },
        pageSelected: {
          type: String,
          value: 'listOfConfirm',
          notify: true
        },
        dataForSelect: {
          type: Object,
          value: { contract_type_rice: [] }
        },
        dataSelected: {
          type: Object
        },
        clId: {
          type: String,
        }
      },
      // created: function () {
      //   this.nylonLocalizeImport('/i18n-page1.json');
      // },
      // _insertRiceType: function (data) {
      //   //เพิ่มชนิดข้าวลงไป

      //   try {
      //     // console.log(this.data.contract_type_rice);
      //     this.dataForSelect.contract_type_rice = this.data.contract_type_rice;
      //     this.notifyPath('dataForSelect.contract_type_rice');
      //     this.dataForSelect.contract_id = this.data.contract_id;
      //     this.notifyPath('dataForSelect.contract_id');
      //     this.dataForSelect.contract_quantity_confirm_balance = this.data.contract_quantity_confirm_balance;
      //     this.notifyPath('dataForSelect.contract_quantity_confirm_balance');
      //     let dataContract = this.data.confirm_letter.filter((confirmList) => confirmList.cl_id == this.clId);
      //     this.dataSelected = dataContract[0];
      //   } catch (e) {
      //     // console.log(e);
      //   }
      // },
      // createConfirm: function () {
      //   this.pageSelected = 'addConfirm';
      // },
      // getConfirmDetail: function (e) {
      //   this.fire('toast', { status: 'load' });
      //   this.dataForSelect.contract_quantity_confirm_balance = this.data.contract_quantity_confirm_balance;
      //   let confirm_letter = this.g2gClone(this.data.confirm_letter)
      //   let data = confirm_letter.filter((cl) => cl.cl_id == e.currentTarget.data.cl_id)[0]
      //   // console.log(data);
      //   let breadcrumbs = datass = [
      //     {
      //       label: this.data.contract_name,
      //       href: ''
      //     },
      //     {
      //       label: 'รายการสัญญาย่อย',
      //       href: ''
      //     },
      //     {
      //       label: 'สัญญาย่อยที่' + data.cl_no,
      //       href: ''
      //     },
      //   ]
      //   this.set('dataForSelect.contract_name', this.data.contract_name)
      //   // th
      //   // console.log(breadcrumbs);
      //   this.fire('_set-breadcrumbs', breadcrumbs)
      //   this.notifyPath('dataForSelect.contract_quantity_confirm_balance');
      //   this.dataSelected = data;
      //   // console.log(e.currentTarget.data.cl_id);
      //   this.pageSelected = 'confirmDetail';
      //   this.fire('toast', { status: 'load' });
      // },
      // _getConfirmDetail: function (data) {
      //   // แทนค่าใส่ properties เพื่อรอ _insertRiceType ไปทำงานอีกรอบ
      //   this.clId = data.detail.clId;
      // },
      // _backPageConfirm: function (data) {
      //   this.pageSelected = 'listOfConfirm';
      // },

      // printVesel: function (e) {
      //   window.open(window._config.reportServer+'/api/shipment/report4/' + e.currentTarget.data.cl_id, '1');
      //   // console.log(e.currentTarget.data);
      // },
      // checkMInus(cl_quantity_tolerance) {
      //   var str = this.formatNumberNoZero(cl_quantity_tolerance);
      //   // console.log(this.formatNumberNoZero(0));
      //   if (cl_quantity_tolerance > 0) str = "+" + str;
      //   return typeof cl_quantity_tolerance === "undefined" ? '' : "(" + str + ")";
      // },
      // getShowByExport(e) {
      //   // console.log(e);
      //   try {
      //     this.set('title', 'แสดงปริมาณการส่งมอบ')
          
      //     if (e.currentTarget.value !== undefined && e.currentTarget.value !== '') {
      //       // console.log(e.currentTarget.value)
      //       // this.set('data', this.oldData)
      //       this.read('./g2g/confirm/exporter?contract_id=' + this.data.contract_id + '&exporter_id=' + e.currentTarget.value, (data) => {
      //         // this.data=data;
      //         // console.log();
      //         this.set('data.book', data)
      //       });
      //     } else {
      //       // console.log(this.oldData);
      //       // console.log(this.data)
      //       // console.log(this.dataForSelect)
      //       // get-list-confirm
      //       this.fire('get-list-confirm',{contractId:this.dataForSelect.contract_id})
      //       // this.set('data.book', this.oldData.book)
      //     }
      //   } catch (e) {
      //     // console.log(e);
      //   }
      // }

    });
  </script>
</dom-module>