<link rel="import" href="./../../../../bower_components/polymer/polymer.html">
<link rel="import" href="list-of-shm.html">
<link rel="import" href="booking-detail.html">
<link rel="import" href="./../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-combo-box.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-head.html">
<link rel="import" href="./../../../../bower_components/gl-form/gl-form-panel-footer.html">
<link rel="import" href="./../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="./../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/g2g-logic-behavior.html">

<link rel="import" href="./shm-det-exporter.html">

<!--<link rel="import" href="list-of-booking-exporter.html">-->
<dom-module id="list-of-booking">

  <template>
    <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles page-style">
       :host {
        display: block;
      }

      .textinPut {
        margin-bottom: 30px;
      }

      table {
        border: 0.16px solid #F1F1F1;
        margin-bottom: 16px;
      }

      table.gl-table-default>thead.table-head>tr>th,
      table.gl-table-default>tbody.table-body>tr>td {
        text-align: center;
      }

      table.gl-table-default>tbody.table-body>tr>td {
        cursor: pointer;
      }

      .gl-btn-info {
        font-family: 'CSChatThaiUI', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
      }

      .title-ber {
        font-size: 35px;
        font-weight: bold;
      }
    </style>
    <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
      <div name="list-of-booking">
        <!--<list-of-booking-exporter></list-of-booking-exporter>-->
        <gl-combo-box id="cl_id" placeholder="{{localizeConfirmLetter.ref_no}}" items="{{confirmLetterlist}}" item-label-path="label"
          label="{{localizeConfirmLetter.ref_no}}" item-value-path="id" on-value-changed="getShowByBook" value="{{cl_id}}"
          on-selected-item-changed="getObjectCl">
          <template>
            [[item.label]]
          </template>
        </gl-combo-box>
        <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
          <gl-form-panel-head set-padding="10px" set-border="1px">
            <paper-button raised class="gl-btn-primary" disabled="[[_isSeleted(cl_id)]]" on-tap="createBooking" hidden="{{clClose}}">{{localizeBook.add_booking}}</paper-button>

          </gl-form-panel-head>
          <br>
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]"></gl-grid-col>
          </gl-grid-row>
          <div class="flex searchInput horizontal center-justified layout">
            <!--<div class="flex title">{{localize.contract_name}} : [[contractId.contract_name]]</div>-->
            <div class="flex horizontal end-justified layout">
              <div class="labelSearch">{{localizeBook.ship_lot}}</div>{{_searchInArray(searchInput)}}
              <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
              <paper-icon-button icon="search"></paper-icon-button>
              </paper-input>
            </div>
          </div>
          <table class="gl-table-default">
            <thead class="table-head">
              <tr>
                <th>{{localizeBook.lot_no}}</th>
                <th>{{localizeBook.port_of_destination}}</th>
                <th>{{localizeBook.place_of_delivery}}</th>
                <th>{{localizeCommon.action}}</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <template is="dom-repeat" items="{{bookList}}">
                <tr hidden="{{item.hidden}}">
                  <td on-tap="getBookingExporter" data="[[item]]"> [[item.ship_lot]] </td>
                  <td on-tap="getBookingExporter" data="[[item]]"> [[item.dest_port.port_name]] </td>
                  <td on-tap="getBookingExporter" data="[[item]]"> [[item.deli_port.port_name]] </td>
                  <td>
                    <paper-button class="gl-btn-info gl-small" raised on-tap="btnEditBooking" data="[[item]]">
                      {{localizeCommon.detail}}</paper-button>
                  </td>
                </tr>
              </template>
              <template is="dom-if" if="[[_isShow(bookList,bookList.*)]]">
                <tr>
                  <td colspan="4"> {{localizeCommon.no_data}}</td>
                </tr>
              </template>
            </tbody>
          </table>
          <!-- </gl-form-panel-body> -->
          <gl-form-panel-footer set-padding="10px 20px 0px 20px">

          </gl-form-panel-footer>
        </gl-form-panel>
      </div>
      <div name="list-of-booking-add">
        <booking-detail></booking-detail>
      </div>
      <div name="list-of-booking-edit">
        <booking-detail></booking-detail>
      </div>
      <div name="list-of-booking-exporter">
        <list-of-shm></list-of-shm>
      </div>
      <div name="list-of-booking-exporter-detail">
        <shm-det-exporter></shm-det-exporter>
        <!--<list-of-shm></list-of-shm>-->
      </div>
    </iron-pages>

  </template>
  <script>
    Polymer({
      is: "list-of-booking",
      behaviors: [
        ReduxBehavior,
        nylonBehavior, FormatNumberBehavior, g2gLogicBehavior, ValidateFormBehavior
      ],
      properties: {
        localizeBook: {
          statePath: 'i18n.book'
        },
        localizeContract: {
          statePath: 'i18n.contract'
        },
        localizeCommon: {
          statePath: 'i18n.common'
        },
        localizeConfirmLetter: {
          statePath: 'i18n.confirmLetter'
        },
        pageSelected: {
          type: String,
          value: 'list-of-booking'
        },
        setPage: {
          statePath: 'commonState.setPageAndSearch',
          observer: 'setPageFun'
        },
        confirmLetterlist: {
          statePath: 'confirmLetter.confirmLetterlist',
          observer: 'setConfirm'
        },
        bookList: {
          statePath: 'book.bookList'
        },
        contractId: {
          statePath: 'commonState.contractId',
          // observer: 'get'
        },
        dataShow: {
          type: Object
        },
        // dataForSelect: {
        //   type: Object,
        //   value: { exporter: [], cl_type_rice: [] }
        // },
        // dataDefault: {
        //   type: Object,
        //   value: { bl_no: '', ship: [{ ship_id: '', ship_voy_no: '' }], surveyor: [{ surveyor_id: '' }] },
        // }
      },
      // observers: [
      //   'getExport(data)',
      //   'setTotalRice(data)',
      //   'setdataSelect(dataForSelect)'
      // ],
      listeners: {
        '_list-book': '_changeIronPage',
        '_openExporter': 'openExporter',
        // '_get-fire-booking-detail': '_getFireBookingDetail',
        // '_get-fire-group-exporter': '_getFireGroupExporter'
      },
      _searchInArray: function (searchInput) {
        try {
          for (var index = 0; index < this.bookList.length; index++) {
            if (String(this.bookList[index].ship_lot).search(String(searchInput)) > -1) {

              this.set('bookList.' + index + '.hidden', false)
            } else {
              this.set('bookList.' + index + '.hidden', true)
            }
          }
        } catch (e) {

        }

      },
      setPageFun: function (data) {
        this.set('pageSelected', data.page)
        this.$$('#cl_id').value = data.search
        this.$$('#cl_id').reset()
        // console.log(0)
      },
      setConfirm: function (data) {
        if (data.length > 0)
          this.$$('#cl_id').value = data[0].id
      },
      _isSeleted: function (data) {
        return data === ''
      },
      getObjectCl: function (e) {
        try {
          if (e.detail.value !== null) {
            this.set('searchInput','')
            this.set('dataShow', e.detail.value)
            // console.log(e.detail.value);
            let clData = { cl_id: e.detail.value.id, cl_no: e.detail.value.cl_no }
            this.dispatchAction('SET_CONFIRM_ID', clData)
            // console.log(this.contractId)
            this.dispatchAction('SET_BREADCRUMBS', [{
              label: 'สัญญาที่ ' + this.contractId.contract_no,
              href: ''
            },
            {
              label: 'งวดที่ ' + e.detail.value.cl_no,
              href: ''
            },
            ])
          }
        } catch (e) {
          // console.log(e);
        }

      },
      btnEditBooking: function (e) {
        let url = { id: e.currentTarget.data.id }
        this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: true,
          hiddend: true
        })
        this.dispatchAction('SET_BREADCRUMBS', [{
          label: 'สัญญาที่ ' + this.contractId.contract_no,
          href: ''
        },
        {
          label: 'งวดที่ ' + this.dataShow.cl_no,
          href: ''
        },
        {
          label: 'เรือลำที่ ' + e.currentTarget.data.ship_lot,
          href: ''
        },
        ])
        this.dispatchAction('GET_BOOK_DETAIL', this.genUrl(url))

        this.async(() => {
          this.fire('toast', {
            status: 'success', text: 'โหลดสำเร็จ', callback: () => {
              this.set('pageSelected', 'list-of-booking-edit')
            }
          })
        }, 500)

      },
      getShowByBook: function (e) {

        try {
          if (e.detail.value !== undefined && e.detail.value !== '') {
            // console.log(e.detail.value);
            let url = { cl_id: e.detail.value }

            this.dispatchAction('GET_BOOK_LIST', this.genUrl(url));
            this.dispatchAction('GET_BOOK_HAMONIZE_LIST', this.genUrl(url));
            // GET_BOOK_HAMONIZE_LIST
          } else {
            this.dispatchAction('CLEAR_BOOK_LIST')
          }
        } catch (e) {
          // console.log(e);
        }
      },

      _changeIronPage: function (data) {
        this.set('pageSelected', data.detail)
      },
      createBooking: function () {
        try {
          // console.log(data.detail);
          this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
          let ship_lot = 0
          if (this.bookList.length > 0) {
            ship_lot = this.bookList[0].ship_lot
          }
          let data = {
            contract_id: this.contractId.contract_id,
            contract_no: this.contractId.contract_no,
            cl_id: this.dataShow.id,
            cl_no: this.dataShow.cl_no,
            ship_lot: ship_lot + 1
          }
          this.dispatchAction('SET_BREADCRUMBS', [{
            label: 'สัญญาที่ ' + data.contract_no,
            href: ''
          },
          {
            label: 'งวดที่ ' + data.cl_no,
            href: ''
          },
          {
            label: 'เพิ่มลำเรือ ',
            href: ''
          },
          ])
          // console.log(data);
          this.dispatchAction('CLEAR_BOOK_DETAIL', data)
          this.dispatchAction('SET_STATE', {
            isInsert: true,
            btnDisabled: false,
            hiddend: true
          })
          this.async(() => {
            this.fire('toast', {
              status: 'success', text: 'โหลดสำเร็จ', callback: () => {
                this.set('pageSelected', 'list-of-booking-add')
              }
            })
          }, 500)
        } catch (e) {
          //   // console.log(e);
        }
      },
      getBookingExporter: function (e) {
        // console.log(e.currentTarget.data);
        this.dispatchAction('GET_COMMON_EXPORTER_LIST')

        // console.log(1111);
        let url = { book_id: e.currentTarget.data.id, id: e.currentTarget.data.id }
        let bookData = {
          book_id: e.currentTarget.data.id,
          ship_lot: e.currentTarget.data.ship_lot
        }
        this.dispatchAction('GET_BOOK_NO', this.genUrl(url))
        this.dispatchAction('SET_BOOK_ID', bookData)
        this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: true,
          hiddend: true
        })
        this.dispatchAction('SET_BREADCRUMBS', [{
          label: 'สัญญาที่ ' + this.contractId.contract_no,
          href: ''
        },
        {
          label: 'งวดที่ ' + this.dataShow.cl_no,
          href: ''
        },
        {
          label: 'เรือลำที่ ' + e.currentTarget.data.ship_lot,
          href: ''
        },
        ])
        this.dispatchAction('GET_BOOK_EXPORTER_LIST', this.genUrl(url))
        this.async(() => {
          this.fire('toast', {
            status: 'success', text: 'โหลดสำเร็จ', callback: () => {
              this.set('pageSelected', 'list-of-booking-exporter')
            }
          })
        }, 500)
      },
      openExporter(e) {
        console.log(e);
        let url = { book_id: e.detail.id, id: e.detail.id }
        let bookData = {
          book_id: e.detail.id,
          ship_lot: e.detail.ship_lot
        }
        this.dispatchAction('GET_BOOK_NO', this.genUrl(url))
        this.dispatchAction('SET_BOOK_ID', bookData)
        this.fire('toast', { status: 'load' }); //คำสั่งสำหรับเปิด toast load
        this.dispatchAction('SET_STATE', {
          isInsert: false,
          btnDisabled: true,
          hiddend: true
        })
        this.dispatchAction('SET_BREADCRUMBS', [{
          label: 'สัญญาที่ ' + this.contractId.contract_no,
          href: ''
        },
        {
          label: 'งวดที่ ' + this.dataShow.cl_no,
          href: ''
        },
        {
          label: 'เรือลำที่ ' + e.detail.ship_lot,
          href: ''
        },
        ])
        this.dispatchAction('GET_BOOK_EXPORTER_LIST', this.genUrl(url))
        this.async(() => {
          this.fire('toast', {
            status: 'success', text: 'โหลดสำเร็จ', callback: () => {
              this.set('pageSelected', 'list-of-booking-exporter')
            }
          })
        }, 500)
      },
      

    });
  </script>
</dom-module>