<dom-module id="detail-company">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 20px 0px 20px 0px;
    }
    paper-icon-button {
      margin-top: 20px;
    }
    .padding {
      padding: 20px;
    }
    .text {
      margin-top: 25px;
      font-size: var(--font-size-h5);
    }
  </style>
  <template>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
        <div class="text" style="text-align: right;">สถานะ : {{data.approve_status_name}}</div>
      </gl-grid-col>
    </gl-grid-row>

    <div class="title">ข้อมูลรายละเอียด</div>
    <gl-form-panel set-border="0">

      [[checkStatus(data.approve_status)]]

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input hidden id="input-no" label="เลขประจำตัวผู้ส่งออกข้าว :" value="{{data.exporter_no_name}}" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>


      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="เลขประจำตัวผู้เสียภาษี :" value="{{data.company_taxno}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="ชื่อบริษัท :" value="{{data.company_name_th}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="ชื่อบริษัท (อังกฤษ) :" value="{{data.company_name_en}}" disabled></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="ที่อยู่ :" value="{{data.company_country_th}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
          <gl-form-textarea label="ที่อยู่ (อังกฤษ) :" value="{{data.company_country_en}}" disabled></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea label="หมายเลขโทรศัพท์ :" value="{{data.company_phone}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="FAX :" value="{{data.company_fax}}" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
      <div class="horizontal layout">
        <div class="text">รายชื่อคณะกรรมการ</div>
      </div>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <template is="dom-repeat" items="{{data.company_agent}}">
            <gl-form-input label="ชื่อกรรมการ" auto-validate error-message="กรุณาใส่ชื่อคณะกรรมการ" required value="{{item.agent_name}}"
              no-label-float disabled></gl-form-input>
          </template>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input hidden id="input-remark" always-float-label label="หมายเหตุ : " value="{{data.company_remark}}" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
    </gl-form-panel>

  </template>
  <script>
    Polymer({
      is: "detail-company",
      behaviors: [
        // gl.behavior.core
      ],
      properties: {
        data: {
          type: Object,
          notify: true
        }
      },
      backPage: function () {
        this.fire('backPage');
      },
      checkStatus: function (val) {
        if (typeof val != 'undefined' && val != undefined) {
          if (val == 'request') {
            this.$$('#input-no').setAttribute("hidden", "hidden");
            this.$$('#input-remark').setAttribute("hidden", "hidden");
          }
          else if (val == 'reject') {
            this.$$('#input-no').setAttribute("hidden", "hidden");
            this.$$('#input-remark').removeAttribute("hidden");
          }
          else if (val == 'approve') {
            this.$$('#input-no').removeAttribute("hidden");
            this.$$('#input-remark').setAttribute("hidden", "hidden");
          }
        }
      }
    });
  </script>
</dom-module>